body {
    hyphens: none;
    font-family: "Nunito-sans", "Nunito";
    font-weight: 300;
    line-height: 1.6;
    font-size: $default-font-size;
    hyphens: auto;
}

%heading-primary {
    font-family: "Playfair-display";
    font-size: 4rem;
    font-weight: 700;
    line-height: 7.5rem;
}

%heading-secondary {
    font-family: "Playfair-display";
    font-size: $header-font-size;
    margin-bottom: 5rem;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 4.9rem;
}

.heading-primary {
    &--white {
        @extend %heading-primary;
        color: $color-white;
    }
    &--black {
        @extend %heading-primary;
        color: #333;
    }
}

.heading-secondary {
    &--black {
        @extend %heading-secondary;
        color: #333;
    }

    &--white {
        @extend %heading-secondary;
        color: $color-white;
    }
    &--u {
        text-transform: uppercase;
    }

    &__sub {
        &--black {
            @extend %heading-sub;
            color: $color-black;
        }
        &--pink {
            @extend %heading-sub;

            color: $color-tertiary;
        }
        &--white {
            @extend %heading-sub;

            color: $color-white;
        }
    }
}

.heading-tertiary {
    font-family: $font-curly-style;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 3rem;
    &--white {
        color: $color-white;
    }
}


.heading-quaternary {
    font-family: "Old Standard TT";
    font-size: 2.2rem;
    font-weight: 400;

    position: relative;
    margin-bottom: 1rem;
}

// .heading-quaternary {
//     font-family: "Old Standard TT";
//     font-size: 4rem;
//     font-weight: 400;
// }
%heading-sub {
    font-style: italic;
    font-family: $font-curly-style;
    font-weight: 200;
}

.heading-subtext {
    font-family: $font-curly-style;
    font-weight: 200;

    &--pink {
        color: rgba($accent-color, 0.7);
    }
}

.sm-divider {
    margin: 0 auto;
    width: 8rem;
    &--start {
        width: 8rem;
    }
    &--pink {
        border: none;
        border-top: 1px solid $color-tertiary;
    }
    &--white {
        border-top: 1px solid $color-white;
    }
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.upper {
    text-transform: uppercase;
}

.link {
    &:hover {
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient($color-tertiary, $color-tertiary);
        opacity: 0.7;
    }
}


.text-sm {
    font-size: 1.4rem;
    font-weight: 200;
}

.text-link {
    color: #f79489;
    font-weight: 500;
}


.bold {
    font-weight: 600;
}

.arrow {
    line-height: 2rem;
    font-size: 1.5rem;
}

// icons

.fa {
    font-family: "FontAwesome";
    font-size: 2.3rem;
    font-style: normal;
    line-height: 1 !important;
    font-size-adjust: none;
    font-stretch: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-language-override: normal;
    font-language-override: normal;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    text-rendering: auto;
}
