body {
    font-family: "Nunito", "Nunito sans";
    font-weight: 400;
    line-height: 1.6;
    font-size: $default-font-size;
    hyphens: auto;
}

.uppercase {
    text-transform: uppercase;
}

.heading-primary {
    font-size: $header-font-size;
    padding-bottom: 3rem;
    font-weight: 700;

    &--sub {
        font-style: italic;
        font-family: $font-curly-style;
        font-weight: 200;
        color: $color-black;
    }

    &--black {
        color: $color-black;
    }

    &--white {
        color: $color-white;
    }
}

.heading-tertiary {
    font-size: 2rem;
    padding-bottom: 3rem;
    font-weight: 700;
}

.divider {
    border-color: $color-white;
    width: 10rem;
    margin: 0 auto;
}
