//COLORS
$color-primary: #ff99cc;
// $color-primary: #eee;

$color-secondary: #cf6ea5;
$color-tertiary: #cc6699;

$color-primary-dark: #4c2840;
$color-secondary-dark: #a74586;
$color-tertiary-dark: #8c546c;

$accent-color: #974ed1;
$accent-color2: #7ffcc5;
$accent-color3: #d43198;

$accent-color-dark: #7a3a9b;
$accent-color2-dark: #5e935d;

$color-primary-light: #f7d9ec;
$color-primary-light2: #f8f0f0;

$color-white: #fff;
$color-white2: #f7f7f7;
$color-white3: #f5ecf2;

$color-black: #000;

$color-gray: #bdbdbd;
$color-gray2: #aaaaaa;

//FONT SIZES
$default-font-size: 1.6rem;
$header-font-size: 3.6rem;
$larger-font-size: 1.9rem;

//CURLY SUB HEADERS
$font-curly-style: "playfair display";

//SHADOWS
$minimal-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
$soft-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
$subtle-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
$subtle-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.3);
$medium-shadow: 0 0.7rem 1.4rem rgba(0, 0, 0, 0.4);
$heavy-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.5);
$intense-shadow: 0 1rem 2.1rem rgba(0, 0, 0, 0.6);

//Border styling
$border-thickness: 1rem;
