// COLORS
/* Base Colors */
$color-blush-pink: #e4b9b4; //primary
$color-coral-pink: #f79489; //secondary
$color-dusty-rose: #ce9999;
$color-deep-puce: #c68985;
$color-black: #333;
$color-gray: #aaaaaa;
$color-gray-light: #dadada;
$color-white: #faf5f5;
$color-off-white: #f3eeee;

/* Icon Colors */
$color-icons-secondary: $color-coral-pink;
$color-icons-black: $color-black;
$color-icons-muted: $color-gray;

$color-icons-active: $color-blush-pink;

$color-icons-hover-primary: $color-blush-pink;
$color-icons-hover-secondary: $color-deep-puce;
$color-icons-hover-black: $color-black;

/* Link Colors */
$color-links-primary: $color-deep-puce;

$color-links-hover: $color-blush-pink;
$color-links-hover-secondary: $color-coral-pink;
$color-links-hover-white: $color-off-white;
$color-links-active: $color-blush-pink;

/* Background Colors */
$color-background-primary: $color-white;
$color-background-secondary: $color-blush-pink;
$color-background-muted: $color-off-white;
$color-background-footer: $color-gray-light;

/* Text Colors */
$color-text-primary: $color-black;
$color-text-secondary: $color-off-white;

$color-header-highlight: $color-blush-pink;

$color-text-highlight: $color-coral-pink;
$color-text-muted: $color-gray;

/* Input Colors */
$color-input-valid: $color-coral-pink;
$color-input-invalid: $color-gray-light;

/* Button Colors */
$color-button-primary: $color-blush-pink;
$color-button-secondary: $color-coral-pink;
$color-button-black: $color-black;

$color-button-hover-white: $color-white;
$color-button-secondary-hover: $color-white;

/* Border Colors */
$color-border-primary: $color-dusty-rose;
$color-border-secondary: $color-coral-pink;
$color-border-black: $color-black;
$color-border-white: $color-white;

//TYPOGRAPHY
$font-base: inter, sans-serif;
$font-headings: 'Playfair-display';
$font-sub-headings: 'Old Standard TT';

/* Fon Weights */
$font-weight-bold: 800;
$font-weight-normal: 500;
$font-weight-light: 400;
$font-weight-thin: 300;

/* Font Sizes */
$font-size-2xl: 2.8rem;
$font-size-xl: 2.4rem;
$font-size-lg: 2.2rem;
$font-size-md: 1.8rem;
$font-size-base: 1.4rem;
$font-size-sm: 1.3rem;

//SHADOWS
$minimal-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
$soft-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
$subtle-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
$subtle-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.3);
$medium-shadow: 0 0.7rem 1.4rem rgba(0, 0, 0, 0.4);
$heavy-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.5);
$intense-shadow: 0 1rem 2.1rem rgba(0, 0, 0, 0.6);

//Border background styling
$border-thickness: 1rem;

//PADDING VERTICAL
$vertical-padding-large: 10rem 0;
$vertical-padding-medium: 8rem 0;
$vertical-padding-small: 1rem 0;

//GUTTERS
$gutter-vertical: 1rem;
$gutter-horizontal: 4rem;

//FLEXBIN GALLERY
$flexbin-row-height: 500px;
$flexbin-space: 3px;

/* Tablet */
$flexbin-tablet-max: 800px;
$flexbin-row-height-tablet: 300px;
$flexbin-space-tablet: 8px;

/* Phone */
$flexbin-phone-max: 200px;
$flexbin-row-height-phone: 200px;
$flexbin-space-phone: 4px;

//MARGINS
$margin-xl: 8rem;
$margin-lg: 4rem;
$margin-md: 2.2rem;
$margin-sm: 1.3rem;

//MAX WIDTHS
$container-width-2xl: 1800px;
$container-width-xl: 1500px;
$container-width-lg: 1280px;
$container-width-md: 1100px;
$container-width-sm: 900px;
$container-width-xs: 600px;
$container-width-2xs: 480px;
$container-width-3xs: 300px;
$container-width-4xs: 200px;
