<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;1,6..12,400&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Quicksand&display=swap"
        rel="stylesheet"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../node_modules/photoswipe/dist/photoswipe.css" />

    <link rel="stylesheet" href="../src/sass/main.scss" />
    <script defer type="module" src="../src/js/app.js"></script>
    <title>Document</title>
</head>

    <body>
        <header class="header-fixed">
    <div class="container-header">
        <div class="header">
            <div class="header__container header__container--top">
                <ul class="header__grid header__grid--contacts">
                    <li class="header__menu__top header__menu">
                        <span>T:</span
                        ><a href="#" class="header__menu__top--hover">(06)55555555</a>
                    </li>
                    <li class="header__menu__top header__menu">
                        <span>E:</span
                        ><a href="#" class="header__menu__top--hover"
                            >voorbeeld@hotmail.com</a
                        >
                    </li>
                    <li class="header__menu__top header__menu">
                        A.voorbeeld 12, 1234VW, Stad
                    </li>
                </ul>
                <ul class="header__grid header__grid--contacts">
                    <li class="header__menu__top header__menu">
                        <a href="#" class="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="header__menu__top header__menu">
                        <a href="#" class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="header__menu__top header__menu">
                        <a href="#" class="whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__container header__container--bottom">
                <div class="header__logo">
                    <a href="../views/index.html">
                        <img src="../img/logo.png" alt="logo" />
                    </a>
                </div>
                <ul class="header__grid header__grid--menu">
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/index.html"
                            class="link upper bold-m"
                            >Home</a
                        >
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a id="diensten" class="link upper bold-m">Diensten</a>
                        <span class="arrow header__menu--arrow">&#129171;</span>
                        <ul class="menu-list">
                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/bruidsmake-up.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Bruidsmake-up</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/festival-en-evenementen.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Festival en evenementen</span
                                    ></a
                                >
                            </li>

                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/lashes-en-brows.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Lashes en brows</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/beauty-en-party.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Beauty en Party</span
                                    ></a
                                >
                            </li>
                            <li class="">
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/editorials.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Editorials</span
                                    ></a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/portfolio.html"
                            class="link upper bold-m"
                            >Portfolio</a
                        >
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/tarieven.html"
                            class="link upper bold-m"
                            >Tarieven</a
                        >
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/contact-me.html"
                            class="link upper bold-m"
                            >Contact me</a
                        >
                    </li>
                </ul>
                <!-- mobile effect -->
                <input type="checkbox" class="header__checkbox" id="navi-toggle" />
                <label for="navi-toggle" class="header__button">
                    <span class="header__icon">&nbsp;</span>
                </label>
            </div>
        </div>
    </div>
</header>
 <nav class="nav-mobile">
    <div class="nav-mobile__toggle">
        <i style="color: white" class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="nav-mobile__menu">
        <ul class="nav-mobile__menu--items">
            <li class="nav-mobile__menu--item">
                <a href="../views/index.html" class="link-upper">Home</a>
            </li>
            <li class="nav-mobile__menu--item" id="submenu-dropdown-link">
                <div>
                    <a href="#" class="link-upper">Diensten</a>
                    <i class="fa-solid fa-chevron-down arrow nav-mobile__menu--arrow"></i>
                </div>

                <ul class="nav-mobile__submenu" id="submenu-dropdown">
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/bruidsmake-up.html"
                            ><span class="nav-mobile__submenu--text"
                                >Bruidsmake-up</span
                            ></a
                        >
                    </li>
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/festival-en-evenementen.html"
                            ><span class="nav-mobile__submenu--text"
                                >Festival en evenementen</span
                            ></a
                        >
                    </li>

                    <li class="nav-mobile__submenu--link">
                        <a href="../views/lashes-en-brows.html"
                            ><span class="nav-mobile__submenu--text"
                                >Lashes en brows</span
                            ></a
                        >
                    </li>
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/beauty-en-party.html"
                            ><span class="nav-mobile__submenu--text"
                                >Beauty en Party</span
                            ></a
                        >
                    </li>
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/editorials.html"
                            ><span class="nav-mobile__submenu--text">Editorials</span></a
                        >
                    </li>
                </ul>
            </li>
            <li class="nav-mobile__menu--item">
                <a href="../views/portfolio.html" class="link-upper">Portfolio</a>
            </li>
            <li class="nav-mobile__menu--item">
                <a href="../views/tarieven.html" class="link-upper">Tarieven</a>
            </li>
            <li class="nav-mobile__menu--item">
                <a href="../views/contact-me.html" class="link-upper">Contact me</a>
            </li>
        </ul>
    </div>
</nav>

        <div class="wrapper">
            <header class="bruidsmake-up-banner--top parallax-bg">&nbsp;</header>
            <section class="s-1-bruiloft">
                <div class="row">
                    <div class="grid-col-2-of-2--narrow">
                        <div class="u-padding-x-s">
                            <h1 class="heading-secondary--black text-block--left">
                                Stralend het huwelijksavontuur tegemoet
                            </h1>
                            <hr class="sm-divider--start sm-divider--pink u-margin-b-m" />
                            <h2 class="heading-secondary">
                                Een persoonlijke reis naar jouw perfecte make-up look
                            </h2>
                            <p class="paragraph">
                                Allereerst van harte gefeliciteerd met jullie aankomend
                                huwelijk. Op deze bijzondere dag is het jouw wens om te
                                <span class="text-link">schitteren</span>, en samen gaan
                                we ervoor zorgen dat je er op je allermooist uitziet.
                            </p>

                            <h2 class="u-margin-t-m heading-secondary">
                                De Perfecte Voorbereiding: Een Persoonlijke Proefsessie
                            </h2>
                            <p class="paragraph">
                                Tijdens een proefsessie, gepland ongeveer 8 weken voor de
                                grote dag, nemen we ruim de tijd om jouw wensen en
                                voorkeuren te bespreken. Deze sessie, die 1.5 tot 2 uur
                                duurt, staat in het teken van het creëren van de perfecte
                                make-up look die precies past bij jouw visie, zodat jij je
                                op je allermooist voelt op je grote dag.
                            </p>

                            <h2 class="u-margin-t-m heading-secondary">
                                Stralen Op Het Grote Moment: Jouw Huwelijksdag
                            </h2>
                            <p class="paragraph">
                                Op de dag zelf kom ik naar de door
                                <span class="text-link">jou gewenste locatie.</span>
                                Mijn doel is ervoor te zorgen dat jij ontspannen en op
                                tijd aan deze feestelijke dag kunt beginnen. Jouw look
                                wordt tot in de puntjes verzorgd, waardoor je glimt en er
                                op je allermooist uitziet. Ik geniet ervan als ik zie hoe
                                jij
                                <span class="text-link">sprankelt</span>! Indien gewenst,
                                sta ik klaar om je ook te ondersteunen bij het aankleden.
                            </p>
                        </div>

                        <div class="hover-card s-1-bruiloft__img">
                            <div class="hover-card__img-zoom hover-card__img-zoom--1">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-appointment">
                <div class="row">
                    <div class="cta-banner">
                        <div class="grid-col-2-of-2--even">
                            <div class="cta-banner__text">
                                <div
                                    class="cta-banner__text--header heading-secondary--white"
                                >
                                    Interesse in een proefsessie?
                                </div>
                            </div>
                            <div class="cta-banner__socials">
                                <a
                                    href="#0"
                                    class="btn btn__primary cta-banner__btn btn--style btn--black"
                                    >Maak een afspraak</a
                                >
                                <ul class="cta-banner__socials__list">
                                    <li class="cta-banner__item--socials">
                                        <a href="#" class="facebook">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="cta-banner__item--socials">
                                        <a href="#" class="instagram">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="cta-banner__item--socials">
                                        <a href="#" class="whatsapp">
                                            <i class="fa-brands fa-whatsapp"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bruidsmake-up-banner--middle parallax-bg"></section>
            <section class="s-bruidsmake-up-cards">
                <div class="row">
                    <div class="cards">
                        <div class="swiper cards__swiper" id="cards-slider">
                            <div class="swiper-wrapper">
                                <div class="card card--1 card-1 swiper-slide">
                                    <div class="card__icon">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <p class="card__title">
                                        "Ervaar bruidsgloed op maat met een service die
                                        jouw natuurlijke schoonheid omarmt. Jouw droomlook
                                        begint hier."
                                    </p>
                                    <p class="card__apply">
                                        <a class="card__link" href="#"
                                            >Boek een sessie
                                            <i class="fas fa-arrow-right"></i
                                        ></a>
                                    </p>
                                </div>
                                <div class="card card--2 card-2 swiper-slide">
                                    <div class="card__icon">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <p class="card__title">
                                        "Ontvang een service die verder gaat dan make-up.
                                        Met passie en toewijding creëren we samen een
                                        onvergetelijke bruidslook."
                                    </p>
                                    <p class="card__apply">
                                        <a class="card__link" href="#"
                                            >Boek een sessie
                                            <i class="fas fa-arrow-right"></i
                                        ></a>
                                    </p>
                                </div>
                                <div class="card card--3 card-3 swiper-slide">
                                    <div class="card__icon">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <p class="card__title">
                                        "Van proefsessie tot huwelijksaltaar, onze service
                                        staat garant voor een stralende en orgeloze
                                        ervaring."
                                    </p>
                                    <p class="card__apply">
                                        <a class="card__link" href="#"
                                            >Boek een sessie
                                            <i class="fas fa-arrow-right"></i
                                        ></a>
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-pagination cards__pagination"></div>
                            <!-- <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div> -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="s-2-bruiloft">
                <div class="row">
                    <div class="grid-col-2-of-2--narrow">
                        <div class="hover-card hover-card--margin s-2-bruiloft__img">
                            <div class="hover-card__img-zoom hover-card__img-zoom--2">
                                &nbsp;
                            </div>
                        </div>
                        <div class="u-padding-x-s">
                            <h1 class="u-margin-t-m heading-secondary--black">
                                Stralend de nacht in
                            </h1>
                            <hr class="sm-divider--start sm-divider--pink u-margin-b-m" />
                            <h2 class="heading-secondary">
                                Avond make-up voor de feestelijke uren na het ja-woord!
                            </h2>
                            <p class="paragraph">
                                Naast het verzorgen van jouw avondlook ben ik er ook om de
                                <span class="text-link">finishing touch</span> te geven
                                aan jouw feestelijke avond.
                            </p>

                            <h2 class="u-margin-t-m heading-secondary">
                                Altijd Stralend: Bijwerken en Aanpassen
                            </h2>
                            <p class="paragraph">
                                Mocht je tijdens het feesten merken dat je make-up
                                <span class="text-link">bijgewerkt</span> moet worden of
                                als je een andere gewenste verandering hebt, sta ik klaar
                                om aan jouw wensen tegemoet te komen. Jouw tevredenheid
                                staat voorop, en ik wil ervoor zorgen dat je er de hele
                                avond <span class="text-link">zelfverzekerd</span> en
                                stralend uitziet.
                            </p>

                            <h2 class="u-margin-t-m heading-secondary">
                                Voor Iedereen die Stralen Wil: Uitgebreide Diensten voor
                                Gasten
                            </h2>
                            <p class="paragraph">
                                Voor degenen die deel uitmaken van jouw speciale dag en
                                ook willen <span class="text-link">schitteren</span>, bied
                                ik de mogelijkheid om mijn diensten uit te breiden naar
                                bruidsmeisjes, (schoon)moeder, vriendinnen en andere
                                gasten die jij wilt verwennen.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="s-bruidsmake-up-tarieven">
                <div class="row u-margin-b-m u-margin-t-m">
                    <div class="grid-col-1-of-1--wide">
                        <div class="text-block u-c-text">
                            <h1 class="heading-secondary--black">
                                Prijzen bruidsmake-up
                            </h1>
                            <hr class="sm-divider sm-divider--pink u-margin-b-m" />
                            <h2
                                class="heading-primary__sub heading-primary__sub--pink u-margin-b-m"
                            ></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-price-card">
                        <div class="swiper" id="cards-prices-bridal">
                            <div class="swiper-wrapper price-card-slider">
                                <div class="price-card-container swiper-slide">
                                    <div class="price-card u-c-text">
                                        <div class="price-card__heading u-margin-b-m">
                                            <h3 class="heading-tertiary">
                                                Bridal Beauty
                                            </h3>
                                        </div>
                                        <h4 class="heading-quaternary">€ 245</h4>
                                        <p class="heading-subtext heading-subtext--pink">
                                            Bronze
                                        </p>

                                        <ul class="price-card__list u-margin-b-l">
                                            <li>Bruidsmake-up op locatie +/- 2,5 uur</li>
                                            <li>Nepwimpers</li>

                                            <li>Assistentie bij het aankleden</li>
                                        </ul>
                                        <a
                                            href="#"
                                            type="button"
                                            class="btn btn__primary btn--black price-card__btn"
                                        >
                                            RESERVEREN
                                        </a>
                                    </div>
                                </div>
                                <div class="price-card-container swiper-slide">
                                    <div class="price-card u-c-text">
                                        <div class="price-card__heading u-margin-b-m">
                                            <h3 class="heading-tertiary">
                                                Bridal Beauty
                                            </h3>
                                        </div>
                                        <h4 class="heading-quaternary">€ 345</h4>
                                        <p class="heading-subtext heading-subtext--pink">
                                            Silver
                                        </p>

                                        <ul class="price-card__list u-margin-b-l">
                                            <li>Proefsessie op locatie +/- 2.,5 uur</li>
                                            <li>Bruidsmake-up op locatie +/- 2,5 uur</li>
                                            <li>Nepwimpers</li>
                                            <li>Assistentie bij het aankleden</li>
                                            <li>Touch up op locatie</li>
                                        </ul>
                                        <a
                                            href="#"
                                            type="button"
                                            class="btn btn__primary btn--black price-card__btn"
                                        >
                                            RESERVEREN
                                        </a>
                                    </div>
                                </div>
                                <div class="price-card-container swiper-slide">
                                    <div class="price-card u-c-text">
                                        <div class="price-card__heading u-margin-b-m">
                                            <h3 class="heading-tertiary">
                                                Bridal Beauty
                                            </h3>
                                        </div>
                                        <h4 class="heading-quaternary">€ 445</h4>
                                        <p class="heading-subtext heading-subtext--pink">
                                            Gold
                                        </p>

                                        <ul class="price-card__list u-margin-b-l">
                                            <li>
                                                Proefsessie op locatie +/-2.,5 uur
                                                Exclusief:
                                            </li>
                                            <li>Bruidsmake-up op locatie +/- 2.5 uur</li>
                                            <li>Nepwimpers</li>
                                            <li>Assistentie bij het aankleden</li>
                                            <li>Touch up op locatie</li>
                                            <li>
                                                Make-up voor 1 extra gast op dezelfde
                                                locatie inclusief touch-up
                                            </li>
                                        </ul>
                                        <a
                                            href="#"
                                            type="button"
                                            class="btn btn__primary btn--black price-card__btn"
                                        >
                                            RESERVEREN
                                        </a>
                                    </div>
                                </div>
                                <div class="price-card-container swiper-slide">
                                    <div class="price-card u-c-text">
                                        <div class="price-card__heading u-margin-b-m">
                                            <h3 class="heading-tertiary">
                                                Bridal Beauty
                                            </h3>
                                        </div>
                                        <h4 class="heading-quaternary">€ 725</h4>
                                        <p class="heading-subtext heading-subtext--pink">
                                            Platinum
                                        </p>

                                        <ul class="price-card__list u-margin-b-l">
                                            <li>Proefsessie op locatie +/-2.,5 uur</li>
                                            <li>Bruidsmake-up op locatie +/- 2.5 uur</li>
                                            <li>Nepwimpers</li>
                                            <li>Assistentie bij het aankleden</li>
                                            <li>Touch up op locatie</li>
                                            <li>Make-up voor zelf te bepalen aantal</li>
                                            <li>
                                                bruidsmeisjes op dezelfde locatie
                                                inclusief touch-up
                                            </li>
                                        </ul>
                                        <a
                                            href="#"
                                            type="button"
                                            class="btn btn__primary btn--black price-card__btn"
                                        >
                                            RESERVEREN
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
    <div class="row">
        <div class="grid-col-1-of-4">
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Social media</h3>
                <div class="footer__list footer__list--socials">
                    <ul>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">Instagram</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">Facebook</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">LinkedIn</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">TikTok</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">Pinterest</a>
                        </li>
                    </ul>
                    <ul class="footer__list__icons">
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Informatie</h3>
                <ul class="footer__list">
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">About me</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">Speciale acties</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">Nieuw berichten</a>
                    </li>
                </ul>
            </div>
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Services</h3>
                <ul class="footer__list">
                    <li class="footer__list__item">
                        <a href="../views/bruidsmake-up.html" class="link text-sm"
                            >Bruidsmake-up</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a
                            href="../views/festival-en-evenementen.html"
                            class="link text-sm"
                            >Festival</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a href="../views/lashes-en-brows.html" class="link text-sm"
                            >Lashes en Brows</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a href="../views/beauty-en-party.html" class="link text-sm"
                            >Beauty en Party</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a href="../views/editorials.html" class="link text-sm"
                            >Editorials</a
                        >
                    </li>
                </ul>
            </div>
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Contact</h3>
                <ul class="footer__list">
                    <li class="footer__list__item text-sm">Voorbeeld 12, 1234VW, Stad</li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">(06)55555555</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">voorbeeld@hotmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid-col-1-of-1">
            <p class="footer__autograph u-c-text">
                <span class="footer__copyright">
                    &copy; 2024 Cheryl Sallons | All Rights Reserved.
                </span>
            </p>
        </div>
    </div>
</footer>

        </div>
    </body>
</html>
