<!doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;1,6..12,400&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Quicksand&display=swap"
        rel="stylesheet"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../src/sass/main.scss" />
    <script defer type="module" src="../src/js/app.js"></script>
    <title>Document</title>
</head>

    <body>
        <nav class="section-navigation">
    <nav class="navigation">
        <div class="navigation__container navigation__container--top">
            <ul class="navigation__grid navigation__grid--contacts">
                <li class="navigation__menu__top navigation__menu">
                    <span>T:</span
                    ><a href="#" class="navigation__menu__top--hover">(06)55555555</a>
                </li>
                <li class="navigation__menu__top navigation__menu">
                    <span>E:</span
                    ><a href="#" class="navigation__menu__top--hover"
                        >voorbeeld@hotmail.com</a
                    >
                </li>
                <li class="navigation__menu__top navigation__menu">
                    A.voorbeeld 12, 1234VW, Stad
                </li>
            </ul>
            <ul class="navigation__grid navigation__grid--contacts">
                <li class="navigation__menu__top navigation__menu">
                    <a href="#" class="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li class="navigation__menu__top navigation__menu">
                    <a href="#" class="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="navigation__menu__top navigation__menu">
                    <a href="#" class="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navigation__container navigation__container--bottom">
            <li class="navigation__logo">
                <img
                    src="https://placehold.co/260x60?/EEE/31343C?font=lora&text=Lora"
                    alt="logo"
                />
            </li>
            <ul class="navigation__grid navigation__grid--menu">
                <li class="navigation__menu__bottom navigation__menu">
                    <a
                        href="../views/index.html"
                        class="navigation__menu__bottom--text navigation__menu__bottom--active"
                        >Home</a
                    >
                </li>
                <li class="navigation__menu__bottom navigation__menu">
                    <a href="#" class="navigation__menu__bottom--text">Diensten</a>
                    <span class="navigation__menu--arrow">&#129171;</span>
                    <ul class="menu-list">
                        <li class="">
                            <a href="../views/bruidsmake-up.html" class="menu-list__item"
                                ><span class="menu-list__item--text"
                                    >Bruidsmake-up</span
                                ></a
                            >
                        </li>
                        <li class="">
                            <a
                                href="../views/festival-en-evenementen.html"
                                class="menu-list__item"
                                ><span class="menu-list__item--text"
                                    >Festival en evenementen</span
                                ></a
                            >
                        </li>

                        <li class="">
                            <a
                                href="../views/lashes-en-brows.html"
                                class="menu-list__item"
                                ><span class="menu-list__item--text"
                                    >Lashes en brows</span
                                ></a
                            >
                        </li>
                        <li class="">
                            <a
                                href="../views/beauty-en-party.html"
                                class="menu-list__item"
                                ><span class="menu-list__item--text"
                                    >Beauty en Party</span
                                ></a
                            >
                        </li>
                        <li class="">
                            <a href="../views/editorials.html" class="menu-list__item"
                                ><span class="menu-list__item--text">Editorials</span></a
                            >
                        </li>
                    </ul>
                </li>
                <li class="navigation__menu__bottom navigation__menu">
                    <a
                        href="../views/portfolio.html"
                        class="navigation__menu__bottom--text"
                        >Portfolio</a
                    >
                </li>
                <li class="navigation__menu__bottom navigation__menu">
                    <a
                        href="../views/tarieven.html"
                        class="navigation__menu__bottom--text"
                        >Tarieven</a
                    >
                </li>
                <li class="navigation__menu__bottom navigation__menu">
                    <a
                        href="../views/contact-me.html"
                        class="navigation__menu__bottom--text"
                        >Contact me</a
                    >
                </li>
            </ul>
        </div>
    </nav>
</nav>

        <header class="parallax-bg portfolio-header">
            <div
                class="portfolio-header__text heading-primary heading-primary--white u-c-text"
            >
                <!-- Contact Me -->
            </div>
        </header>
        <section class="heading-contact-me">
            <div class="row u-margin-t-m">
                <div class="grid-col-1-of-1">
                    <div class="text-block u-c-text">
                        <h1
                            class="heading-primary heading-primary--u heading-primary--black"
                        >
                            Neem contact op
                        </h1>
                        <hr class="sm-divider sm-divider--pink u-margin-b-m" />
                        <h2
                            class="heading-primary__sub heading-primary__sub--pink u-margin-b-m"
                        ></h2>
                    </div>
                </div>
            </div>
            <div class="row u-margin-b-l">
                <div class="grid-col-2-of-2--very-narrow">
                    <div class="contact-box u-c-text">
                        <i class="fa fa-map-marker u-margin-b-m" aria-hidden="true"></i>
                        <div class="textbox">
                            <strong>Adres:</strong>
                            <p class="paragraph">A.voorbeeld 12, 1234VW, Stad</p>
                            <p class="paragraph"></p>
                            <p class="paragraph">
                                Onze focus ligt voornamelijk op het bedienen van klanten
                                binnen Rotterdam en omgeving.
                            </p>

                            <p class="paragraph">
                                We streven ernaar om jouw visagie-ervaring zo naadloos en
                                comfortabel mogelijk te maken. Neem contact met ons op
                                voor meer informatie of om een visagiesessie op jouw
                                locatie te plannen.
                            </p>
                        </div>
                    </div>
                    <div class="contact-box u-c-text">
                        <i class="fa fa-envelope u-margin-b-m" aria-hidden="true"></i>
                        <div class="textbox">
                            <strong>Contact-informatie:</strong>
                            <p class="paragraph">
                                Voor zakelijke samenwerkingen, evenementen, of specifieke
                                aanvragen, kun je me bereiken via onderstaande
                                contactgegevens:
                            </p>
                            <strong>Telefoon:</strong>
                            <p>(06) 55555555</p>
                            <strong>E-mail:</strong>
                            <p>voorbeeld.email.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-col-1-of-1">
                    <ul class="cta-banner__socials__list">
                        <li class="cta-banner__item--socials">
                            <a href="#" class="facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="cta-banner__item--socials">
                            <a href="#" class="instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li class="cta-banner__item--socials">
                            <a href="#" class="whatsapp">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="s-map">
            <div class="row">
                <div class="grid-col-2-of-2">
                    <div class="map-container" id="map">
                        <h3>MAPS</h3>
                        <div class="google-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus"
                                width="600"
                                height="450"
                                style="border: 0"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"
                            ></iframe>
                        </div>
                        <!-- <div id="map"></div> -->
                    </div>
                    <form class="form-contact" method="post">
                        <!-- Text Input -->
                        <label for="name">Naam:</label>
                        <input type="text" id="name" name="name" required />

                        <!-- Email Input -->
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" required />

                        <!-- Telefoonnummer Input -->
                        <label for="phone">Telefoonnummer:</label>
                        <input type="tel" id="phone" name="phone" required />

                        <!-- Datum van de Dienst Input -->
                        <label for="service-date">Datum van de Dienst:</label>
                        <input
                            type="date"
                            id="service-date"
                            name="service-date"
                            required
                        />

                        <!-- Type Dienst (Dropdown) -->
                        <label for="service-type">Type Dienst:</label>
                        <select id="service-type" name="service-type">
                            <option value="Bruidsmake-up">Bruidsmake-up</option>
                            <option value="Beauty-en-party">Beauty-en-party</option>
                            <option value="Festivals en Evenementen">
                                Festivals en Evenementen
                            </option>
                            <option value="editorial">Editorial</option>
                            <option value="anders">Anders...</option>
                        </select>

                        <!-- Locatie van de Dienst Input -->
                        <label for="service-location">Locatie van de Dienst:</label>
                        <input
                            type="text"
                            id="service-location"
                            name="service-location"
                            required
                        />

                        <!-- Extra Opmerkingen (Textarea) -->
                        <label for="comments">Extra Opmerkingen:</label>
                        <textarea id="comments" name="comments" rows="4"></textarea>

                        <!-- Submit Button -->
                        <button type="submit">Aanvraag Versturen</button>
                    </form>
                </div>
            </div>
        </section>
        <footer class="footer">
    <div class="row">
        <div class="grid-col-1-of-4">
            <div class="footer__section">
                <ul class="footer__list">
                    <h3 class="footer__header heading-tertiary">Social media</h3>
                    <a href="#" class="|">
                        <li class="footer__list__item">
                            <a href="#" class="footer__link">lorem</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="footer__link">lorem</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="footer__link">lorem</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="footer__link">lorem</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="footer__link">lorem</a>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="footer__section">
                <ul class="footer__list">
                    <h3 class="footer__header heading-tertiary">Informatie</h3>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                </ul>
            </div>
            <div class="footer__section">
                <ul class="footer__list">
                    <h3 class="footer__header heading-tertiary">Services</h3>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                </ul>
            </div>
            <div class="footer__section">
                <ul class="footer__list">
                    <h3 class="footer__header heading-tertiary">Contact</h3>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="footer__link">lorem</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="grid-col-1-of-1">
            <p class="footer__autograph">
                <span class="footer__copyright">
                    &copy; 2024 Cheryl Sallons | All Rights Reserved.
                </span>
                <span class="footer__designer"
                    >Designed by .......Sallons | All Rights Reserved.
                </span>
            </p>
        </div>
    </div>
</footer>

    </body>
</html>
