<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;1,6..12,400&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Quicksand&display=swap"
        rel="stylesheet"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../node_modules/photoswipe/dist/photoswipe.css" />

    <link rel="stylesheet" href="../src/sass/main.scss" />
    <script defer type="module" src="../src/js/app.js"></script>
    <title>Document</title>
</head>

    <body>
        <header class="header-fixed">
    <div class="container-header">
        <div class="header">
            <div class="header__container header__container--top">
                <ul class="header__grid header__grid--contacts">
                    <li class="header__menu__top header__menu">
                        <span>T:</span
                        ><a href="#" class="header__menu__top--hover">(06)55555555</a>
                    </li>
                    <li class="header__menu__top header__menu">
                        <span>E:</span
                        ><a href="#" class="header__menu__top--hover"
                            >voorbeeld@hotmail.com</a
                        >
                    </li>
                    <li class="header__menu__top header__menu">
                        A.voorbeeld 12, 1234VW, Stad
                    </li>
                </ul>
                <ul class="header__grid header__grid--contacts">
                    <li class="header__menu__top header__menu">
                        <a href="#" class="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="header__menu__top header__menu">
                        <a href="#" class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="header__menu__top header__menu">
                        <a href="#" class="whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__container header__container--bottom">
                <div class="header__logo">
                    <a href="../views/index.html">
                        <img src="../img/logo.png" alt="logo" />
                    </a>
                </div>
                <ul class="header__grid header__grid--menu">
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/index.html"
                            class="link upper bold-m"
                            >Home</a
                        >
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a id="diensten" class="link upper bold-m">Diensten</a>
                        <span class="arrow header__menu--arrow">&#129171;</span>
                        <ul class="menu-list">
                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/bruidsmake-up.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Bruidsmake-up</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/festival-en-evenementen.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Festival en evenementen</span
                                    ></a
                                >
                            </li>

                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/lashes-en-brows.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Lashes en brows</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/beauty-en-party.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Beauty en Party</span
                                    ></a
                                >
                            </li>
                            <li class="">
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/editorials.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Editorials</span
                                    ></a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/portfolio.html"
                            class="link upper bold-m"
                            >Portfolio</a
                        >
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/tarieven.html"
                            class="link upper bold-m"
                            >Tarieven</a
                        >
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/contact-me.html"
                            class="link upper bold-m"
                            >Contact me</a
                        >
                    </li>
                </ul>
                <!-- mobile effect -->
                <input type="checkbox" class="header__checkbox" id="navi-toggle" />
                <label for="navi-toggle" class="header__button">
                    <span class="header__icon">&nbsp;</span>
                </label>
            </div>
        </div>
    </div>
</header>
 <nav class="nav-mobile">
    <div class="nav-mobile__toggle">
        <i style="color: white" class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="nav-mobile__menu">
        <ul class="nav-mobile__menu--items">
            <li class="nav-mobile__menu--item">
                <a href="../views/index.html" class="link-upper">Home</a>
            </li>
            <li class="nav-mobile__menu--item" id="submenu-dropdown-link">
                <div>
                    <a href="#" class="link-upper">Diensten</a>
                    <i class="fa-solid fa-chevron-down arrow nav-mobile__menu--arrow"></i>
                </div>

                <ul class="nav-mobile__submenu" id="submenu-dropdown">
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/bruidsmake-up.html"
                            ><span class="nav-mobile__submenu--text"
                                >Bruidsmake-up</span
                            ></a
                        >
                    </li>
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/festival-en-evenementen.html"
                            ><span class="nav-mobile__submenu--text"
                                >Festival en evenementen</span
                            ></a
                        >
                    </li>

                    <li class="nav-mobile__submenu--link">
                        <a href="../views/lashes-en-brows.html"
                            ><span class="nav-mobile__submenu--text"
                                >Lashes en brows</span
                            ></a
                        >
                    </li>
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/beauty-en-party.html"
                            ><span class="nav-mobile__submenu--text"
                                >Beauty en Party</span
                            ></a
                        >
                    </li>
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/editorials.html"
                            ><span class="nav-mobile__submenu--text">Editorials</span></a
                        >
                    </li>
                </ul>
            </li>
            <li class="nav-mobile__menu--item">
                <a href="../views/portfolio.html" class="link-upper">Portfolio</a>
            </li>
            <li class="nav-mobile__menu--item">
                <a href="../views/tarieven.html" class="link-upper">Tarieven</a>
            </li>
            <li class="nav-mobile__menu--item">
                <a href="../views/contact-me.html" class="link-upper">Contact me</a>
            </li>
        </ul>
    </div>
</nav>

        <div class="home-wrapper">
            <section class="home-hero">
                <header class="swiper home-hero__swiper" id="header">
                    <div class="swiper-wrapper home-hero__swiper__wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide home-hero__img home-hero__img--1">
                            <div
                                class="home-hero__text-box home-hero__text-box--1 u-c-text"
                                data-text-box="1"
                            >
                                <h1 class="heading-primary--black">
                                    Cher's Beauty Sallons
                                </h1>
                                <hr class="sm-divider sm-divider--black u-margin-b-m" />
                                <h2 class="heading-tertiary">Make-up Artiest</h2>
                                <!-- <p class="paragraph">
                                    Elke penseelstreek viert jouw unieke schoonheid en
                                    zelfvertrouwen.
                                </p> -->
                            </div>
                            <a
                                href="../views/bruidsmake-up.html"
                                class="home-hero__btn--1 btn--pink"
                                >Bruidsmake-up</a
                            >
                        </div>
                        <div class="swiper-slide home-hero__img home-hero__img--2">
                            <div
                                class="home-hero__text-box home-hero__text-box--2 u-c-text"
                                data-text-box="2"
                            >
                                <h1 class="heading-primary--black">
                                    Cher's Beauty Sallons
                                </h1>
                                <hr class="sm-divider sm-divider--black u-margin-b-m" />
                                <h2 class="heading-tertiary">Trendsetter</h2>
                                <!-- <p class="paragraph">
                                    Mijn droom: een wereld waarin make-up verhalen vertelt
                                    en empowered.
                                </p> -->
                            </div>
                            <a
                                href="../views/festival-en-evenementen.html"
                                class="home-hero__btn--2 btn--pink"
                                >Festival en evenementen</a
                            >
                        </div>
                        <div class="swiper-slide home-hero__img home-hero__img--3">
                            <div
                                class="home-hero__text-box home-hero__text-box--3 u-c-text"
                                data-text-box="3"
                            >
                                <h1 class="heading-primary--black">
                                    Cher's Beauty Sallons
                                </h1>
                                <hr class="sm-divider sm-divider--black u-margin-b-m" />
                                <h2 class="heading-tertiary">Freelancer</h2>
                                <!-- <p class="paragraph">
                                    Ik streef naar een wereld waarin make-up inspireert en
                                    inclusie viert.
                                </p> -->
                            </div>
                            <a
                                href="../views/lashes-en-brows.html"
                                class="home-hero__btn--3 btn--pink"
                                >Lashes en brows</a
                            >
                        </div>
                        <div class="swiper-slide home-hero__img home-hero__img--4">
                            <div
                                class="home-hero__text-box home-hero__text-box--4 u-c-text"
                                data-text-box="4"
                            >
                                <h1 class="heading-primary--black">
                                    Cher's Beauty Sallons
                                </h1>
                                <hr class="sm-divider sm-divider--black u-margin-b-m" />
                                <h2 class="heading-tertiary">Designer</h2>
                                <!-- <p class="paragraph">
                                    Mijn missie: make-up als jouw persoonlijke uitdrukking
                                    van kracht en schoonheid.
                                </p> -->
                            </div>
                            <a
                                href="../views/editorials.html"
                                class="home-hero__btn--4 btn--pink"
                                >Editorials</a
                            >
                        </div>
                        ...
                    </div>
                    <!-- If we need pagination -->
                    <!-- <div class="swiper-pagination"></div> -->

                    <!-- If we need navigation buttons -->
                    <!-- <div class="swiper-button-prev home-hero__button-prev"></div> -->
                    <!-- <div class="swiper-button-next home-hero__button-next"></div> -->

                    <!-- If we need scrollbar -->
                    <!-- <div class="swiper-scrollbar"></div> -->
                </header>
            </section>
            <section class="s-home-promo">
                <div class="row">
                    <div class="grid-col-1-of-3 u-c-text">
                        <div class="promo u-padding-x-s">
                            <h3 class="heading-secondary--black">
                                Take your Make-up
                                <span class="heading-secondary__sub--pink">
                                    to the next level</span
                                >
                            </h3>
                            <hr class="sm-divider sm-divider--pink u-margin-b-m" />
                            <p class="paragraph">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Libero delectus consectetur dignissimos atque placeat
                                sapiente dolor
                            </p>

                            <div class="btn-text">
                                <a href="../views/about-me.html" class="btn-text__link"
                                    >learn more</a
                                >
                            </div>
                        </div>
                        <div class="hover-card">
                            <div class="hover-card__img-hover--1">&nbsp;</div>
                        </div>
                        <div class="u-c-text u-padding-x-s promo--3">
                            <div class="time-table">
                                <hr class="sm-divider sm-divider--black u-margin-b-m" />
                                <h3 class="heading-secondary--black">Werktijden</h3>
                                <ul class="u-margin-b-s">
                                    <li>
                                        <strong>Maandag - Vrijdag:</strong> 08:30 - 18:00
                                    </li>
                                    <li><strong>Zaterdag:</strong> 09:00 - 15:00</li>
                                </ul>
                                <p class="u-margin-b-s">
                                    Wij hanteren ruime werktijden voor uw gemak en zijn
                                    beschikbaar op afspraak.
                                </p>
                                <p>
                                    Afspraak inplannen? Neem
                                    <a href="tel:0123456789">contact</a> met ons op.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="s-feature-box">
                <div class="row">
                    <div class="feature-box">
                        <a href="../views/bruidsmake-up.html" class="feature-box__link">
                            <div class="feature-box__block">
                                <div class="feature-box__img feature-box__img-1">
                                    &nbsp;
                                </div>
                                <div class="feature-box__text">
                                    <h3
                                        class="feature-box__text--header heading-tertiary--white"
                                    >
                                        Bruidsmake-up
                                    </h3>
                                    <hr
                                        class="sm-divider sm-divider--pink u-margin-b-m"
                                    />
                                    <p class="feature-box__text--paragraph paragraph">
                                        Eeuwige Elegantie voor Jouw Speciale Dag –
                                        Ontsluier de Bruid in Jezelf!
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a
                            href="../views/festival-en-evenementen.html"
                            class="feature-box__link"
                        >
                            <div class="feature-box__block">
                                <div class="feature-box__img feature-box__img-2"></div>
                                <div class="feature-box__text">
                                    <h3
                                        class="feature-box__text--header heading-tertiary--white"
                                    >
                                        Festival en evenementen
                                    </h3>
                                    <hr
                                        class="sm-divider sm-divider--pink u-margin-b-m"
                                    />
                                    <p class="feature-box__text--paragraph paragraph">
                                        Gewaagde Looks voor Lichtgevende Momenten – Straal
                                        op Elk Festival en Evenement!
                                    </p>
                                </div>
                            </div>
                        </a>

                        <a href="../views/lashes-en-brows.html" class="feature-box__link">
                            <div class="feature-box__block">
                                <div class="feature-box__img feature-box__img-3"></div>
                                <div class="feature-box__text">
                                    <h3
                                        class="feature-box__text--header heading-tertiary--white"
                                    >
                                        Lashes en brows
                                    </h3>
                                    <hr
                                        class="sm-divider sm-divider--pink u-margin-b-m"
                                    />
                                    <p class="feature-box__text--paragraph paragraph">
                                        Accentueer je Blik met Perfectie – Wimpers en
                                        Wenkbrauwen Heruitgevonden!
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="../views/beauty-en-party.html" class="feature-box__link">
                            <div class="feature-box__block">
                                <div class="feature-box__img feature-box__img-4"></div>
                                <div class="feature-box__text">
                                    <h3
                                        class="feature-box__text--header heading-tertiary--white"
                                    >
                                        Beauty en party
                                    </h3>
                                    <hr
                                        class="sm-divider sm-divider--pink u-margin-b-m"
                                    />
                                    <p class="feature-box__text--paragraph paragraph">
                                        Gezichten Transformeren, Herinneringen Creëren –
                                        Schoonheid voor Elk Feest!
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="../views/editorials.html" class="feature-box__link">
                            <div class="feature-box__block">
                                <div class="feature-box__img feature-box__img-5"></div>
                                <div class="feature-box__text">
                                    <h3
                                        class="feature-box__text--header heading-tertiary--white"
                                    >
                                        Editorials
                                    </h3>
                                    <hr
                                        class="sm-divider sm-divider--pink u-margin-b-m"
                                    />
                                    <p class="feature-box__text--paragraph paragraph">
                                        Waar Kunst Schoonheid Ontmoet – Redactionele
                                        Perfectie in Elke Foto!
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <div class="s-appointment">
                <div class="row">
                    <div class="cta-banner u-c-text">
                        <div class="grid-col-2-of-2">
                            <div class="cta-banner__text">
                                <div
                                    class="cta-banner__text--header heading-secondary--black"
                                >
                                    Benieuwd naar de mogelijkheden?
                                </div>
                                <hr class="sm-divider sm-divider--white u-margin-b-m" />
                                <div class="cta-banner__text--paragraph">
                                    Make-up Artist | Cheryl Sallons
                                </div>
                            </div>
                            <div class="cta-banner__socials">
                                <a
                                    href="../views/tarieven.html"
                                    class="btn btn__primary cta-banner__btn btn--black"
                                >
                                    Boek je Make-up Sessie!</a
                                >

                                <ul class="cta-banner__socials__list">
                                    <li class="cta-banner__item--socials">
                                        <a href="#" class="facebook">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="cta-banner__item--socials">
                                        <a href="#" class="instagram">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="cta-banner__item--socials">
                                        <a href="#" class="whatsapp">
                                            <i class="fa-brands fa-whatsapp"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="s-about-me">
                <div class="row">
                    <div class="grid-col-2-of-2">
                        <!-- Slider main container -->
                        <div class="u-padding-x-s">
                            <h3 class="heading-secondary--black">
                                Jouw Perfecte Make-up Touch
                            </h3>
                            <hr class="sm-divider--start sm-divider--pink u-margin-b-m" />
                            <p class="paragraph">
                                <span class="bold">
                                    "Vergroot jouw zelfvertrouwen met perfecte make-up:
                                    'Mijn passie ligt in het creëren van de perfecte look
                                    die jouw schoonheid versterkt.'</span
                                >
                                <br />
                                <br />
                                Ontdek de kunst, afgestemd op jouw stijl en gelegenheid.
                                Of het nu gaat om een ​​trouwerij, fotoshoot of een
                                avondje uit, ik bied een breed scala aan make-up diensten
                                die zijn afgestemd op jouw individuele stijl en
                                persoonlijkheid.
                                <br />
                                <br />
                                Met gebruik van hoogwaardige producten en mijn ervaring en
                                expertise help ik je een prachtige make-up look te creëren
                                die jouw verwachtingen overtreft"
                            </p>
                            <div class="btn-text">
                                <a href="#" class="btn-text__link">learn more</a>
                            </div>
                        </div>
                        <div class="main-content">
                            <div class="swiper-container">
                                <div class="my-swiper-wrapper">
                                    <div class="swiper card-slider" id="card">
                                        <!-- Additional required wrapper -->
                                        <div class="swiper-wrapper">
                                            <!-- Slides -->
                                            <div
                                                class="swiper-slide card-slider__img card-slider__img--1"
                                            >
                                                &nbsp;
                                            </div>
                                            <div
                                                class="swiper-slide card-slider__img card-slider__img--2"
                                            >
                                                &nbsp;
                                            </div>
                                            <div
                                                class="swiper-slide card-slider__img card-slider__img--3"
                                            >
                                                &nbsp;
                                            </div>
                                            <div
                                                class="swiper-slide card-slider__img card-slider__img--4"
                                            >
                                                &nbsp;
                                            </div>
                                            <div
                                                class="swiper-slide card-slider__img card-slider__img--5"
                                            >
                                                &nbsp;
                                            </div>
                                        </div>
                                        <!-- If we need pagination -->
                                        <!-- <div class="swiper-pagination"></div> -->
                                        <!-- If we need navigation buttons -->
                                        <!-- <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div> -->
                                        <!-- If we need scrollbar -->
                                        <!-- <div class="swiper-scrollbar"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="s-reviews">
                <div class="row">
                    <div class="grid-col-1-of-1">
                        <div class="reviews">
                            <div class="swiper reviews__swiper" id="default-slider">
                                <div class="swiper-wrapper">
                                    <div
                                        class="reviews__swiper__card swiper-slide u-c-text"
                                    >
                                        <p class="reviews__text paragraph">
                                            " Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Eum aspernatur mollitia
                                            repellendus ipsa ullam tempora quam, alias
                                            minus in, dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis? Neque, totam
                                            maiores. elit. Eum aspernatur mollitia
                                            repellendus ipsa ullam tempora quam, alias
                                            minus in, dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis? Neque, totam
                                            maiores. elit."
                                        </p>
                                        <div class="reviews__reviewer u-margin-t-m">
                                            <img
                                                class="reviews__reviewer__img"
                                                src="https://placehold.co/100x100/jpg"
                                                alt="slide-img"
                                            />
                                            <span class="reviews__reviewer__name">
                                                Cheryl Ballons
                                            </span>
                                        </div>
                                    </div>
                                    <div
                                        class="reviews__swiper__card swiper-slide u-c-text"
                                    >
                                        <div class="reviews__text paragraph">
                                            " Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Eum aspernatur mollitia
                                            repellendus ipsa ullam tempora quam, alias
                                            minus in, dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis? Neque, totam
                                            maiores. elit. Eum aspernatur mollitia
                                            repellendus ipsa ullam tempora quam, alias
                                            minus in, dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis? Neque, totam
                                            maiores. elit."
                                        </div>
                                        <div class="reviews__reviewer u-margin-t-m">
                                            <img
                                                class="reviews__reviewer__img"
                                                src="https://placehold.co/100x100/jpg"
                                                alt="slide-img"
                                            />
                                            <span
                                                class="reviews__reviewer__name paragraph"
                                            >
                                                Cheryl Ballons
                                            </span>
                                        </div>
                                    </div>
                                    <div
                                        class="reviews__swiper__card swiper-slide u-c-text"
                                    >
                                        <p class="reviews__text paragraph">
                                            " Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Eum aspernatur mollitia
                                            repellendus ipsa ullam tempora quam, alias
                                            minus in, dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis? Neque, totam
                                            maiores. elit. Eum aspernatur mollitia
                                            repellendus ipsa ullam tempora quam, alias
                                            minus in, dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis? Neque, totam
                                            maiores. elit."
                                        </p>
                                        <div class="reviews__reviewer u-margin-t-m">
                                            <img
                                                class="reviews__reviewer__img"
                                                src="https://placehold.co/100x100/jpg"
                                                alt="slide-img"
                                            />
                                            <span class="reviews__reviewer__name">
                                                Cheryl Ballons
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="s-social-media-slider">
                <div class="row">
                    <div class="infinite-slider">
                        <div class="swiper api-slider">
                            <div class="swiper-wrapper" id="infinite-slider"></div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
    <div class="row">
        <div class="grid-col-1-of-4">
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Social media</h3>
                <div class="footer__list footer__list--socials">
                    <ul>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">Instagram</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">Facebook</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">LinkedIn</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">TikTok</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">Pinterest</a>
                        </li>
                    </ul>
                    <ul class="footer__list__icons">
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Informatie</h3>
                <ul class="footer__list">
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">About me</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">Speciale acties</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">Nieuw berichten</a>
                    </li>
                </ul>
            </div>
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Services</h3>
                <ul class="footer__list">
                    <li class="footer__list__item">
                        <a href="../views/bruidsmake-up.html" class="link text-sm"
                            >Bruidsmake-up</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a
                            href="../views/festival-en-evenementen.html"
                            class="link text-sm"
                            >Festival</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a href="../views/lashes-en-brows.html" class="link text-sm"
                            >Lashes en Brows</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a href="../views/beauty-en-party.html" class="link text-sm"
                            >Beauty en Party</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a href="../views/editorials.html" class="link text-sm"
                            >Editorials</a
                        >
                    </li>
                </ul>
            </div>
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Contact</h3>
                <ul class="footer__list">
                    <li class="footer__list__item text-sm">Voorbeeld 12, 1234VW, Stad</li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">(06)55555555</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">voorbeeld@hotmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid-col-1-of-1">
            <p class="footer__autograph u-c-text">
                <span class="footer__copyright">
                    &copy; 2024 Cheryl Sallons | All Rights Reserved.
                </span>
            </p>
        </div>
    </div>
</footer>

        </div>
    </body>
</html>
