<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;1,6..12,400&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Quicksand&display=swap"
        rel="stylesheet"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../node_modules/photoswipe/dist/photoswipe.css" />

    <link rel="stylesheet" href="../src/sass/main.scss" />
    <script defer type="module" src="../src/js/app.js"></script>
    <title>Document</title>
</head>

    <body>
        <header class="container-header">
    <div class="header">
        <div class="header__container header__container--top">
            <ul class="header__grid header__grid--contacts">
                <li class="header__menu__top header__menu">
                    <span>T:</span
                    ><a href="#" class="header__menu__top--hover">(06)55555555</a>
                </li>
                <li class="header__menu__top header__menu">
                    <span>E:</span
                    ><a href="#" class="header__menu__top--hover"
                        >voorbeeld@hotmail.com</a
                    >
                </li>
                <li class="header__menu__top header__menu">
                    A.voorbeeld 12, 1234VW, Stad
                </li>
            </ul>
            <ul class="header__grid header__grid--contacts">
                <li class="header__menu__top header__menu">
                    <a href="#" class="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li class="header__menu__top header__menu">
                    <a href="#" class="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="header__menu__top header__menu">
                    <a href="#" class="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__container header__container--bottom">
            <div class="header__logo">
                <a href="../views/index.html">
                    <img src="../img/logo.png" alt="logo" />
                </a>
            </div>
            <ul class="header__grid header__grid--menu">
                <li class="header__menu__bottom header__menu">
                    <a
                        href="../views/index.html"
                        class="link upper bold-m header__menu__bottom--active"
                        >Home</a
                    >
                </li>
                <li class="header__menu__bottom header__menu">
                    <a href="#" class="link upper bold-m">Diensten</a>
                    <span class="arrow header__menu--arrow">&#129171;</span>
                    <ul class="menu-list">
                        <li class="">
                            <a href="../views/bruidsmake-up.html" class="menu-list__item"
                                ><span class="menu-list__item--text"
                                    >Bruidsmake-up</span
                                ></a
                            >
                        </li>
                        <li class="">
                            <a
                                href="../views/festival-en-evenementen.html"
                                class="menu-list__item"
                                ><span class="menu-list__item--text"
                                    >Festival en evenementen</span
                                ></a
                            >
                        </li>

                        <li class="">
                            <a
                                href="../views/lashes-en-brows.html"
                                class="menu-list__item"
                                ><span class="menu-list__item--text"
                                    >Lashes en brows</span
                                ></a
                            >
                        </li>
                        <li class="">
                            <a
                                href="../views/beauty-en-party.html"
                                class="menu-list__item"
                                ><span class="menu-list__item--text"
                                    >Beauty en Party</span
                                ></a
                            >
                        </li>
                        <li class="">
                            <a href="../views/editorials.html" class="menu-list__item"
                                ><span class="menu-list__item--text">Editorials</span></a
                            >
                        </li>
                    </ul>
                </li>
                <li class="header__menu__bottom header__menu">
                    <a href="../views/portfolio.html" class="link upper bold-m"
                        >Portfolio</a
                    >
                </li>
                <li class="header__menu__bottom header__menu">
                    <a href="../views/tarieven.html" class="link upper bold-m"
                        >Tarieven</a
                    >
                </li>
                <li class="header__menu__bottom header__menu">
                    <a href="../views/contact-me.html" class="link upper bold-m"
                        >Contact me</a
                    >
                </li>
            </ul>
            <!-- mobile effect -->
            <input type="checkbox" class="header__checkbox" id="navi-toggle" />
            <label for="navi-toggle" class="header__button">
                <span class="header__icon">&nbsp;</span>
            </label>
        </div>
    </div>
</header>
 <nav class="nav-mobile">
    <div class="nav-mobile__toggle">
        <i style="color: white" class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="nav-mobile__menu">
        <ul class="nav-mobile__menu--items">
            <li class="nav-mobile__menu--item">
                <a href="../views/index.html" class="link-upper">Home</a>
            </li>
            <li class="nav-mobile__menu--item" id="submenu-dropdown-link">
                <div>
                    <a href="#" class="link-upper">Diensten</a>
                    <i class="fa-solid fa-chevron-down arrow nav-mobile__menu--arrow"></i>
                </div>

                <ul class="nav-mobile__submenu" id="submenu-dropdown">
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/bruidsmake-up.html"
                            ><span class="nav-mobile__submenu--text"
                                >Bruidsmake-up</span
                            ></a
                        >
                    </li>
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/festival-en-evenementen.html"
                            ><span class="nav-mobile__submenu--text"
                                >Festival en evenementen</span
                            ></a
                        >
                    </li>

                    <li class="nav-mobile__submenu--link">
                        <a href="../views/lashes-en-brows.html"
                            ><span class="nav-mobile__submenu--text"
                                >Lashes en brows</span
                            ></a
                        >
                    </li>
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/beauty-en-party.html"
                            ><span class="nav-mobile__submenu--text"
                                >Beauty en Party</span
                            ></a
                        >
                    </li>
                    <li class="nav-mobile__submenu--link">
                        <a href="../views/editorials.html"
                            ><span class="nav-mobile__submenu--text">Editorials</span></a
                        >
                    </li>
                </ul>
            </li>
            <li class="nav-mobile__menu--item">
                <a href="../views/portfolio.html" class="link-upper">Portfolio</a>
            </li>
            <li class="nav-mobile__menu--item">
                <a href="../views/tarieven.html" class="link-upper">Tarieven</a>
            </li>
            <li class="nav-mobile__menu--item">
                <a href="../views/contact-me.html" class="link-upper">Contact me</a>
            </li>
        </ul>
    </div>
</nav>

        <header class="parallax-bg portfolio-header">&nbsp;</header>
        <section class="heading-portfolio">
            <div class="row">
                <div class="grid-col-1-of-3">
                    <div class="text-block u-c-text">
                        <h1
                            class="heading-primary heading-primary--u heading-primary--black"
                        ></h1>
                        <h2
                            class="heading-primary__sub heading-primary__sub--pink u-margin-b-m"
                        >
                            Very good model and foto yes
                        </h2>
                        <hr class="sm-divider u-margin-b-m" />
                    </div>
                    <p class="text-block--p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                        dolores quisquam deserunt odio quis accusantium alias! Explicabo,
                        eum aperiam necessitatibus animi iusto soluta ut quam in labore.
                        Cupiditate, sequi possimus. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Aperiam dolores quisquam deseru0nt odio quis
                        accusantium alias! Explicabo, eum aperiam necessitatibus animi
                        iusto soluta ut quam.
                    </p>

                    <p class="text-block--p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                        dolores quisquam deserunt odio quis accusantium alias! Explicabo,
                        eum aperiam necessitatibus animi iusto soluta ut quam in labore.
                        Cupiditate, sequi possimus. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Aperiam dolores quisquam deseru0nt odio quis
                        accusantium alias! Explicabo, eum aperiam necessitatibus animi
                        iusto soluta ut quam in labore. Cupiditate, sequi possimus. Lorem
                    </p>
                </div>
            </div>
        </section>
        <section class="s-portfolio-gallery">
            <div class="row">
                <div class="grid-col-1-of-1--wide">
                    <div class="pswp-gallery flexbin" id="gallery">
                        <a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio01.jpg"
                            class="link gallery-img"
                            data-pswp-width="1440"
                            data-pswp-height="960"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio01-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio02.jpg"
                            class="link gallery-img"
                            data-pswp-width="960"
                            data-pswp-height="960"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio02-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio03.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="1080"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio03-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio04.jpg"
                            class="link gallery-img"
                            data-pswp-width="660"
                            data-pswp-height="1080"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio04-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio05.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="646"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio05-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio06.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="847"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio06-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio07.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="1350"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio07-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio08.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="1312"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio08-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio09.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="1273"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio09-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio10.jpg"
                            class="link gallery-img"
                            data-pswp-width="720"
                            data-pswp-height="900"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio10-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio11.jpg"
                            class="link gallery-img"
                            data-pswp-width="716"
                            data-pswp-height="895"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio11-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio12.jpg"
                            class="link gallery-img"
                            data-pswp-width="885"
                            data-pswp-height="1080"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio12-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio13.jpg"
                            class="link gallery-img"
                            data-pswp-width="1440"
                            data-pswp-height="1800"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio13-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio14.jpg"
                            class="link gallery-img"
                            data-pswp-width="1440"
                            data-pswp-height="1800"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio14-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio15.jpg"
                            class="link gallery-img"
                            data-pswp-width="1440"
                            data-pswp-height="960"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio15-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio16.jpg"
                            class="link gallery-img"
                            data-pswp-width="1440"
                            data-pswp-height="1800"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio16-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio17.jpg"
                            class="link gallery-img"
                            data-pswp-width="1440"
                            data-pswp-height="1800"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio17-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio18.jpg"
                            class="link gallery-img"
                            data-pswp-width="1440"
                            data-pswp-height="1440"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio18-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio19.jpg"
                            class="link gallery-img"
                            data-pswp-width="1440"
                            data-pswp-height="1440"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio19-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio20.jpg"
                            class="link gallery-img"
                            data-pswp-width="828"
                            data-pswp-height="1048"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio20-thumbnail.jpg"
                                alt=""
                                class="hover"
                        /></a>
                        <a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio21.jpg"
                            class="link gallery-img"
                            data-pswp-width="1440"
                            data-pswp-height="1440"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio21-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio22.jpg"
                            class="link gallery-img"
                            data-pswp-width="1920"
                            data-pswp-height="2880"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio22-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio23.jpg"
                            class="link gallery-img"
                            data-pswp-width="1920"
                            data-pswp-height="2880"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio23-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio24.jpg"
                            class="link gallery-img"
                            data-pswp-width="1919"
                            data-pswp-height="2764"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio24-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio25.jpg"
                            class="link gallery-img"
                            data-pswp-width="1920"
                            data-pswp-height="2880"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio25-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio26.jpg"
                            class="link gallery-img"
                            data-pswp-width="1920"
                            data-pswp-height="2880"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio26-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio27.jpg"
                            class="link gallery-img"
                            data-pswp-width="1920"
                            data-pswp-height="2150"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio27-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio28.jpg"
                            class="link gallery-img"
                            data-pswp-width="1920"
                            data-pswp-height="2885"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio28-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio29.jpg"
                            class="link gallery-img"
                            data-pswp-width="1920"
                            data-pswp-height="2885"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio29-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio30.jpg"
                            class="link gallery-img"
                            data-pswp-width="1576"
                            data-pswp-height="2364"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio30-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio31.jpg"
                            class="link gallery-img"
                            data-pswp-width="1684"
                            data-pswp-height="1684"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio31-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio32.jpg"
                            class="link gallery-img"
                            data-pswp-width="1813"
                            data-pswp-height="2719"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio32-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio33.jpg"
                            class="link gallery-img"
                            data-pswp-width="1800"
                            data-pswp-height="1800"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio33-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio34.jpg"
                            class="link gallery-img"
                            data-pswp-width="1004"
                            data-pswp-height="1504"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio34-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio35.jpg"
                            class="link gallery-img"
                            data-pswp-width="1004"
                            data-pswp-height="1504"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio35-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio36.jpg"
                            class="link gallery-img"
                            data-pswp-width="1367"
                            data-pswp-height="2048"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio36-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio37.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="851"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio37-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio38.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="974"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio38-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio39.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="968"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio39-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio40.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="1350"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio40-thumbnail.jpg"
                                alt=""
                                class="hover"
                        /></a>
                        <a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio41.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="1350"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio41-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio42.jpg"
                            class="link gallery-img"
                            data-pswp-width="1080"
                            data-pswp-height="1350"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio42-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio43.jpg"
                            class="link gallery-img"
                            data-pswp-width="1800"
                            data-pswp-height="1492"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio43-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio44.jpg"
                            class="link gallery-img"
                            data-pswp-width="1919"
                            data-pswp-height="1769"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio44-thumbnail.jpg"
                                alt=""
                                class="hover" /></a
                        ><a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio45.jpg"
                            class="link gallery-img"
                            data-pswp-width="1556"
                            data-pswp-height="1556"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio45-thumbnail.jpg"
                                alt=""
                                class="hover"
                        /></a>
                        <a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio46.jpg"
                            class="link gallery-img"
                            data-pswp-width="1920"
                            data-pswp-height="2885"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio46-thumbnail.jpg"
                                alt=""
                                class="hover"
                        /></a>
                        <a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio47.jpg"
                            class="link gallery-img"
                            data-pswp-width="1920"
                            data-pswp-height="2885"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio47-thumbnail.jpg"
                                alt=""
                                class="hover"
                        /></a>
                        <a
                            href="../img/Portfolio-imgs/Portfolio/img-portfolio48.jpg"
                            class="link gallery-img"
                            data-pswp-width="1920"
                            data-pswp-height="2885"
                            ><img
                                src="../img/Portfolio-imgs/Portfolio-compressed/img-portfolio48-thumbnail.jpg"
                                alt=""
                                class="hover"
                        /></a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
    <div class="row">
        <div class="grid-col-1-of-4">
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Social media</h3>
                <div class="footer__list footer__list--socials">
                    <ul>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">Instagram</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">Facebook</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">LinkedIn</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">TikTok</a>
                        </li>
                        <li class="footer__list__item">
                            <a href="#" class="link text-sm">Pinterest</a>
                        </li>
                    </ul>
                    <ul class="footer__list__icons">
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                        <li class="footer__list__icon">
                            <a href="#">
                                <i class="fa-brands fa-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Informatie</h3>
                <ul class="footer__list">
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">About me</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">Speciale acties</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">Nieuw berichten</a>
                    </li>
                </ul>
            </div>
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Services</h3>
                <ul class="footer__list">
                    <li class="footer__list__item">
                        <a href="../views/bruidsmake-up.html" class="link text-sm"
                            >Bruidsmake-up</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a
                            href="../views/festival-en-evenementen.html"
                            class="link text-sm"
                            >Festival</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a href="../views/lashes-en-brows.html" class="link text-sm"
                            >Lashes en Brows</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a href="../views/beauty-en-party.html" class="link text-sm"
                            >Beauty en Party</a
                        >
                    </li>
                    <li class="footer__list__item">
                        <a href="../views/editorials.html" class="link text-sm"
                            >Editorials</a
                        >
                    </li>
                </ul>
            </div>
            <div class="footer__section">
                <h3 class="footer__header heading-tertiary">Contact</h3>
                <ul class="footer__list">
                    <li class="footer__list__item text-sm">Voorbeeld 12, 1234VW, Stad</li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">(06)55555555</a>
                    </li>
                    <li class="footer__list__item">
                        <a href="#" class="link text-sm">voorbeeld@hotmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid-col-1-of-1">
            <p class="footer__autograph u-c-text">
                <span class="footer__copyright">
                    &copy; 2024 Cheryl Sallons | All Rights Reserved.
                </span>
            </p>
        </div>
    </div>
</footer>

    </body>
</html>
