.bruidsmake-up-banner {
    &--top {
        height: 82.5rem;
        background-image: url(../../img/Bruiloftsmake-up_imgs/bruiloft-bg.jpg);
        top: 0;
    }
    &--middle {
        filter: brightness(0.4) blur(1);
        height: 47.5rem;
        background-image: url(../../img/Bruiloftsmake-up_imgs/bruiloft-middle-bg.webp);
    }
}

.s-1-bruiloft,
.s-2-bruiloft {
    position: relative;
    &::before {
        content: "";
        @include layer-behind;
        background-color: $color-primary-light;
        width: 100%;
        height: 100%;
        top: 8rem;
    }
}

.s-1-bruiloft {
    margin-top: 50rem;
}

.s-2-bruiloft {
    margin-top: 39.5rem;
}

.section-appointment-bruiloft {
    background-color: $color-tertiary;
    max-width: $grid-width;
    margin: 0 auto;
}
