.heading-contact-me {
	position: relative;
	display: block;
	background: linear-gradient(
				to right,
				$color-background-secondary $border-thickness,
				transparent 0,
				transparent 100%
			)
			top,
		linear-gradient(
				to bottom,
				$color-background-secondary $border-thickness,
				$color-background-primary 0,
				$color-background-primary 100%
			)
			left;
	padding: 4rem 0;
}

.s-map {
	padding: 8rem 0;
	overflow: hidden;
	background-color: $color-background-secondary;
}
