.s-1-bruiloft,
.s-2-bruiloft,
.s-1-beauty-en-party,
.s-2-beauty-en-party,
.s-1-festival,
.s-1-lashes-en-brows {
    position: relative;
    padding: 10rem 0 ;
  

    &::before {
        content: "";
        @include layer(-1);
        background-color: $color-primary-light;
        width: 100%;
        height: 100%;
        
    }

    &__img {
        transform: translateY(0rem);
    }
    

}

.s-1-bruiloft,
.s-1-beauty-en-party,
.s-1-festival,
.s-1-lashes-en-brows {
    // &__img {
    //     overflow: visible;
    //     &::after {
    //         @include layer(1);
    //         border: $color-primary 9px solid;
    //         transform: translateY(8rem) translateX(8rem);
    //         z-index: -1;
    //     }
    // }
    &::after {
        @include layer(1);
        z-index: 5;
        width: 5%;
        background: linear-gradient(to right, $color-secondary 0%, $color-secondary 100%);
        @include respond (tab-port) {
            background: none
        }
    }
}

.s-2-bruiloft,
.s-2-beauty-en-party {
    // &__img {
    //     justify-self: end;
    //     overflow: visible;
    //     &::after {
    //         @include layer(1);
    //         border: $color-primary 9px solid;
    //         transform: translateY(-4rem) translateX(-4rem);
    //         z-index: -1;
    //     }
    // }
    &::after {
        @include layer-right(1);
        z-index: 5;
        width: 5%;
        background: linear-gradient(to left, $color-secondary 0%, $color-secondary 100%);
        @include respond (tab-port) {
            background: none
        }
    }
}

.section-appointment-bruiloft {
    background-color: $color-secondary;
    max-width: $grid-width;
    margin: 0 auto;
}

.s-bruidsmake-up-cards,
.s-beauty-en-party-cards {
    height: 10rem;
    background-color: $color-secondary;
}

.s-bruidsmake-up-tarieven,
.s-beauty-en-make-up-tarieven {
    padding: 8rem 0 16rem 0;
    background-color: $color-secondary;
}
    

