.s-1-bruiloft,
.s-2-bruiloft,
.s-1-beauty-en-party,
.s-2-beauty-en-party,
.s-1-festival,
.s-1-editorials,
.s-1-lashes-en-brows {
	position: relative;
	padding: 10rem 0;
	&::before {
		content: '';
		@include layer(-1);
		background-color: $color-primary-light;
		width: 100%;
		height: 100%;
	}

	&__img {
		transform: translateY(0rem);
	}
}

.s-1-bruiloft,
.s-1-beauty-en-party,
.s-1-festival,
.s-1-editorials,
.s-1-lashes-en-brows {
	padding: $vertical-padding-large;
	padding-left: 7rem;
	@include respond(phone) {
		padding-left: 0;
	}
	background-color: $color-primary-light;
	@include respond(phone) {
		padding-left: 0;
	}
	&::after {
		@include layer(1);
		z-index: 5;
		width: 7rem;
		background: linear-gradient(
			to left,
			$color-secondary 0%,
			$color-secondary 100%
		);
		@include respond(phone) {
			background: none;
		}
	}
	&__img {
		justify-self: end;
	}
}

.s-2-bruiloft,
.s-2-beauty-en-party {
	padding-right: 7rem;
	@include respond(phone) {
		padding-right: 0;
	}

	&::after {
		@include layer(0);
		right: 0;
		background: linear-gradient(
			to right,
			$color-primary-light 0%,
			$color-primary-light calc(100% - 7rem),
			$color-secondary 7rem
		);
		@include respond(phone) {
			background: none;
		}
	}
}

.section-appointment {
	background-color: $color-secondary;
	margin: 0 auto;
	padding: $vertical-padding-medium;
}

.s-bruidsmake-up-cards,
.s-beauty-en-party-cards {
	height: 12rem;
	background-color: $color-secondary;
}

.s-bruidsmake-up-tarieven,
.s-beauty-en-make-up-tarieven {
	padding: 8rem 0 16rem 0;
	background-color: $color-secondary;
}
