.s-1-bruiloft,
.s-2-bruiloft,
.s-1-beauty-en-party,
.s-2-beauty-en-party,
.s-1-festival,
.s-1-editorials,
.s-1-lashes-en-brows {
	position: relative;
}

.inner-container {
	max-width: $container-width-md;
	border-radius: 30px;
	margin: 0 auto;
	padding: 10rem 10rem;
	@include respond(tab-land) {
		max-width: $container-width-sm;
		padding: 10rem 8rem;
	}

	@include respond(tab-port) {
		padding: 10rem 2rem;
	}
}

.s-1-bruiloft,
.s-1-beauty-en-party,
.s-1-festival,
.s-1-editorials,
.s-1-lashes-en-brows {
	border-top: 10rem solid $color-background-secondary;
	background-color: $color-background-muted;
	@include respond(phone) {
		padding-left: 0;
	}
}

.s-2-bruiloft,
.s-2-beauty-en-party {
	background-color: $color-background-muted;

	border-top: 10rem solid $color-background-secondary;
	@include respond(phone) {
		padding-right: 0;
	}
}

.section-appointment {
	background-color: $color-background-secondary;
	padding: $vertical-padding-medium;
}

.s-bruidsmake-up-cards,
.s-beauty-en-party-cards {
	height: 10rem;
	background-color: $color-background-secondary;
}

.s-bruidsmake-up-tarieven,
.s-beauty-en-party-tarieven {
	padding: $vertical-padding-medium;
	background-color: $color-background-muted;
}

.s-gallery {
	position: relative;
	padding: $vertical-padding-medium;
	background-color: $color-background-secondary;
}

.s-cooperations-editorials {
	padding: $vertical-padding-medium;
	background-color: $color-background-muted;
}
