.home-wrapper {
	background: $color-background-primary;
}

.s-home-heading {
	background: $color-background-secondary;
	padding: $vertical-padding-normal;
}

.s-home-about {
	padding: $vertical-padding-large;

	&__text-container {
		display: flex;
		align-items: center;
		gap: 5rem;
	}
	&__socials {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.2rem;
	}
}

.s-home-video {
	background: $color-background-tertiary;
}

.s-home-cooperations {
	padding: $vertical-padding-medium;
	background: $color-background-muted;
}

.s-feature-box {
	background: $color-background-tertiary;
	padding: $vertical-padding-large;
	@include respond(phone) {
		padding-left: 0;
	}
	@include respond(phone) {
		padding-left: 0;
	}
}

.s-appointment {
	padding: $vertical-padding-medium;
	background: $color-background-secondary;
}

.s-testimonials {
	padding: $vertical-padding-large;
	background: $color-background-secondary;
	overflow: hidden;
}

.s-social-media-slider {
	padding: $vertical-padding-large;
	position: relative;
	overflow: hidden;

	@include respond(tab-port) {
		padding: $vertical-padding-small;
	}
}
