.home-wrapper {
    background: $color-primary-light;

}

.home-hero {

}

.s-home-promo {
    position: relative;
    padding: $vertical-padding-large;
    background: $color-primary-light;
    &::after {
        @include layer(1);
        z-index: 5;
        width: 5%;
        background: linear-gradient(to left, $color-secondary 0%, $color-secondary 100%);
        @include respond (phone) {
            background: none
        }
    }
}

.s-feature-box {
    z-index: 0;
    position: relative;
    padding-left: 5%;
    // padding-bottom: 10rem;
    background-color: $color-primary-light;
    @include respond (phone) {
        padding-left: 0;
    }
    &::after {
        @include layer(1);
        z-index: 5;
        width: 5%;
        background: linear-gradient(to left, $color-secondary 0%, $color-secondary 100%);
        @include respond (phone) {
            background: none
        }
    }
}

.s-appointment {
    padding: $vertical-padding-small;
    background: $color-secondary;
}

.s-about-me {
    // margin: 5rem;
    padding: $vertical-padding-large;
    background: $color-primary;
    background: linear-gradient(
        to right,
        $color-primary-light 95%,
        $color-primary 95%,
        $color-primary 95%,
        $color-secondary 95%
    );
    @include respond(phone) {
        background: none;
    }
}

.s-reviews {
    padding: $vertical-padding-large;
    background: $color-secondary;
}

.s-social-media-slider {
    padding: $vertical-padding-large;
    @include respond(tab-port) {
        padding: $vertical-padding-small
    };
    position: relative;
    &::after {
        @include layer(1);
        z-index: 5;
        width: 5%;
        background: linear-gradient(to left, $color-secondary 0%, $color-secondary 100%);
        @include respond(phone) {
            background: none;
        }
    }
}
