.portfolio-banner {
    height: 70rem;
    background-image: url(../../img/img_header3-compressed-1980.jpg);
    top: 0;
}

.heading-portfolio {
    margin-top: 55rem;
    padding-top: $gutter-vertical;
    display: block;
    border-top: $color-primary solid 10px;
}

.s-portfolio-gallery {
    margin: 10rem 0;
    padding: 10rem 0;
    background-image: linear-gradient(
        180deg,
        $color-white 0%,
        $color-white2 1%,
        $color-white2 99%,
        $color-white 100%
    );
}

.img {
    overflow: hidden;
    transition: all 1.2s ease;
    // margin: 1%;
    transform: scale(1) translateY(0%);
}

.hidden {
    opacity: 0;
    transform: scale(0.5) translateY(100%);
}

.hover {
    // border: rgba($color-primary-dark, 0.5) solid 10px;
    border-radius: 3px;
    transition:
        transform 1.2s ease,
        filter 0.5s ease;
    &:hover {
        transform: scale(1.2);
        filter: brightness(0.4);
    }
}

.pswp__img {
    cursor: pointer !important;
}
