.heading-portfolio {
	position: relative;
	display: block;
	box-shadow: $minimal-shadow;
	background-color: $color-background-primary;
	padding: $vertical-padding-large;
	padding-left: $border-thickness;
}

.s-portfolio-gallery {
	padding: 8rem 0;
	background: $color-background-muted 99%;
}

.gallery-img {
	overflow: hidden;
}

.hover {
	// border: rgba($color-primary-dark, 0.5) solid 10px;
	border-radius: 3px;
	transition: transform 1.2s ease, filter 0.5s ease;
	&:hover {
		transform: scale(1.2);
		filter: brightness(0.4);
	}
}

.pswp__img {
	cursor: pointer !important;
}
