.heading-portfolio {
    display: block;
    margin-top: 35rem;
    background-color: $color-white;
    box-shadow: $minimal-shadow;
    border-top: $color-primary solid 10px;
    padding: 4rem 0;
}

.s-portfolio-gallery {
    padding: 8rem 0;
    background: $color-primary-light2 99%;
}

.img {
    overflow: hidden;
    transition: all 1.2s ease;
    // margin: 1%;
    transform: scale(1) translateY(0%);
}

.hidden {
    opacity: 0;
    transform: scale(0.5) translateY(100%);
}

.hover {
    // border: rgba($color-primary-dark, 0.5) solid 10px;
    border-radius: 3px;
    transition:
        transform 1.2s ease,
        filter 0.5s ease;
    &:hover {
        transform: scale(1.2);
        filter: brightness(0.4);
    }
}

.pswp__img {
    cursor: pointer !important;
}
