.s1-tarieven {
	position: relative;
	display: block;
	background-color: $color-background-muted;
	padding: $vertical-padding-large;
	overflow: hidden;
}

.s2-tarieven {
	background: $color-background-muted;
	padding: 8rem 0;
	overflow: hidden;
}

.s1-tarieven-tabel {
	background-color: $color-background-primary;
	padding: 8rem 0;
}

.table {
	text-align: left;
	align-self: self-start;
	padding: 0 2rem;
	&__header {
		& > * {
			padding-bottom: 1rem;
			font-style: oblique;
		}
	}
	&__header,
	&__items {
		line-height: 4rem;
		text-wrap: nowrap;
		& > :nth-child(1),
		& > :nth-child(2) {
			font-family: 'Nunito';
			font-weight: 400;
			font-size: 1.8rem;
		}
		& > :nth-child(2) {
			text-align: right;
		}
	}
}

.s1-tarieven,
.s2-tarieven,
.s1-tarieven-tabel {
	overflow: hidden;
}
