<!DOCTYPE html>
<html lang="en">
	@@include('partials/head.html')
	<body>
		@@include('partials/header.html') @@include('partials/nav.html')
		<div class="wrapper">
			<section class="beauty-en-party-banner--top parallax-bg"
				>&nbsp;</section
			>
			<section class="s-1-beauty-en-party">
				<div class="two-col">
					<div class="u-max-width-l u-padding-x-s">
						<h2 class="heading-secondary">
							Ontdek de Schoonheidsmagie bij Cher's Beauty Sallons
						</h2>
						<hr class="sm-divider sm-divider--pink" />
						<h5 class="heading-sub">
							Stralend op Jouw Speciale Dag
						</h5>
						<p class="paragraph">
							Bij Cher's Beauty Sallons draait alles om jouw
							<span class="text-highlight">unieke</span>
							schoonheid. Of het nu je verjaardag is of een ander
							<span class="text-highlight">feestelijk</span>
							evenement, ik zorg ervoor dat jij straalt op jouw
							grote dag.
						</p>

						<h5 class="heading-sub">
							De Glamour Begint met Mijn Persoonlijke Aandacht
						</h5>
						<p class="paragraph">
							Laat je betoveren door mijn
							<span class="text-highlight">persoonlijke</span>
							aandacht als ervaren visagist. Samen creëren we een
							look die niet alleen jouw uiterlijke pracht
							benadrukt, maar ook de schittering van jouw
							innerlijke zelf naar voren brengt. Verlaat de stoel
							vol
							<span class="text-highlight">zelfvertrouwen</span>
							en prachtig gestyled, klaar om te stralen op het
							feest.
						</p>

						<h5 class="heading-sub">
							Stralend naar elke Gelegenheid
						</h5>
						<p class="paragraph">
							Niet alleen voor verjaardagen, maar ook voor
							<span class="text-highlight">gala's</span>,
							evenementen of een onvergetelijke familiefotoshoot
							ben je bij mij aan het juiste adres. Mijn
							visagiediensten zijn beschikbaar op elke gewenste
							locatie, zodat jij je kunt concentreren op het
							<span class="text-highlight">vieren</span> van het
							moment, terwijl ik met passie en expertise zorg voor
							de perfecte finishing touch.
						</p>
					</div>
					<div
						class="hover-card hover-card--margin s-1-beauty-en-party__img"
					>
						<div
							class="hover-card__img-zoom hover-card__img-zoom--4"
						>
							&nbsp;
						</div>
					</div>
				</div>
			</section>
			<section class="s-appointment">
				<div class="one-col">
					<div class="cta-banner u-c-text">
						<div class="cta-banner__heading">
							<h2
								class="cta-banner__text--header heading-secondary heading-secondary--black heading-secondary--lg"
							>
								Benieuwd naar de mogelijkheden?
							</h2>
							<hr
								class="sm-divider sm-divider--black u-margin-b-m u-centered"
							/>
							<h5 class="cta-banner__text--paragraph heading-sub">
								Make-up Artist | Cheryl Sallons
							</h5>
						</div>
						<div>
							<a
								href="./tarieven.html"
								class="btn btn__primary cta-banner__btn btn--black u-margin-b-m"
							>
								Boek je Make-up Sessie!</a
							>

							<ul class="cta-banner__socials-list">
								<li class="cta-banner__item--socials">
									<a href="#" class="facebook">
										<i
											class="fa-brands fa-facebook-f icons icons--primary"
										></i>
									</a>
								</li>
								<li class="cta-banner__item--socials">
									<a href="#" class="instagram">
										<i
											class="fa-brands fa-instagram icons icons--primary"
										></i>
									</a>
								</li>
								<li class="cta-banner__item--socials">
									<a href="#" class="whatsapp">
										<i
											class="fa-brands fa-whatsapp icons icons--primary"
										></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
		<section class="beauty-en-party-banner--middle parallax-bg"></section>
		<section class="s-beauty-en-party-cards">
			<div class="cards">
				<div class="swiper cards__swiper" id="cards-slider">
					<div class="swiper-wrapper">
						<div class="card card__slide-container swiper-slide">
							<div class="card__content">
								<div class="card__icon">
									<i class="fas fa-heart"></i>
								</div>
								<p class="card__title">
									"Ervaar bruidsgloed op maat met een service
									die jouw natuurlijke schoonheid omarmt. Jouw
									droomlook begint hier."
								</p>
								<p class="card__apply">
									<a class="card__link" href="#"
										>Boek een sessie
										<i class="fas fa-arrow-right"></i
									></a>
								</p>
							</div>
						</div>

						<div class="card card__slide-container swiper-slide">
							<div class="card__content">
								<div class="card__icon">
									<i class="fas fa-heart"></i>
								</div>
								<p class="card__title">
									"Ontvang een service die verder gaat dan
									make-up. Met passie en toewijding creëren we
									samen een onvergetelijke bruidslook."
								</p>
								<p class="card__apply">
									<a class="card__link" href="#"
										>Boek een sessie
										<i class="fas fa-arrow-right"></i
									></a>
								</p>
							</div>
						</div>

						<div class="card card__slide-container swiper-slide">
							<div class="card__content">
								<div class="card__icon">
									<i class="fas fa-heart"></i>
								</div>
								<p class="card__title">
									"Van proefsessie tot huwelijksaltaar, onze
									service staat garant voor een stralende en
									ongereloze ervaring."
								</p>
								<p class="card__apply">
									<a class="card__link" href="#"
										>Boek een sessie
										<i class="fas fa-arrow-right"></i
									></a>
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-pagination cards__pagination"></div>
					<!-- <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div> -->
				</div>
			</div>
		</section>
		<section class="s-2-beauty-en-party">
			<div class="two-col">
				<div
					class="hover-card hover-card--margin s-2-beauty-en-party__img"
				>
					<div class="hover-card__img-zoom hover-card__img-zoom--5">
						&nbsp;
					</div>
				</div>
				<div
					class="u-padding-x-s u-z-index-1 u-max-width-l u-centered-mobile"
				>
					<h2 class="heading-secondary"> Stralend de nacht in </h2>
					<hr class="sm-divider sm-divider--pink" />
					<h5 class="heading-sub">
						Avond make-up voor de feestelijke uren na het ja-woord!
					</h5>
					<p class="paragraph">
						Naast het verzorgen van jouw avondlook ben ik er ook om
						de
						<span class="text-highlight">finishing touch</span> te
						geven aan jouw feestelijke avond.
					</p>

					<h5 class="u-margin-t-m heading-sub">
						Altijd Stralend: Bijwerken en Aanpassen
					</h5>
					<p class="paragraph">
						Mocht je tijdens het feesten merken dat je make-up
						<span class="text-highlight">bijgewerkt</span> moet
						worden of als je een andere gewenste verandering hebt,
						sta ik klaar om aan jouw wensen tegemoet te komen. Jouw
						tevredenheid staat voorop, en ik wil ervoor zorgen dat
						je er de hele avond
						<span class="text-highlight">zelfverzekerd</span> en
						stralend uitziet.
					</p>

					<h5 class="u-margin-t-m heading-sub">
						Voor Iedereen die Stralen Wil: Uitgebreide Diensten voor
						Gasten
					</h5>
					<p class="paragraph">
						Voor degenen die deel uitmaken van jouw speciale dag en
						ook willen
						<span class="text-highlight">schitteren</span>, bied ik
						de mogelijkheid om mijn diensten uit te breiden naar
						bruidsmeisjes, (schoon)moeder, vriendinnen en andere
						gasten die jij wilt verwennen.
					</p>
				</div>
			</div>
		</section>

		<section class="s-beauty-en-party-tarieven">
			<div class="u-margin-b-l">
				<div class="u-c-text">
					<h2 class="heading-secondary">Prijzen Beauty en Party</h2>
					<hr class="sm-divider u-centered" />
					<h2
						class="heading-primary__sub heading-primary__sub--pink u-margin-b-m"
					></h2>
				</div>
			</div>
			<div class="container-price-card">
				<div class="swiper" id="cards-prices-beauty">
					<div class="swiper-wrapper">
						<div class="price-card-container swiper-slide">
							<div class="price-card u-c-text price-card-slider">
								<div class="price-card__heading u-margin-b-m">
									<h3 class="heading-tertiary"
										>Natural Glam</h3
									>
								</div>
								<h4 class="heading-quaternary">€ 75</h4>
								<p
									class="heading-subtext heading-subtext--pink"
								>
									Bronze
								</p>
								<ul class="price-card__list u-margin-b-l">
									<li>
										Ervaar een subtiele, natuurlijke
										schoonheid met nepwimpers van natural
										volume. Deze look is perfect voor een
										frisse, moeiteloze uitstraling.
									</li>
								</ul>
								<a
									href="#"
									type="button"
									class="btn btn__primary btn--black price-card__btn"
								>
									RESERVEREN
								</a>
							</div>
						</div>
						<div class="price-card-container swiper-slide">
							<div class="price-card u-c-text price-card-slider">
								<div class="price-card__heading u-margin-b-m">
									<h3 class="heading-tertiary">Soft Glam</h3>
								</div>
								<h4 class="heading-quaternary">€ 85</h4>
								<p
									class="heading-subtext heading-subtext--pink"
								>
									Silver
								</p>
								<ul class="price-card__list u-margin-b-l">
									<li>
										Omarm een zachte en elegante uitstraling
										met nepwimpers van natural of extra
										volume, geschikt voor diverse
										gelegenheden.
									</li>
									<a
										href="#"
										type="button"
										class="btn btn__primary btn--black price-card__btn"
									>
										RESERVEREN
									</a>
								</ul>
							</div>
						</div>
						<div class="price-card-container swiper-slide">
							<div class="price-card u-c-text price-card-slider">
								<div class="price-card__heading u-margin-b-m">
									<h3 class="heading-tertiary">Full Glam</h3>
								</div>
								<h4 class="heading-quaternary">€ 95</h4>
								<p
									class="heading-subtext heading-subtext--pink"
								>
									Gold
								</p>
								<ul class="price-card__list u-margin-b-l">
									<li>
										Bereik de ultieme glamoureuze
										uitstraling met een uitgebreide make-up
										en hairstyling ervaring, inclusief alles
										wat je nodig hebt om te schitteren op
										elk evenement.
									</li>
								</ul>
								<a
									href="#"
									type="button"
									class="btn btn__primary btn--black price-card__btn"
								>
									RESERVEREN
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
		@@include('partials/footer.html')
	</body>
</html>
