<!DOCTYPE html>
<html lang="en">
	@@include('partials/head.html')
	<body>
		@@include('partials/header.html') @@include('partials/nav.html')
		<div class="wrapper">
			<section class="beauty-en-party-banner--1 parallax-bg"
				>&nbsp;</section
			>
			<section class="s-1-beauty-en-party">
				<div class="inner-container">
					<div class="two-col u-margin-b-xl">
						<div
							class="u-centered-mobile u-max-width-sm reveal-left--hidden"
						>
							<h2
								class="heading-secondary heading-secondary heading-secondary--lg text-block--left"
							>
								Feestelijke make-up
								<br />
								<span
									class="heading-secondary--italic heading-color--accent"
								>
									voor elke gelegenheid
								</span>
							</h2>
							<hr class="sm-divider" />
							<p class="paragraph">
								Is het jouw verjaardag en heb jij een feestje.
								En wil jij er op je mooist uitzien die dag. Ook
								dan kan je mij boeken. Ik hou van een feestje en
								de pre-party begint wanneer je plaatsneemt bij
								mij in de stoel. Samen zorgen wij ervoor dat je
								op je mooist naar je verjaardag vertrekt.
							</p>
						</div>
						<div
							class="image-card-container u-self-end s-1-beauty-en-party__img reveal-right--hidden"
						>
							<div class="image-card image-card__beauty--1">
								&nbsp;
							</div>
						</div>
					</div>

					<div class="two-col">
						<div
							class="image-card-container reveal-left--hidden s-2-beas-1-beauty-en-party__img"
						>
							<div class="image-card image-card__beauty--2">
								&nbsp;
							</div>
						</div>
						<div
							class="u-z-index-1 u-centered-mobile u-max-width-sm u-self-end reveal-right--hidden"
						>
							<h2 class="u-margin-t-m heading-secondary">
								Stralend de nacht in
								<span
									class="heading-secondary--italic heading-color--accent"
								>
								</span>
							</h2>
							<hr class="sm-divider" />
							<p class="paragraph">
								Is het niet je verjaardag maar heb jij een
								andere speciale gelegenheid zoals een gala, een
								event, een familie fotoshoot, waar jij opgemaakt
								voor wilt worden. Ook dan kun je mij boeken. Ik
								maak je graag op, op de gewenste locatie.
							</p>
						</div>
					</div>
				</div>
			</section>

			<!-- <section class="s-appointment">
				<div class="one-col">
					<div class="cta-banner u-c-text">
						<div class="cta-banner__heading">
							<h2
								class="cta-banner__text--header heading-secondary"
							>
								Benieuwd naar de mogelijkheden?
							</h2>
							<hr
								class="sm-divider sm-divider--black u-centered"
							/>
						</div>
						<div>
							<a
								href="./tarieven.html"
								class="btn btn__primary btn--black cta-banner__btn u-margin-b-m"
							>
								Boek je Make-up Sessie!</a
							>

							<ul class="cta-banner__socials-list">
								<li>
									<a href="#" class="facebook">
										<i
											class="fa-brands fa-facebook-f cta-banner__icons icons icons--sm"
										></i>
									</a>
								</li>
								<li>
									<a href="#" class="instagram">
										<i
											class="fa-brands fa-instagram cta-banner__icons icons icons--sm"
										></i>
									</a>
								</li>
								<li>
									<a href="#" class="whatsapp">
										<i
											class="fa-brands fa-whatsapp cta-banner__icons icons icons--sm"
										></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section> -->

			<!-- <section class="s-2-beauty-en-party">
				<div class="inner-container">
					<div class="two-col u-margin-b-xl">
						<div
							class="image-card-container s-1-beauty-en-party__img reveal-left--hidden"
						>
							<div class="image-card image-card__beauty--3">
								&nbsp;
							</div>
						</div>
						<div
							class="u-z-index-1 u-centered-mobile u-max-width-sm u-self-end reveal-right--hidden"
						>
							<h2 class="u-margin-t-m heading-secondary">
								Stralend de nacht in
							</h2>
							<hr class="sm-divider--pink sm-divider" />
							<h5 class="heading-sub">
								Avond make-up voor de feestelijke uren na het
								ja-woord!
							</h5>
							<p class="paragraph">
								Naast het verzorgen van jouw avondlook ben ik er
								ook om de finishing touch te geven aan jouw
								feestelijke avond.
							</p>

							<h5 class="u-margin-t-m heading-sub">
								Altijd Stralend: Bijwerken en Aanpassen
							</h5>
							<p class="paragraph">
								Mocht je tijdens het feesten merken dat je
								make-up bijgewerkt moet worden of als je een
								andere gewenste verandering hebt, sta ik klaar
								om aan jouw wensen tegemoet te komen. Jouw
								tevredenheid staat voorop, en ik wil ervoor
								zorgen dat je er de hele avond zelfverzekerd en
								stralend uitziet.
							</p>

							<h5 class="u-margin-t-m heading-sub">
								Voor Iedereen die Stralen Wil: Uitgebreide
								Diensten voor Gasten
							</h5>
							<p class="paragraph">
								Voor degenen die deel uitmaken van jouw speciale
								dag en ook willen schitteren, bied ik de
								mogelijkheid om mijn diensten uit te breiden
								naar bruidsmeisjes, (schoon)moeder, vriendinnen
								en andere gasten die jij wilt verwennen.
							</p>
						</div>
					</div>
					<div class="two-col">
						<div
							class="u-centered-mobile u-max-width-sm reveal-left--hidden"
						>
							<h2
								class="heading-secondary heading-secondary heading-secondary--lg text-block--left"
							>
								Stralend het huwelijksavontuur tegemoet
							</h2>
							<hr
								class="sm-divider sm-divider--pink u-margin-b-m u-margin-t-m"
							/>
							<div class="">
								<h5 class="heading-sub"> Heading </h5>
								<p class="paragraph">
									Allereerst van harte gefeliciteerd met
									jullie aankomend huwelijk. Op deze
									bijzondere dag is het jouw wens om te
									schitteren, en samen gaan we ervoor zorgen
									dat je er op je allermooist uitziet.
								</p>

								<h5 class="u-margin-t-m heading-sub">
									De Perfecte Voorbereiding: Een Persoonlijke
									Proefsessie
								</h5>
								<p class="paragraph">
									Tijdens een proefsessie, gepland ongeveer 8
									weken voor de grote dag, nemen we ruim de
									tijd om jouw wensen en voorkeuren te
									bespreken. Deze sessie, die 1.5 tot 2 uur
									duurt, staat in het teken van het creëren
									van de perfecte make-up look die precies
									past bij jouw visie, zodat jij je op je
									allermooist voelt op je grote dag.
								</p>

								<h5 class="u-margin-t-m heading-sub">
									Stralen Op Het Grote Moment: Jouw
									Huwelijksdag
								</h5>
								<p class="paragraph">
									Op de dag zelf kom ik naar de door jou
									gewenste locatie. Mijn doel is ervoor te
									zorgen dat jij ontspannen en op tijd aan
									deze feestelijke dag kunt beginnen. Jouw
									look wordt tot in de puntjes verzorgd,
									waardoor je glimt en er op je allermooist
									uitziet. Ik geniet ervan als ik zie hoe jij
									sprankelt! Indien gewenst, sta ik klaar om
									je ook te ondersteunen bij het aankleden.
								</p>
							</div>
						</div>
						<div
							class="image-card-container reveal-right--hidden s-2-beas-1-beauty-en-party__img u-self-end"
						>
							<div class="image-card image-card__beauty--4">
								&nbsp;
							</div>
						</div>
					</div>
				</div>
			</section> -->
			<section class="s-gallery u-c-text">
				<div class="u-margin-b-xl">
					<h2 class="heading-secondary">
						Portfolio
						<span
							class="heading-color--secondary heading-secondary--italic"
							>Beauty en Party
						</span>
					</h2>
					<hr class="sm-divider sm-divider--black u-centered" />
				</div>
				<div
					class="s-gallery__container u-margin-b-xl four-col u-max-width-7xl"
					id="gallery"
				>
					<a
						class="image-container reveal-bottom--hidden"
						href="../assets/img/diensten/beauty/gallery-beauty-image-01@1000x1562.jpg"
						data-pswp-height="1562"
						data-pswp-width="1000"
					>
						<img
							class="image-card"
							src="../assets/img/diensten/beauty/gallery-beauty-image-01@250x390.jpg"
						/>
					</a>
					<a
						class="image-container reveal-bottom--hidden"
						href="../assets/img/diensten/beauty/gallery-beauty-image-02@1000x1562.jpg"
						data-pswp-height="1562"
						data-pswp-width="1000"
					>
						<img
							class="image-card"
							src="../assets/img/diensten/beauty/gallery-beauty-image-02@250x390.jpg"
						/>
					</a>
					<a
						class="image-container reveal-bottom--hidden"
						href="../assets/img/diensten/beauty/gallery-beauty-image-03@1000x1562.jpg"
						data-pswp-height="1562"
						data-pswp-width="1000"
					>
						<img
							class="image-card"
							src="../assets/img/diensten/beauty/gallery-beauty-image-03@250x390.jpg"
						/>
					</a>

					<a
						class="image-container reveal-bottom--hidden"
						href="../assets/img/diensten/beauty/gallery-beauty-image-04@1000x1562.jpg"
						data-pswp-height="1562"
						data-pswp-width="1000"
					>
						<img
							class="image-card"
							src="../assets/img/diensten/beauty/gallery-beauty-image-04@250x390.jpg"
						/>
					</a>
					<a
						class="image-container reveal-bottom--hidden"
						href="../assets/img/diensten/beauty/gallery-beauty-image-05@1000x1562.jpg"
						data-pswp-height="1562"
						data-pswp-width="1000"
					>
						<img
							class="image-card"
							src="../assets/img/diensten/beauty/gallery-beauty-image-05@250x390.jpg"
						/>
					</a>
					<a
						class="image-container reveal-bottom--hidden"
						href="../assets/img/diensten/beauty/gallery-beauty-image-06@1000x1562.jpg"
						data-pswp-height="1562"
						data-pswp-width="1000"
					>
						<img
							class="image-card"
							src="../assets/img/diensten/beauty/gallery-beauty-image-06@250x390.jpg"
						/>
					</a>
					<a
						class="image-container reveal-bottom--hidden"
						href="../assets/img/diensten/beauty/gallery-beauty-image-07@1000x1562.jpg"
						data-pswp-height="1562"
						data-pswp-width="1000"
					>
						<img
							class="image-card"
							src="../assets/img/diensten/beauty/gallery-beauty-image-07@250x390.jpg"
						/>
					</a>
					<a
						class="image-container reveal-bottom--hidden"
						href="../assets/img/diensten/beauty/gallery-beauty-image-08@1000x1562.jpg"
						data-pswp-height="1562"
						data-pswp-width="1000"
					>
						<img
							class="image-card"
							src="../assets/img/diensten/beauty/gallery-beauty-image-08@250x390.jpg"
						/>
					</a>
				</div>
				<a
					href="./portfolio.html"
					class="btn btn__primary btn--black cta-banner__btn"
				>
					Bekijk meer van mijn werk</a
				>
			</section>
			<section class="beauty-en-party-banner--2 parallax-bg">
				<div class="u-max-width-sm u-centered u-c-text">
					<h3 class="heading-tertiary">Maak een afspraak</h3>
					<p class="paragraph"
						>As a make-up artist, Kristel works exclusively with
						only the best products. These include Mac Cosmetics,
						Make-up Forever, Urban Decay and Dinair Airbrush. These
						products combined with her excellent expertise and
						creativity, ensure the most flawless results.
					</p>
					<a
						class="btn btn__primary btn--pink"
						href="./contact-me.html"
						>Boek hier</a
					>
				</div>
			</section>
			<section class="s-beauty-en-party-tarieven">
				<div class="reveal-section--hidden">
					<div class="u-margin-b-l">
						<div class="u-c-text">
							<h2 class="heading-secondary"
								>Prijzen
								<span
									class="heading-color--accent heading-secondary--italic"
									>Beauty en Party
								</span>
							</h2>
							<hr class="sm-divider u-centered" />
							<h2
								class="heading-primary__sub heading-primary__sub--pink u-margin-b-m"
							></h2>
						</div>
					</div>
					<div class="container-price-card">
						<div class="swiper" id="cards-prices-beauty">
							<div class="swiper-wrapper">
								<div class="price-card-container swiper-slide">
									<div
										class="price-card u-c-text price-card-slider"
									>
										<div
											class="price-card__heading u-margin-b-m"
										>
											<h3 class="heading-tertiary"
												>Natural Glam</h3
											>
										</div>
										<h4 class="heading-quaternary">€ 75</h4>
										<p
											class="heading-subtext heading-subtext--pink"
										>
											Bronze
										</p>
										<ul
											class="price-card__list u-margin-b-l"
										>
											<li>
												Ervaar een subtiele, natuurlijke
												schoonheid met nepwimpers van
												natural volume. Deze look is
												perfect voor een frisse,
												moeiteloze uitstraling.
											</li>
										</ul>
										<a
											href="#"
											type="button"
											class="btn btn__primary btn--black price-card__btn"
										>
											RESERVEREN
										</a>
									</div>
								</div>
								<div class="price-card-container swiper-slide">
									<div
										class="price-card u-c-text price-card-slider"
									>
										<div
											class="price-card__heading u-margin-b-m"
										>
											<h3 class="heading-tertiary"
												>Soft Glam</h3
											>
										</div>
										<h4 class="heading-quaternary">€ 85</h4>
										<p
											class="heading-subtext heading-subtext--pink"
										>
											Silver
										</p>
										<ul
											class="price-card__list u-margin-b-l"
										>
											<li>
												Omarm een zachte en elegante
												uitstraling met nepwimpers van
												natural of extra volume,
												geschikt voor diverse
												gelegenheden.
											</li>
										</ul>
										<a
											href="#"
											type="button"
											class="btn btn__primary btn--black price-card__btn"
										>
											RESERVEREN
										</a>
									</div>
								</div>
								<div class="price-card-container swiper-slide">
									<div
										class="price-card u-c-text price-card-slider"
									>
										<div
											class="price-card__heading u-margin-b-m"
										>
											<h3 class="heading-tertiary"
												>Full Glam</h3
											>
										</div>
										<h4 class="heading-quaternary">€ 95</h4>
										<p
											class="heading-subtext heading-subtext--pink"
										>
											Gold
										</p>
										<ul
											class="price-card__list u-margin-b-l"
										>
											<li>
												Bereik de ultieme glamoureuze
												uitstraling met een uitgebreide
												make-up en hairstyling ervaring,
												inclusief alles wat je nodig
												hebt om te schitteren op elk
												evenement.
											</li>
										</ul>
										<a
											href="#"
											type="button"
											class="btn btn__primary btn--black price-card__btn"
										>
											RESERVEREN
										</a>
									</div>
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="s-map">
				<div class="reveal-section--hidden">
					<div class="one-col u-margin-b-xl">
						<div class="text-block u-c-text">
							<h2 class="heading-secondary">
								Let's
								<span
									class="heading-color--secondary heading-secondary--italic"
								>
									Connect</span
								></h2
							>
						</div>
					</div>
					<div class="two-col">
						<div class="map-container">
							<div class="map" id="map">
								<div class="google-map">
									<iframe
										src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus"
										width="600"
										height="450"
										style="border: 0"
										allowfullscreen=""
										loading="lazy"
										referrerpolicy="no-referrer-when-downgrade"
									></iframe>
								</div>
								<!-- <div id="map"></div> -->
							</div>
						</div>
						<form
							class="form-contact u-centered u-max-width-l"
							action="https://formspree.io/f/xgegjdjo"
							method="post"
							id="contact-form "
						>
							<!-- Text Input -->
							<label for="name">Naam:</label>
							<input type="text" id="name" name="name" required />

							<!-- Email Input -->
							<label for="email">E-mail:</label>
							<input
								type="email"
								id="email"
								name="email"
								required
							/>

							<!-- Telefoonnummer Input -->
							<label for="phone">Telefoonnummer:</label>
							<input
								type="tel"
								id="phone"
								name="phone"
								required
							/>

							<!-- Locatie van de Dienst Input -->
							<label for="service-location"
								>Locatie van de Dienst:</label
							>
							<input
								type="text"
								id="service-location"
								name="service-location"
								required
							/>

							<!-- Datum van de Dienst Input -->
							<label for="service-date"
								>Datum van de Dienst:</label
							>
							<input
								type="date"
								id="service-date"
								name="service-date"
								required
							/>

							<!-- Type Dienst (Dropdown) -->
							<label for="service-type">Type Dienst:</label>
							<select id="service-type" name="service-type">
								<option value="Bruidsmake-up"
									>Bruidsmake-up</option
								>
								<option value="Beauty-en-party"
									>Beauty-en-party</option
								>
								<option value="Festivals en Evenementen">
									Festivals en Evenementen
								</option>
								<option value="editorial">Editorial</option>
								<option value="anders">Anders...</option>
							</select>

							<!-- Extra Opmerkingen (Textarea) -->
							<label for="comments">Extra Opmerkingen:</label>
							<textarea
								id="comments"
								name="comments"
								rows="8"
							></textarea>

							<!-- Submit Button -->
							<button
								type="submit"
								class="btn btn--black btn__secondary form-contact__button"
							>
								Aanvraag Versturen
							</button>
							<label for="terms" class="form-contact__policies">
								<input
									type="checkbox"
									class="u-margin-r-s form-contact__policies--checkbox"
									id="terms"
									required
								/>
								<span class="terms"
									>Ik ga akkoord met de
									<a href="#" class="link bold-s link--pink"
										>algemene voorwaarden</a
									>
								</span>
							</label>
						</form>
					</div>
				</div>
			</section>
		</div>
		@@include('partials/footer.html')
	</body>
</html>
