<!DOCTYPE html>
<html lang="en">
	@@include('partials/head.html')
	<body>
		@@include('partials/header.html') @@include('partials/nav.html')
		<div class="wrapper">
			<section class="bruidsmake-up-banner--top parallax-bg"
				>&nbsp;</section
			>
			<section class="s-1-bruiloft">
				<div class="two-col">
					<div class="u-padding-x-s u-centered-mobile">
						<h2
							class="heading-secondary heading-secondary heading-secondary--lg text-block--left"
						>
							Stralend het huwelijksavontuur tegemoet
						</h2>
						<hr
							class="sm-divider sm-divider--pink u-margin-b-m u-margin-t-m"
						/>
						<div class="u-max-width-l">
							<h5 class="heading-sub">
								Een persoonlijke reis naar jouw perfecte make-up
								look
							</h5>
							<p class="paragraph">
								Allereerst van harte gefeliciteerd met jullie
								aankomend huwelijk. Op deze bijzondere dag is
								het jouw wens om te
								<span class="text-highlight">schitteren</span>,
								en samen gaan we ervoor zorgen dat je er op je
								allermooist uitziet.
							</p>

							<h5 class="u-margin-t-m heading-sub">
								De Perfecte Voorbereiding: Een Persoonlijke
								Proefsessie
							</h5>
							<p class="paragraph">
								Tijdens een proefsessie, gepland ongeveer 8
								weken voor de grote dag, nemen we ruim de tijd
								om jouw wensen en voorkeuren te bespreken. Deze
								sessie, die 1.5 tot 2 uur duurt, staat in het
								teken van het creëren van de perfecte make-up
								look die precies past bij jouw visie, zodat jij
								je op je allermooist voelt op je grote dag.
							</p>

							<h5 class="u-margin-t-m heading-sub">
								Stralen Op Het Grote Moment: Jouw Huwelijksdag
							</h5>
							<p class="paragraph">
								Op de dag zelf kom ik naar de door
								<span class="text-highlight"
									>jou gewenste locatie.</span
								>
								Mijn doel is ervoor te zorgen dat jij ontspannen
								en op tijd aan deze feestelijke dag kunt
								beginnen. Jouw look wordt tot in de puntjes
								verzorgd, waardoor je glimt en er op je
								allermooist uitziet. Ik geniet ervan als ik zie
								hoe jij
								<span class="text-highlight">sprankelt</span>!
								Indien gewenst, sta ik klaar om je ook te
								ondersteunen bij het aankleden.
							</p>
						</div>
					</div>

					<div class="hover-card s-1-bruiloft__img">
						<div
							class="hover-card__img-zoom hover-card__img-zoom--1"
						>
							&nbsp;
						</div>
					</div>
				</div>
			</section>
			<section class="s-appointment">
				<div class="one-col">
					<div class="cta-banner u-c-text">
						<div class="cta-banner__heading">
							<h2
								class="cta-banner__text--header heading-secondary heading-secondary--black heading-secondary--lg"
							>
								Benieuwd naar de mogelijkheden?
							</h2>
							<hr
								class="sm-divider sm-divider--black u-margin-b-m u-centered"
							/>
							<h5 class="cta-banner__text--paragraph heading-sub">
								Make-up Artist | Cheryl Sallons
							</h5>
						</div>
						<div>
							<a
								href="./tarieven.html"
								class="btn btn__primary cta-banner__btn btn--black u-margin-b-m"
							>
								Boek je Make-up Sessie!</a
							>

							<ul class="cta-banner__socials-list">
								<li class="cta-banner__item--socials">
									<a href="#" class="facebook">
										<i
											class="fa-brands fa-facebook-f icons icons--primary"
										></i>
									</a>
								</li>
								<li class="cta-banner__item--socials">
									<a href="#" class="instagram">
										<i
											class="fa-brands fa-instagram icons icons--primary"
										></i>
									</a>
								</li>
								<li class="cta-banner__item--socials">
									<a href="#" class="whatsapp">
										<i
											class="fa-brands fa-whatsapp icons icons--primary"
										></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="bruidsmake-up-banner--middle parallax-bg"></section>
			<section class="s-bruidsmake-up-cards">
				<div class="cards">
					<div class="swiper cards__swiper" id="cards-slider">
						<div class="swiper-wrapper">
							<div
								class="card card__slide-container swiper-slide"
							>
								<div class="card__content">
									<div class="card__icon">
										<i class="fas fa-heart"></i>
									</div>
									<p class="card__title">
										"Ervaar bruidsgloed op maat met een
										service die jouw natuurlijke schoonheid
										omarmt. Jouw droomlook begint hier."
									</p>
									<p class="card__apply">
										<a class="card__link" href="#"
											>Boek een sessie
											<i class="fas fa-arrow-right"></i
										></a>
									</p>
								</div>
							</div>

							<div
								class="card card__slide-container swiper-slide"
							>
								<div class="card__content">
									<div class="card__icon">
										<i class="fas fa-heart"></i>
									</div>
									<p class="card__title">
										"Ontvang een service die verder gaat dan
										make-up. Met passie en toewijding
										creëren we samen een onvergetelijke
										bruidslook."
									</p>
									<p class="card__apply">
										<a class="card__link" href="#"
											>Boek een sessie
											<i class="fas fa-arrow-right"></i
										></a>
									</p>
								</div>
							</div>

							<div
								class="card card__slide-container swiper-slide"
							>
								<div class="card__content">
									<div class="card__icon">
										<i class="fas fa-heart"></i>
									</div>
									<p class="card__title">
										"Van proefsessie tot huwelijksaltaar,
										onze service staat garant voor een
										stralende en ongereloze ervaring."
									</p>
									<p class="card__apply">
										<a class="card__link" href="#"
											>Boek een sessie
											<i class="fas fa-arrow-right"></i
										></a>
									</p>
								</div>
							</div>
						</div>
						<div class="swiper-pagination cards__pagination"></div>
						<!-- <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div> -->
					</div>
				</div>
			</section>
			<section class="s-2-bruiloft">
				<div class="two-col">
					<div
						class="hover-card hover-card--margin s-2-bruiloft__img"
					>
						<div
							class="hover-card__img-zoom hover-card__img-zoom--2"
						>
							&nbsp;
						</div>
					</div>
					<div
						class="u-padding-x-s u-z-index-1 u-centered-mobile u-max-width-l"
					>
						<h2 class="u-margin-t-m heading-secondary">
							Stralend de nacht in
						</h2>
						<hr class="sm-divider--pink sm-divider" />
						<h5 class="heading-sub">
							Avond make-up voor de feestelijke uren na het
							ja-woord!
						</h5>
						<p class="paragraph">
							Naast het verzorgen van jouw avondlook ben ik er ook
							om de
							<span class="text-highlight">finishing touch</span>
							te geven aan jouw feestelijke avond.
						</p>

						<h5 class="u-margin-t-m heading-sub">
							Altijd Stralend: Bijwerken en Aanpassen
						</h5>
						<p class="paragraph">
							Mocht je tijdens het feesten merken dat je make-up
							<span class="text-highlight">bijgewerkt</span> moet
							worden of als je een andere gewenste verandering
							hebt, sta ik klaar om aan jouw wensen tegemoet te
							komen. Jouw tevredenheid staat voorop, en ik wil
							ervoor zorgen dat je er de hele avond
							<span class="text-highlight">zelfverzekerd</span> en
							stralend uitziet.
						</p>

						<h5 class="u-margin-t-m heading-sub">
							Voor Iedereen die Stralen Wil: Uitgebreide Diensten
							voor Gasten
						</h5>
						<p class="paragraph">
							Voor degenen die deel uitmaken van jouw speciale dag
							en ook willen
							<span class="text-highlight">schitteren</span>, bied
							ik de mogelijkheid om mijn diensten uit te breiden
							naar bruidsmeisjes, (schoon)moeder, vriendinnen en
							andere gasten die jij wilt verwennen.
						</p>
					</div>
				</div>
			</section>

			<section class="s-bruidsmake-up-tarieven">
				<div class="one-col u-margin-b-l">
					<div class="text-block u-c-text">
						<h2 class="heading-secondary">Prijzen bruidsmake-up</h2>
						<hr class="sm-divider sm-divider--white u-centered" />
					</div>
				</div>
				<div class="container-price-card">
					<div class="swiper" id="cards-prices-bridal">
						<div class="swiper-wrapper price-card-slider">
							<div class="price-card-container swiper-slide">
								<div class="price-card u-c-text">
									<div
										class="price-card__heading u-margin-b-m"
									>
										<h3 class="heading-tertiary">
											Bridal Beauty
										</h3>
									</div>
									<strong>€ 245</strong>
									<p
										class="heading-subtext heading-subtext--pink"
									>
										Bronze
									</p>

									<ul class="price-card__list u-margin-b-l">
										<li
											>Bruidsmake-up op locatie +/- 2,5
											uur</li
										>
										<li>Nepwimpers</li>

										<li>Assistentie bij het aankleden</li>
									</ul>
									<a
										href="#"
										type="button"
										class="btn btn__primary btn--black price-card__btn"
									>
										RESERVEREN
									</a>
								</div>
							</div>
							<div class="price-card-container swiper-slide">
								<div class="price-card u-c-text">
									<div
										class="price-card__heading u-margin-b-m"
									>
										<h3 class="heading-tertiary">
											Bridal Beauty
										</h3>
									</div>
									<strong>€ 345</strong>
									<p
										class="heading-subtext heading-subtext--pink"
									>
										Silver
									</p>

									<ul class="price-card__list u-margin-b-l">
										<li
											>Proefsessie op locatie +/- 2.,5
											uur</li
										>
										<li
											>Bruidsmake-up op locatie +/- 2,5
											uur</li
										>
										<li>Nepwimpers</li>
										<li>Assistentie bij het aankleden</li>
										<li>Touch up op locatie</li>
									</ul>
									<a
										href="#"
										type="button"
										class="btn btn__primary btn--black price-card__btn"
									>
										RESERVEREN
									</a>
								</div>
							</div>
							<div class="price-card-container swiper-slide">
								<div class="price-card u-c-text">
									<div
										class="price-card__heading u-margin-b-m"
									>
										<h3 class="heading-tertiary">
											Bridal Beauty
										</h3>
									</div>
									<strong>€ 445</strong>
									<p
										class="heading-subtext heading-subtext--pink"
									>
										Gold
									</p>

									<ul class="price-card__list u-margin-b-l">
										<li>
											Proefsessie op locatie +/-2.,5 uur
											Exclusief:
										</li>
										<li
											>Bruidsmake-up op locatie +/- 2.5
											uur</li
										>
										<li>Nepwimpers</li>
										<li>Assistentie bij het aankleden</li>
										<li>Touch up op locatie</li>
										<li>
											Make-up voor 1 extra gast op
											dezelfde locatie inclusief touch-up
										</li>
									</ul>
									<a
										href="#"
										type="button"
										class="btn btn__primary btn--black price-card__btn"
									>
										RESERVEREN
									</a>
								</div>
							</div>
							<div class="price-card-container swiper-slide">
								<div class="price-card u-c-text">
									<div
										class="price-card__heading u-margin-b-m"
									>
										<h3 class="heading-tertiary">
											Bridal Beauty
										</h3>
									</div>
									<strong>€ 725</strong>
									<p
										class="heading-subtext heading-subtext--pink"
									>
										Platinum
									</p>

									<ul class="price-card__list u-margin-b-l">
										<li
											>Proefsessie op locatie +/-2.,5
											uur</li
										>
										<li
											>Bruidsmake-up op locatie +/- 2.5
											uur</li
										>
										<li>Nepwimpers</li>
										<li>Assistentie bij het aankleden</li>
										<li>Touch up op locatie</li>
										<li
											>Make-up voor zelf te bepalen
											aantal</li
										>
										<li>
											bruidsmeisjes op dezelfde locatie
											inclusief touch-up
										</li>
									</ul>
									<a
										href="#"
										type="button"
										class="btn btn__primary btn--black price-card__btn"
									>
										RESERVEREN
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</section>
			@@include('partials/footer.html')
		</div>
	</body>
</html>
