<!DOCTYPE html>
<html lang="en">
	@@include('partials/head.html')
	<body>
		@@include('partials/header.html') @@include('partials/nav.html')
		<section class="parallax-bg contact-me-banner">&nbsp;</section>
		<section class="heading-contact-me">
			<div class="u-margin-b-l">
				<div class="text-block u-c-text">
					<h2 class="heading-secondary u-margin-t-m">
						Neem contact op
					</h2>
					<hr class="sm-divider sm-divider--pink u-centered" />
				</div>
			</div>
			<div class="two-col u-max-width-3xl">
				<div class="u-c-text u-max-width-xs u-centered">
					<i
						class="fa fa-map-marker u-margin-b-m"
						aria-hidden="true"
					></i>
					<div class="contact-me-text-box">
						<strong>Adres:</strong>
						<p class="paragraph">A.voorbeeld 12, 1234VW, Stad</p>
						<p class="paragraph"></p>
						<p class="paragraph">
							Onze focus ligt voornamelijk op het bedienen van
							klanten binnen Rotterdam en omgeving.
						</p>

						<p class="paragraph">
							We streven ernaar om jouw visagie-ervaring zo
							naadloos en comfortabel mogelijk te maken. Neem
							contact met ons op voor meer informatie of om een
							visagiesessie op jouw locatie te plannen.
						</p>
					</div>
				</div>
				<div class="u-c-text u-max-width-xs u-centered">
					<i
						class="fa fa-envelope u-margin-b-m"
						aria-hidden="true"
					></i>
					<div class="contact-me-text-box">
						<strong>Contact-informatie:</strong>
						<p class="paragraph">
							Voor zakelijke samenwerkingen, evenementen, of
							specifieke aanvragen, kun je me bereiken via
							onderstaande contactgegevens:
						</p>
						<div class="paragraph">
							<strong>Telefoon:</strong>
							<p>(06) 55555555</p>
						</div>
						<div class="paragraph">
							<strong>E-mail:</strong>
							<p>voorbeeld.email.com</p>
						</div>
					</div>
				</div>
			</div>
			<ul class="cta-banner__socials-list u-margin-t-l">
				<li class="cta-banner__item--socials">
					<a href="#">
						<i class="fa-brands fa-facebook-f icons"></i>
					</a>
				</li>
				<li class="cta-banner__item--socials">
					<a href="#">
						<i class="fa-brands fa-instagram icons"></i>
					</a>
				</li>
				<li class="cta-banner__item--socials">
					<a href="#">
						<i class="fa-brands fa-whatsapp icons"></i>
					</a>
				</li>
			</ul>
		</section>
		<section class="s-map">
			<div class="two-col">
				<div class="map-container">
					<div class="map" id="map">
						<div class="google-map">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus"
								width="600"
								height="450"
								style="border: 0"
								allowfullscreen=""
								loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"
							></iframe>
						</div>
						<!-- <div id="map"></div> -->
					</div>
				</div>
				<form
					class="form-contact u-centered u-max-width-l"
					action="https://formspree.io/f/xgegjdjo"
					method="post"
					id="contact-form "
				>
					<!-- Text Input -->
					<label for="name">Naam:</label>
					<input type="text" id="name" name="name" required />

					<!-- Email Input -->
					<label for="email">E-mail:</label>
					<input type="email" id="email" name="email" required />

					<!-- Telefoonnummer Input -->
					<label for="phone">Telefoonnummer:</label>
					<input type="tel" id="phone" name="phone" required />

					<!-- Datum van de Dienst Input -->
					<label for="service-date">Datum van de Dienst:</label>
					<input
						type="date"
						id="service-date"
						name="service-date"
						required
					/>

					<!-- Type Dienst (Dropdown) -->
					<label for="service-type">Type Dienst:</label>
					<select id="service-type" name="service-type">
						<option value="Bruidsmake-up">Bruidsmake-up</option>
						<option value="Beauty-en-party">Beauty-en-party</option>
						<option value="Festivals en Evenementen">
							Festivals en Evenementen
						</option>
						<option value="editorial">Editorial</option>
						<option value="anders">Anders...</option>
					</select>

					<!-- Locatie van de Dienst Input -->
					<label for="service-location">Locatie van de Dienst:</label>
					<input
						type="text"
						id="service-location"
						name="service-location"
						required
					/>

					<!-- Extra Opmerkingen (Textarea) -->
					<label for="comments">Extra Opmerkingen:</label>
					<textarea id="comments" name="comments" rows="8"></textarea>

					<!-- Submit Button -->
					<button type="submit" class="btn btn--pink btn__secondary">
						Aanvraag Versturen
					</button>
					<label for="terms" class="form-contact__policies">
						<input
							type="checkbox"
							class="u-margin-r-s"
							id="terms"
							required
						/>
						<span class="terms"
							>Ik ga akkoord met de
							<a href="#" class="link bold-s link--pink"
								>algemene voorwaarden</a
							>
						</span>
					</label>
				</form>
			</div>
		</section>
		@@include('partials/footer.html')
	</body>
</html>
