<!DOCTYPE html>
<html lang="en">
	@@include('partials/head.html')
	<body>
		@@include('partials/header.html') @@include('partials/nav.html')
		<div class="wrapper">
			<section class="editorials-banner parallax-bg">&nbsp;</section>
			<section class="s-1-editorials">
				<div class="two-col">
					<div class="u-max-width-l u-centered-mobile">
						<h1 class="u-margin-t-m heading-secondary--black">
							Ontdek de Magie van Editorials
						</h1>
						<hr
							class="sm-divider--start sm-divider--pink u-margin-b-m"
						/>
						<h2 class="heading-tertiary">
							Betoverende Glitter en Glamour: Ontdek de Magie van
							Onze Editorials Service
						</h2>
						<p class="paragraph">
							Stap in de schijnwerpers met onze editorials
							service! Als jouw persoonlijke makeup artiest breng
							ik een wereld van creativiteit en schoonheid naar
							jouw projecten. Van gedurfde looks tot tijdloze
							glamour, ik ben hier om jouw visie tot leven te
							brengen.
						</p>

						<h2 class="heading-tertiary">
							Artistieke Expressie zonder Grenzen
						</h2>
						<p class="paragraph">
							Editorials is mijn speeltuin van artistieke
							expressie. Het creëren van verfijnde kunstwerken die
							verhalen vertellen en de verbeelding prikkelen is
							mijn passie. Elk gezicht is een blanco canvas, klaar
							om te worden getransformeerd met kleuren, texturen
							en ongeremde flair.
						</p>

						<h2 class="heading-tertiary">
							Jouw Unieke Stijl, Onze Expertise
						</h2>
						<p class="paragraph">
							In de wereld van editorials draait alles om jouw
							unieke stijl. We werken samen om looks te ontwerpen
							die jouw persoonlijkheid omarmen en de essentie van
							jouw project vastleggen. Van mode-shoots tot
							artistieke projecten, ik zal er zijn hier om jou te
							laten schitteren.
						</p>

						<h2 class="heading-tertiary">
							Laat Jouw Verbeelding de Vrije Loop
						</h2>
						<p class="paragraph">
							Editorials bieden een podium voor jouw verbeelding.
							We dagen de norm uit, omarmen trends en creëren iets
							buitengewoons. Of je nu op zoek bent naar een
							subtiele verfijning of een gedurfde transformatie,
							ik sta klaar om jouw visie tot leven te brengen.
						</p>
					</div>

					<div
						class="hover-card hover-card--margin s-1-bruiloft__img"
					>
						<div
							class="hover-card__img-zoom hover-card__img-zoom--7"
						>
							&nbsp;
						</div>
					</div>
				</div>
				<div class="three-col u-margin-t-l">
					<div class="hover-card">
						<div class="hover-card__img-hover--6">&nbsp;</div>
					</div>
					<div class="hover-card">
						<div class="hover-card__img-hover--7">&nbsp;</div>
					</div>
					<div class="u-padding-x-s">
						<h2 class="u-margin-t-m heading-tertiary">
							Neem Contact Op Voor Meer Informatie
						</h2>
						<p class="paragraph">
							Wil je onze service boeken of meer informatie
							ontvangen? Aarzel niet om
							<a href="#" class="text-link">contact op te nemen</a
							>. Wij staan klaar om jouw vragen te beantwoorden en
							samen te werken aan een betoverend evenement.
						</p>
					</div>
				</div>
			</section>

			<section class="section-appointment">
				<div class="cta-banner">
					<div class="grid-col-1-of-1--narrow">
						<div class="cta-banner__socials">
							<a
								href="#0"
								class="btn btn__primary cta-banner__btn btn--style btn--black"
								>Vraag een offerte aan</a
							>
							<ul class="cta-banner__socials__list u-margin-t-m">
								<li class="cta-banner__item--socials">
									<a href="#" class="facebook">
										<i
											class="fa-brands fa-facebook-f social-icons"
										></i>
									</a>
								</li>
								<li class="cta-banner__item--socials">
									<a href="#" class="instagram">
										<i
											class="fa-brands fa-instagram social-icons"
										></i>
									</a>
								</li>
								<li class="cta-banner__item--socials">
									<a href="#" class="whatsapp">
										<i
											class="fa-brands fa-whatsapp social-icons"
										></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
		@@include('partials/footer.html')
	</body>
</html>
