<!DOCTYPE html>
<html lang="en">
	@@include('partials/head.html')
		
		<meta
			name="description"
			content="Laat je festivalstijl opvallen met onze gedurfde en creatieve festival make-up. Ontdek kleurrijke looks die perfect zijn voor elke festivalervaring."
		/>
		<title>Festival Make-up | Kleurrijke Looks bij Cher's Beauty Sallons </title>
		<link
				rel="stylesheet"
				href="../../node_modules/photoswipe//src/photoswipe.css"
		/>
	</head>
	<body>
		@@include('partials/header.html') @@include('partials/nav.html')
		<div class="wrapper">
			<section class="banner banner__festival parallax-bg"
				>&nbsp;</section
			>

			<section class="s-1-festival">
				<div class="two-col u-margin-b-xl u-max-width-4xl">
					<div
						class="u-centered-mobile u-max-width-sm reveal-left--hidden"
					>
						<h2
							class="heading-secondary heading-secondary heading-secondary--lg text-block--left"
							>Stralende make-up
							<br />
							<span
								class="heading-color--accent heading-secondary--italic"
								>voor elk evenement
							</span>
						</h2>
						<hr class="sm-divider" />
						<p class="paragraph">
							Cher's Beauty Salons staat regelmatig op festivals
							en evenementen. Samen met een leuk en gezellig team
							verzorgen we de glitter en glamour op jouw event!
							Deze unieke service geeft jouw event of feest een
							extra feestelijke sfeer. Ons team zorgt voor een
							onvergetelijke ervaring die de gasten nog lang
							zullen herinneren.
						</p>
						<h5 class="u-margin-t-m heading-sub">
							Unieke glamourdiensten voor jouw event
						</h5>
						<p class="paragraph">
							We bieden een breed scala aan diensten aan, zoals
							glitter tattoos, gezichtsschilderingen en andere
							glamourvolle details die elk evenement opvrolijken.
							Onze expertise en passie zorgen ervoor dat jouw
							event net dat beetje extra krijgt, waardoor het zich
							onderscheidt van andere feesten.
						</p>
					</div>
					<div
						class="image-card-container u-self-end s-1-beauty-en-party__img reveal-right--hidden"
					>
						<div class="image-card image-card__festival--1">
							&nbsp;
						</div>
					</div>
				</div>

				<div class="two-col u-max-width-4xl">
					<div
						class="image-card-container reveal-left--hidden s-2-beas-1-beauty-en-party__img"
					>
						<div class="image-card image-card__festival--2">
							&nbsp;
						</div>
					</div>
					<div
						class="u-z-index-1 u-centered-mobile u-max-width-sm u-self-end reveal-right--hidden"
					>
						<h2 class="u-margin-t-m heading-secondary">
							Ontdek jouw
							<br />
							<span
								class="heading-color--accent heading-secondary--italic"
							>
								persoonlijke stijl
							</span>
						</h2>
						<hr class="sm-divider" />
						<p class="paragraph">
							Heb jij mij en mijn team liever 's nachts in de
							club? Ook dan ben ik te boeken! Ons team voorziet
							alle dansende gasten van leuke neonkleuren en
							motieven die er geweldig uitzien in de club. Deze
							neonversieringen komen echt tot leven onder
							blacklights en geven de dansvloer een unieke
							uitstraling.
						</p>
						<h5 class="u-margin-t-m heading-sub">
							Boek ons voor een kleurrijk clubavontuur
						</h5>
						<p class="paragraph">
							Wil jij deze geweldige service ook op jouw event of
							feestje? En wil jij jouw klanten een gezellige en
							leuke extra service bieden? Neem dan vooral contact
							met mij op voor meer informatie! Samen maken we van
							jouw feest een onvergetelijke ervaring met een
							kleurrijke en sprankelende touch.
						</p>
					</div>
				</div>
			</section>

			<section class="s-gallery u-c-text">
				<div class="u-margin-b-xl">
					<h2 class="heading-secondary heading--flex">
						Mijn
						<span
							class="heading-color--secondary heading-secondary--italic "
							>festival portfolio
						</span>
					</h2>
					<hr class="sm-divider sm-divider--black u-centered" />
				</div>
				<div class="gallery-editorials u-margin-b-xl">
					<div class="two-col u-max-width-2xl" id="gallery">
						<a
							class="image-container reveal-bottom--hidden"
							href="../assets/img/diensten/festival/gallery-festival-image-01@1000x640.jpg"
							data-pswp-width="1000"
							data-pswp-height="640"
						>
							<img
								class="image-card"
								src="../assets/img/diensten/festival/gallery-festival-image-01@390x250.jpg"
							/>
						</a>
						<a
							class="image-container reveal-bottom--hidden"
							href="../assets/img/diensten/festival/gallery-festival-image-02@1000x640.jpg"
							data-pswp-width="1000"
							data-pswp-height="640"
						>
							<img
								class="image-card"
								src="../assets/img/diensten/festival/gallery-festival-image-02@390x250.jpg"
							/>
						</a>
						<a
							class="image-container reveal-bottom--hidden"
							href="../assets/img/diensten/festival/gallery-festival-image-03@800x1250.jpg"
							data-pswp-width="800"
							data-pswp-height="1250"
						>
							<img
								class="image-card"
								src="../assets/img/diensten/festival/gallery-festival-image-03@250x390.jpg"
							/>
						</a>
						<a
							class="image-container reveal-bottom--hidden"
							href="../assets/img/diensten/festival/gallery-festival-image-04@800x1250.jpg"
							data-pswp-width="800"
							data-pswp-height="1250"
						>
							<img
								class="image-card"
								src="../assets/img/diensten/festival/gallery-festival-image-04@250x390.jpg"
							/>
						</a>
					</div>
				</div>
				<a
					href="./portfolio.html"
					class="btn btn__primary btn--black cta-banner__btn"
				>
					Meer foto's</a
				>
			</section>
			<section class="s-cooperations-editorials u-c-text">
				<div class="u-margin-b-xl">
					<div class="u-centered u-max-width-l">
						<div class="reveal-left--hidden u-margin-b-xl">
							<h2
								class="heading-secondary heading-secondary heading-secondary--lg text-block--left"
							>
								Samenwerkingen
								<br />
								<span
									class="heading-secondary--italic heading-color--accent"
								>
									met bekende merken
								</span>
							</h2>
							<hr class="sm-divider u-centered" />
							<p class="paragraph">
								Mijn werk heeft mij in contact gebracht met
								diverse bekende merken en bedrijven. Ik ben
								vereerd om met deze partners samen te werken en
								mijn creativiteit in te zetten voor hun
								commerciële projecten.
							</p>
						</div>
						<div class="four-col">
							<img
								src="../assets/img/diensten/festival/logo-festival-cooperations-01.png"
								alt="Logo van Kralingse Bos Festival"
								class="logo-cooperation reveal-right--hidden"
							/>
							<img
								src="../assets/img/diensten/festival/logo-festival-cooperations-02.png"
								alt="Logo van Hollands Festival"
								class="logo-cooperation reveal-right--hidden"
							/>
							<img
								src="../assets/img/diensten/festival/logo-festival-cooperations-03.png"
								alt="Logo van Crazy Sexy Cool Festival"
								class="logo-cooperation reveal-right--hidden"
							/>
							<img
								src="../assets/img/diensten/festival/logo-festival-cooperations-04.png"
								alt="Logo van Kingsland Festival"
								class="logo-cooperation reveal-right--hidden"
							/>
						</div>
					</div>
				</div>
			</section>
			<section class="s-map">
				<div class="reveal-section--hidden">
					<div class="one-col u-margin-b-xl">
						<div class="text-block u-c-text">
							<h2 class="heading-secondary">
								Let's
								<span
									class="heading-color--secondary heading-secondary--italic " 
								>
									Connect</span
								></h2
							>
						</div>
					</div>
					<div class="two-col">
						<div class="map-container">
							<div class="map" id="map">
								<div class="google-map">
									<iframe
										src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus"
										width="600"
										height="450"
										style="border: 0"
										allowfullscreen=""
										loading="lazy"
										referrerpolicy="no-referrer-when-downgrade"
									></iframe>
								</div>
								<!-- <div id="map"></div> -->
							</div>
						</div>
						<form
							class="form-contact u-centered u-max-width-l"
							action="https://formspree.io/f/xgegjdjo"
							method="post"
							id="contact-form "
						>
							<!-- Text Input -->
							<label for="name">Naam:</label>
							<input type="text" id="name" name="name" required />

							<!-- Email Input -->
							<label for="email">E-mail:</label>
							<input
								type="email"
								id="email"
								name="email"
								required
							/>

							<!-- Telefoonnummer Input -->
							<label for="phone">Telefoonnummer:</label>
							<input
								type="tel"
								id="phone"
								name="phone"
								required
							/>

							<!-- Locatie van de Dienst Input -->
							<label for="service-location"
								>Locatie van de Dienst:</label
							>
							<input
								type="text"
								id="service-location"
								name="service-location"
								required
							/>

							<!-- Datum van de Dienst Input -->
							<label for="service-date"
								>Datum van de Dienst:</label
							>
							<input
								type="date"
								id="service-date"
								name="service-date"
								required
							/>

							<!-- Type Dienst (Dropdown) -->
							<label for="service-type">Type Dienst:</label>
							<select id="service-type" name="service-type">
								<option value="Bruidsmake-up"
									>Bruidsmake-up</option
								>
								<option value="Beauty-en-party"
									>Beauty-en-party</option
								>
								<option value="Festivals en Evenementen">
									Festivals en Evenementen
								</option>
								<option value="editorial">Editorial</option>
								<option value="anders">Anders...</option>
							</select>

							<!-- Extra Opmerkingen (Textarea) -->
							<label for="comments">Extra Opmerkingen:</label>
							<textarea
								id="comments"
								name="comments"
								rows="8"
							></textarea>

							<!-- Submit Button -->
							<button
								type="submit"
								class="btn btn--black btn__secondary form-contact__button"
							>
								Aanvraag Versturen
							</button>
							<label for="terms" class="form-contact__policies">
								<input
									type="checkbox"
									class="u-margin-r-s form-contact__policies--checkbox"
									id="terms"
									required
								/>
								<span class="terms"
									>Ik ga akkoord met de
									<a href="#" class="link bold-s link--pink"
										>algemene voorwaarden</a
									>
								</span>
							</label>
						</form>
					</div>
				</div>
			</section>
		</div>
		@@include('partials/footer.html')
	</body>
</html>
