<!DOCTYPE html>
<html lang="en">
	@@include('partials/head.html')
	<body>
		@@include('partials/header.html') @@include('partials/nav.html')
		<div class="wrapper">
			<header class="festival-banner parallax-bg">&nbsp;</header>
			<section class="s-1-festival">
				<div class="two-col">
					<div class="u-padding-x-s u-centered-mobile u-max-width-l">
						<h2
							class="u-margin-t-m heading-secondary text-block--left"
						>
							Betoverende Glitter en Glamour
						</h2>
						<hr class="sm-divider sm-divider--pink" />
						<h5 class="heading-sub">
							Ontdek de Magie van Onze Festival- en
							Evenementenservice
						</h5>
						<p class="paragraph">
							Stap in de schijnwerpers op festivals en
							evenementen! Mijn enthousiaste team en ik voegen een
							magisch tintje toe aan jouw speciale gelegenheden.
							Onze unieke service tilt de feestvreugde naar
							ongekende hoogten, met
							<span class="text-highlight"
								>schitterende kleuren en betoverende
								details</span
							>
							die jouw event iets extra's geven.
						</p>

						<h5 class="u-margin-t-m heading-sub">
							Clubnachten: Neon Kleuren en Betoverende Motieven
						</h5>
						<p class="paragraph">
							Wanneer de zon ondergaat, verhuizen wij naar de
							club! Boek mij en mijn team voor een onvergetelijke
							nacht vol
							<span class="text-highlight"
								>levendige neon accenten en opvallende
								designs</span
							>. Op de dansvloer voorzien wij alle feestgangers
							van een sprankelende look die de club tot leven
							brengt.
						</p>

						<h5 class="u-margin-t-m heading-sub">
							Een Unieke Beleving Voor Jouw Gasten
						</h5>
						<p class="paragraph">
							Onze service is niet alleen
							<span class="text-highlight"
								>stijlvol en feestelijk</span
							>; het is een unieke beleving voor jouw gasten.
							Opvallende kleuren en creatieve motieven creëren een
							atmosfeer die de herinneringen aan jouw event of
							feestje onvergetelijk maakt.
						</p>
					</div>
					<div
						class="hover-card hover-card--margin s-1-festival__img"
					>
						<div
							class="hover-card__img-zoom hover-card__img-zoom--3"
						>
							&nbsp;
						</div>
					</div>
				</div>
				<div class="three-col u-margin-t-l">
					<div class="hover-card">
						<div class="hover-card__img-hover--4">&nbsp;</div>
					</div>
					<div class="hover-card">
						<div class="hover-card__img-hover--5">&nbsp;</div>
					</div>
					<div class="u-padding-x-s">
						<h5 class="heading-sub">
							Neem Contact Op Voor Meer Informatie
						</h5>
						<p class="paragraph">
							Wil je onze service boeken of meer informatie
							ontvangen? Aarzel niet om
							<a href="#" class="text-link">contact op te nemen</a
							>. Wij staan klaar om jouw vragen te beantwoorden en
							samen te werken aan een betoverend evenement.
						</p>
					</div>
				</div>
			</section>
			<section class="section-appointment">
				<div class="cta-banner">
					<div class="one-col">
						<div class="cta-banner__socials">
							<a
								href="#0"
								class="btn btn__primary cta-banner__btn btn--style btn--black"
								>Vraag een offerte aan</a
							>
							<ul class="cta-banner__socials-list u-margin-t-m">
								<li>
									<a href="#">
										<i
											class="fa-brands fa-facebook-f icons icons--primary"
										></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i
											class="fa-brands fa-instagram icons icons--primary"
										></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i
											class="fa-brands fa-whatsapp icons icons--primary"
										></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
		@@include('partials/footer.html')
	</body>
</html>
