<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
			name="description"
			content="Make-up artist en hairstylist voor bruiloften, festivals, evenementen en meer. Boek nu jouw afspraak en laat je betoveren door onze professionele service."
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
			rel="stylesheet"
		/>

		<link
			href="../assets/img/banners/home-banner-slide-01@1600w.jpg"
			rel="preload"
			as="image"
		/>
		<link
			href="../assets/img/banners/home-banner-slide-02@1600w.jpg"
			rel="preload"
			as="image"
		/>
		<link
			href="../assets/img/banners/home-banner-slide-03@1600w.jpg"
			rel="preload"
			as="image"
		/>
		<link
			href="../assets/img/banners/home-banner-slide-04@1600w.jpg"
			as="image"
			rel="preload"
		/>
		<link
			href="../assets/img/home/home-model-card.jpg"
			as="image"
			rel="preload"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
			defer
		/>
		<link rel="stylesheet" href="../css/main.css" />
		<script defer type="module" src="../../src/js/app.js"></script>
		<title>Document</title>
	</head>

	<body>
		@@include('partials/header.html') @@include('partials/nav.html')
		<main class="home-wrapper">
			<section class="home-banner-slider">
				<div
					class="swiper home-banner-slider__swiper swiper-scale-effect"
					id="banner-home"
				>
					<div
						class="swiper-wrapper home-banner-slider__swiper__wrapper"
					>
						<div class="swiper-slide">
							<div
								class="home-banner-slider__img home-banner-slider__img--1 swiper-slide-cover"
							>
							</div>
						</div>
						<div class="swiper-slide">
							<div
								class="home-banner-slider__img home-banner-slider__img--2 swiper-slide-cover"
							>
							</div>
						</div>
						<div class="swiper-slide">
							<div
								class="home-banner-slider__img home-banner-slider__img--3 swiper-slide-cover"
							>
							</div>
						</div>
						<div class="swiper-slide">
							<div
								class="home-banner-slider__img home-banner-slider__img--4 swiper-slide-cover"
							>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="s-home-promo">
				<div class="three-col u-c-text">
					<div
						class="s-home-promo__box-left u-c-text-mobile u-centered u-max-width-xs"
					>
						<div>
							<h2 class="heading-secondary">
								Take your makeup
								<br />
								<span
									class="heading-secondary--italic heading-color--accent"
								>
									to the next level</span
								>
							</h2>
							<hr class="sm-divider u-centered" />
						</div>
						<div class="s-home-promo__box-left__info">
							<p class="paragraph u-centered u-m">
								Onze salon biedt een uitgebreid assortiment aan
								schoonheidsbehandelingen, waaronder
								professionele bruidsmake-up voor je speciale
								dag, feestmake-up om te schitteren op elk
								evenement, en dagelijkse make-upoplossingen voor
								een frisse en stralende look.
							</p>
						</div>
						<div class="btn-text">
							<a
								href="./about-me.html"
								class="btn-text__link"
								aria-label="Learn more about Cheryl Sallons"
								>Ontdek ons aanbod</a
							>
						</div>
					</div>
					<div class="image-card-container image-card-container--sm">
						<div class="image-card image-card__home--1">&nbsp;</div>
					</div>
					<div class="">
						<div class="time-table">
							<div>
								<h3 class="heading-tertiary">Werktijden</h3>
							</div>
							<div class="time-table__info">
								<ul class="u-margin-b-s">
									<li>
										<strong>Maandag - Vrijdag:</strong>
										08:30 - 18:00
									</li>
									<li
										><strong>Zaterdag:</strong> 09:00 -
										15:00</li
									>
								</ul>
								<div
									class="u-padding-x-s u-max-width-2xs u-centered"
								>
									<p class="paragraph">
										Wij hanteren ruime werktijden voor uw
										gemak en zijn beschikbaar op afspraak.
									</p>
									<p> Afspraak inplannen? </p>
									<a
										Neem
										href="tel:0123456789"
										class="text-link"
										>Neem contact met ons op.</a
									>
								</div>
							</div>
							<div class="time-table__bottom-section">
								<div class="time-table__socials-list">
									<a href="#">
										<i
											class="fa fa-phone icons time-table--icons icons--lg"
											aria-hidden="true"
										></i>
									</a>
									<a href="#">
										<i
											class="fa fa-envelope icons time-table--icons icons--lg"
											aria-hidden="true"
										></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="s-feature-box">
				<div class="feature-box">
					<a href="./bruidsmake-up.html" class="feature-box__link">
						<div class="feature-box__block">
							<div class="feature-box__img feature-box__img-1">
								&nbsp;
							</div>
							<div class="feature-box__text">
								<h3 class="heading-tertiary">
									Bruidsmake-up
								</h3>
								<hr
									class="sm-divider sm-divider--pink u-centered"
								/>
								<p
									class="feature-box__text--paragraph paragraph"
								>
									Eeuwige Elegantie voor Jouw Speciale Dag –
									Ontsluier de Bruid in Jezelf!
								</p>
							</div>
						</div>
					</a>
					<a
						href="./festival-en-evenementen.html"
						class="feature-box__link"
					>
						<div class="feature-box__block">
							<div
								class="feature-box__img feature-box__img-2"
							></div>
							<div class="feature-box__text">
								<h3 class="heading-tertiary">
									Festival en evenementen
								</h3>
								<hr
									class="sm-divider sm-divider--pink u-centered"
								/>
								<p
									class="feature-box__text--paragraph paragraph"
								>
									Gewaagde Looks voor Lichtgevende Momenten –
									Straal op Elk Festival en Evenement!
								</p>
							</div>
						</div>
					</a>

					<a href="./lashes-en-brows.html" class="feature-box__link">
						<div class="feature-box__block">
							<div
								class="feature-box__img feature-box__img-3"
							></div>
							<div class="feature-box__text">
								<h3 class="heading-tertiary">
									Lashes en brows
								</h3>
								<hr
									class="sm-divider sm-divider--pink u-centered"
								/>
								<p
									class="feature-box__text--paragraph paragraph"
								>
									Accentueer je Blik met Perfectie – Wimpers
									en Wenkbrauwen Heruitgevonden!
								</p>
							</div>
						</div>
					</a>
					<a href="./beauty-en-party.html" class="feature-box__link">
						<div class="feature-box__block">
							<div
								class="feature-box__img feature-box__img-4"
							></div>
							<div class="feature-box__text">
								<h3 class="heading-tertiary">
									Beauty en party
								</h3>
								<hr
									class="sm-divider sm-divider--pink u-centered"
								/>
								<p
									class="feature-box__text--paragraph paragraph"
								>
									Gezichten Transformeren, Herinneringen
									Creëren – Schoonheid voor Elk Feest!
								</p>
							</div>
						</div>
					</a>
					<a href="./editorials.html" class="feature-box__link">
						<div class="feature-box__block">
							<div
								class="feature-box__img feature-box__img-5"
							></div>
							<div class="feature-box__text">
								<h3
									class="heading-tertiary feature-box__text--header"
								>
									Editorials
								</h3>
								<hr
									class="sm-divider sm-divider--pink u-centered"
								/>
								<p
									class="feature-box__text--paragraph paragraph"
								>
									Waar Kunst Schoonheid Ontmoet – Redactionele
									Perfectie in Elke Foto!
								</p>
							</div>
						</div>
					</a>
				</div>
			</section>

			<section class="s-appointment">
				<div class="one-col">
					<div class="cta-banner u-c-text">
						<div class="cta-banner__heading">
							<h2
								class="cta-banner__text--header heading-tertiary"
							>
								Benieuwd naar de mogelijkheden?
							</h2>

							<h4
								class="cta-banner__text--paragraph heading-quaternary"
							>
								Make-up Artist | Cheryl Sallons
							</h4>
						</div>
						<div>
							<a
								href="./tarieven.html"
								class="btn btn__primary btn--black cta-banner__btn u-margin-b-m"
							>
								Boek je Make-up Sessie!</a
							>

							<ul class="cta-banner__socials-list">
								<li>
									<a href="#" class="facebook">
										<i
											class="fa-brands fa-facebook-f cta-banner__icons icons icons--sm"
										></i>
									</a>
								</li>
								<li>
									<a href="#" class="instagram">
										<i
											class="fa-brands fa-instagram cta-banner__icons icons icons--sm"
										></i>
									</a>
								</li>
								<li>
									<a href="#" class="whatsapp">
										<i
											class="fa-brands fa-whatsapp cta-banner__icons icons icons--sm"
										></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="s-about-me">
				<div class="two-col-2-1 u-max-width-6xl">
					<div
						class="u-padding-x-s u-z-index-2 u-centered-mobile reveal-left--hidden"
					>
						<h2 class="heading-secondary">
							Jouw perfecte
							<br />
							<span
								class="heading-secondary--italic heading-color--accent"
								>make-up touch</span
							>
						</h2>
						<hr class="sm-divider sm-divider--pink" />
						<p class="paragraph u-max-width-sm">
							<span class="bold">
								Vergroot jouw zelfvertrouwen met perfecte
								make-up: 'Mijn passie ligt in het creëren van de
								perfecte look die jouw schoonheid
								versterkt.</span
							>
							<br />
							<br />
							Ontdek de kunst, afgestemd op jouw stijl en
							gelegenheid. Of het nu gaat om een ​​trouwerij,
							fotoshoot of een avondje uit, ik bied een breed
							scala aan make-up diensten die zijn afgestemd op
							jouw individuele stijl en persoonlijkheid.
							<br />
							<br />
							Met gebruik van hoogwaardige producten en mijn
							ervaring en expertise help ik je een prachtige
							make-up look te creëren die jouw verwachtingen
							overtreft"
						</p>
						<div class="btn-text u-margin-t-m">
							<a href="#" class="btn-text__link">learn more</a>
						</div>
					</div>
					<div class="main-content">
						<div class="swiper-container">
							<div class="my-swiper-wrappe r">
								<div
									class="swiper card-slider reveal-right--hidden"
									id="card"
								>
									<div class="swiper-wrapper">
										<div
											class="swiper-slide card-slider__img card-slider__img--1"
										>
											&nbsp;
										</div>
										<div
											class="swiper-slide card-slider__img card-slider__img--2"
										>
											&nbsp;
										</div>
										<div
											class="swiper-slide card-slider__img card-slider__img--3"
										>
											&nbsp;
										</div>
										<div
											class="swiper-slide card-slider__img card-slider__img--4"
										>
											&nbsp;
										</div>
										<div
											class="swiper-slide card-slider__img card-slider__img--5"
										>
											&nbsp;
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="s-testimonials">
				<div class="one-col reveal-section--hidden">
					<div class="testimonials-container">
						<div class="testimonials">
							<div
								class="swiper testimonials__swiper"
								id="default-slider"
							>
								<div class="swiper-wrapper">
									<div
										class="testimonials__swiper__card swiper-slide u-c-text"
									>
										<p class="testimonials__text paragraph">
											"Onze trouwdag was echt super en
											onze huwelijksreis was echt
											geweldig! ik was zeer tevreden over
											mijn make-up. Het vertrouwen kwam
											door de klik die ik meteen met
											Cheryl had. ik voelde mij gehoord,
											Cheryl paste de make-up aan naar
											mijn wensen en dat was prettig. Ook
											van mij zussen, die altijd (en soms
											te) bloedeerlijk zijn, kreeg ik
											alleen maar complimenten over mijn
											make-up. Nogmaals ontzettend bedankt
											aan Cheryl voor het bijdragen aan
											deze onvergetelijke dag. Dikke kus
											van Hillary."
										</p>
										<div
											class="testimonials__reviewer u-margin-t-m"
										>
											<img
												class="testimonials__reviewer__img"
												src="https://placehold.co/100x100/jpg"
												alt="slide-img"
												width="100"
												height="100"
											/>
											<span
												class="testimonials__reviewer__name"
											>
												Hilary
											</span>
										</div>
									</div>
									<div
										class="testimonials__swiper__card swiper-slide u-c-text"
									>
										<div
											class="testimonials__text paragraph"
										>
											" Mijn ervaring met de make-up
											artiest, Cheryl, was buitengewoon
											positief. Vanaf ons eerste gesprek
											voelde ik me op mijn gemak. Cheryl
											luisterde aandachtig naar mijn
											wensen en gaf professioneel advies
											dat mijn natuurlijke schoonheid
											benadrukte. Op de dag zelf verliep
											alles vlekkeloos en ik kreeg de hele
											dag door complimenten over hoe
											stralend ik eruitzag. Cheryl’s
											vaardigheden en persoonlijke
											benadering maakten een wereld van
											verschil. Ik ben haar enorm dankbaar
											voor haar bijdrage aan een
											onvergetelijke dag. Hartelijke
											groet, Lisa."
										</div>
										<div
											class="testimonials__reviewer u-margin-t-m"
										>
											<img
												class="testimonials__reviewer__img"
												src="https://placehold.co/100x100/jpg"
												alt="slide-img"
												width="100"
												height="100"
											/>
											<span
												class="testimonials__reviewer__name paragraph"
											>
												Lisa
											</span>
										</div>
									</div>
									<div
										class="testimonials__swiper__card swiper-slide u-c-text"
									>
										<p class="testimonials__text paragraph">
											"Wat een geweldige ervaring had ik
											met make-up artiest Cheryl! Vanaf
											het eerste moment voelde ik een klik
											en wist ik dat ik in goede handen
											was. Cheryl’s aandacht voor detail
											en haar vermogen om precies te
											begrijpen wat ik wilde, was
											indrukwekkend. Op de dag van mijn
											bruiloft zag ik er beter uit dan ik
											ooit had durven dromen. De
											complimenten bleven maar komen, niet
											alleen van mijn familie en vrienden,
											maar zelfs van de fotograaf! Ik kan
											Cheryl niet genoeg bedanken voor
											haar professionaliteit en talent. Ze
											heeft mijn dag echt speciaal
											gemaakt. Groetjes, Sarah"
										</p>
										<div
											class="testimonials__reviewer u-margin-t-m"
										>
											<img
												class="testimonials__reviewer__img"
												src="https://placehold.co/100x100/jpg"
												alt="slide-img"
												width="100"
												height="100"
											/>
											<span
												class="testimonials__reviewer__name"
											>
												Sarah
											</span>
										</div>
									</div>
								</div>
								<div class="swiper-pagination"></div>
								<div class="swiper-button-next"></div>
								<div class="swiper-button-prev"></div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="s-social-media-slider">
				<div class="reveal-section--hidden">
					<div class="infinite-slider">
						<div class="swiper api-slider">
							<div
								class="swiper-wrapper"
								id="infinite-slider"
							></div>
						</div>
					</div>
				</div>
			</section>
			@@include('partials/footer.html')
		</main>
	</body>
</html>
