<!DOCTYPE html>
<html lang="en">
    @@include('partials/head.html')
    <body>
        @@include('partials/header.html') @@include('partials/nav.html')
        <div class="home-wrapper">
            <section class="home-hero">
                <header
                    class="swiper home-hero__swiper swiper-scale-effect"
                    id="header"
                >
                    <div class="swiper-wrapper home-hero__swiper__wrapper">
                        <div class="swiper-slide">
                            <div
                                class="home-hero__img home-hero__img--1 swiper-slide-cover"
                            >
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="home-hero__img home-hero__img--2 swiper-slide-cover"
                            >
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="home-hero__img home-hero__img--3 swiper-slide-cover"
                            >
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="home-hero__img home-hero__img--4 swiper-slide-cover"
                            >
                            </div>
                        </div>
                    </div>
                </header>
            </section>
            <!-- 
            <div class="swiper-container swiper-scale-effect">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide1 swiper-slide-cover"></div>
                        <div>Slide 1</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide2 swiper-slide-cover"></div>
                        <div>Slide 2</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide3 swiper-slide-cover"></div>
                        <div>Slide 3</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide4 swiper-slide-cover"></div>
                        <div>Slide 4></div>
                    </div>
                    ...
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-scrollbar"></div>
            </div> -->

            <section class="s-home-promo">
                <div class="row">
                    <div class="grid-col-1-of-3 u-c-text">
                        <div class="promo u-padding-x-s">
                            <h3 class="heading-secondary--black">
                                Take your Make-up
                                <span class="heading-secondary__sub--pink">
                                    to the next level</span
                                >
                            </h3>
                            <hr
                                class="sm-divider sm-divider--pink u-margin-b-m"
                            />
                            <p class="paragraph">
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Libero delectus consectetur
                                dignissimos atque placeat sapiente dolor
                            </p>

                            <div class="btn-text">
                                <a href="./about-me.html" class="btn-text__link"
                                    >learn more</a
                                >
                            </div>
                        </div>
                        <div class="hover-card">
                            <div class="hover-card__img-hover--1">&nbsp;</div>
                        </div>
                        <div class="u-c-text u-padding-x-s promo--3">
                            <div class="time-table">
                                <div>
                                    <h3 class="heading-secondary--white"
                                        >Werktijden</h3
                                    >
                                    <hr
                                        class="sm-divider sm-divider--black u-margin-b-m"
                                    />
                                </div>
                                <ul class="u-margin-b-s">
                                    <li>
                                        <strong>Maandag - Vrijdag:</strong>
                                        08:30 - 18:00
                                    </li>
                                    <li
                                        ><strong>Zaterdag:</strong> 09:00 -
                                        15:00</li
                                    >
                                </ul>
                                <div class="">
                                    <p class="u-margin-b-s">
                                        Wij hanteren ruime werktijden voor uw
                                        gemak en zijn beschikbaar op afspraak.
                                    </p>
                                    <p>
                                        Afspraak inplannen? Neem
                                        <a href="tel:0123456789">contact</a> met
                                        ons op.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="s-feature-box">
                <div class="row">
                    <div class="feature-box">
                        <a
                            href="./bruidsmake-up.html"
                            class="feature-box__link"
                        >
                            <div class="feature-box__block">
                                <div
                                    class="feature-box__img feature-box__img-1"
                                >
                                    &nbsp;
                                </div>
                                <div class="feature-box__text">
                                    <h3
                                        class="feature-box__text--header heading-tertiary--white"
                                    >
                                        Bruidsmake-up
                                    </h3>
                                    <hr
                                        class="sm-divider sm-divider--pink u-margin-b-m"
                                    />
                                    <p
                                        class="feature-box__text--paragraph paragraph"
                                    >
                                        Eeuwige Elegantie voor Jouw Speciale Dag
                                        – Ontsluier de Bruid in Jezelf!
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a
                            href="./festival-en-evenementen.html"
                            class="feature-box__link"
                        >
                            <div class="feature-box__block">
                                <div
                                    class="feature-box__img feature-box__img-2"
                                ></div>
                                <div class="feature-box__text">
                                    <h3
                                        class="feature-box__text--header heading-tertiary--white"
                                    >
                                        Festival en evenementen
                                    </h3>
                                    <hr
                                        class="sm-divider sm-divider--pink u-margin-b-m"
                                    />
                                    <p
                                        class="feature-box__text--paragraph paragraph"
                                    >
                                        Gewaagde Looks voor Lichtgevende
                                        Momenten – Straal op Elk Festival en
                                        Evenement!
                                    </p>
                                </div>
                            </div>
                        </a>

                        <a
                            href="./lashes-en-brows.html"
                            class="feature-box__link"
                        >
                            <div class="feature-box__block">
                                <div
                                    class="feature-box__img feature-box__img-3"
                                ></div>
                                <div class="feature-box__text">
                                    <h3
                                        class="feature-box__text--header heading-tertiary--white"
                                    >
                                        Lashes en brows
                                    </h3>
                                    <hr
                                        class="sm-divider sm-divider--pink u-margin-b-m"
                                    />
                                    <p
                                        class="feature-box__text--paragraph paragraph"
                                    >
                                        Accentueer je Blik met Perfectie –
                                        Wimpers en Wenkbrauwen Heruitgevonden!
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a
                            href="./beauty-en-party.html"
                            class="feature-box__link"
                        >
                            <div class="feature-box__block">
                                <div
                                    class="feature-box__img feature-box__img-4"
                                ></div>
                                <div class="feature-box__text">
                                    <h3
                                        class="feature-box__text--header heading-tertiary--white"
                                    >
                                        Beauty en party
                                    </h3>
                                    <hr
                                        class="sm-divider sm-divider--pink u-margin-b-m"
                                    />
                                    <p
                                        class="feature-box__text--paragraph paragraph"
                                    >
                                        Gezichten Transformeren, Herinneringen
                                        Creëren – Schoonheid voor Elk Feest!
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="./editorials.html" class="feature-box__link">
                            <div class="feature-box__block">
                                <div
                                    class="feature-box__img feature-box__img-5"
                                ></div>
                                <div class="feature-box__text">
                                    <h3
                                        class="feature-box__text--header heading-tertiary--white"
                                    >
                                        Editorials
                                    </h3>
                                    <hr
                                        class="sm-divider sm-divider--pink u-margin-b-m"
                                    />
                                    <p
                                        class="feature-box__text--paragraph paragraph"
                                    >
                                        Waar Kunst Schoonheid Ontmoet –
                                        Redactionele Perfectie in Elke Foto!
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <div class="s-appointment">
                <div class="row">
                    <div class="cta-banner u-c-text">
                        <div class="grid-col-2-of-2">
                            <div class="cta-banner__text">
                                <div
                                    class="cta-banner__text--header heading-secondary--black"
                                >
                                    Benieuwd naar de mogelijkheden?
                                </div>
                                <div class="u-centered">
                                    <hr
                                        class="sm-divider sm-divider--white u-margin-b-m"
                                    />
                                </div>
                                <div rclass="cta-banner__text--paragraph">
                                    Make-up Artist | Cheryl Sallons
                                </div>
                            </div>
                            <div class="cta-banner__socials">
                                <a
                                    href="./tarieven.html"
                                    class="btn btn__primary cta-banner__btn btn--black"
                                >
                                    Boek je Make-up Sessie!</a
                                >

                                <ul class="cta-banner__socials__list">
                                    <li class="cta-banner__item--socials">
                                        <a href="#" class="facebook">
                                            <i
                                                class="fa-brands fa-facebook-f"
                                            ></i>
                                        </a>
                                    </li>
                                    <li class="cta-banner__item--socials">
                                        <a href="#" class="instagram">
                                            <i
                                                class="fa-brands fa-instagram"
                                            ></i>
                                        </a>
                                    </li>
                                    <li class="cta-banner__item--socials">
                                        <a href="#" class="whatsapp">
                                            <i
                                                class="fa-brands fa-whatsapp"
                                            ></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="s-about-me">
                <div class="row">
                    <div class="grid-col-2-of-2">
                        <div class="u-padding-x-s">
                            <h3 class="heading-secondary--black">
                                Jouw Perfecte Make-up Touch
                            </h3>
                            <hr
                                class="sm-divider--start sm-divider--pink u-margin-b-m"
                            />
                            <p class="paragraph">
                                <span class="bold">
                                    "Vergroot jouw zelfvertrouwen met perfecte
                                    make-up: 'Mijn passie ligt in het creëren
                                    van de perfecte look die jouw schoonheid
                                    versterkt.'</span
                                >
                                <br />
                                <br />
                                Ontdek de kunst, afgestemd op jouw stijl en
                                gelegenheid. Of het nu gaat om een ​​trouwerij,
                                fotoshoot of een avondje uit, ik bied een breed
                                scala aan make-up diensten die zijn afgestemd op
                                jouw individuele stijl en persoonlijkheid.
                                <br />
                                <br />
                                Met gebruik van hoogwaardige producten en mijn
                                ervaring en expertise help ik je een prachtige
                                make-up look te creëren die jouw verwachtingen
                                overtreft"
                            </p>
                            <div class="btn-text">
                                <a href="#" class="btn-text__link"
                                    >learn more</a
                                >
                            </div>
                        </div>
                        <div class="main-content">
                            <div class="swiper-container">
                                <div class="my-swiper-wrapper">
                                    <div class="swiper card-slider" id="card">
                                        <div class="swiper-wrapper">
                                            <div
                                                class="swiper-slide card-slider__img card-slider__img--1"
                                            >
                                                &nbsp;
                                            </div>
                                            <div
                                                class="swiper-slide card-slider__img card-slider__img--2"
                                            >
                                                &nbsp;
                                            </div>
                                            <div
                                                class="swiper-slide card-slider__img card-slider__img--3"
                                            >
                                                &nbsp;
                                            </div>
                                            <div
                                                class="swiper-slide card-slider__img card-slider__img--4"
                                            >
                                                &nbsp;
                                            </div>
                                            <div
                                                class="swiper-slide card-slider__img card-slider__img--5"
                                            >
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="s-reviews">
                <div class="row">
                    <div class="grid-col-1-of-1">
                        <div class="reviews">
                            <div
                                class="swiper reviews__swiper"
                                id="default-slider"
                            >
                                <div class="swiper-wrapper">
                                    <div
                                        class="reviews__swiper__card swiper-slide u-c-text"
                                    >
                                        <p class="reviews__text paragraph">
                                            " Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Eum
                                            aspernatur mollitia repellendus ipsa
                                            ullam tempora quam, alias minus in,
                                            dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis?
                                            Neque, totam maiores. elit. Eum
                                            aspernatur mollitia repellendus ipsa
                                            ullam tempora quam, alias minus in,
                                            dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis?
                                            Neque, totam maiores. elit."
                                        </p>
                                        <div
                                            class="reviews__reviewer u-margin-t-m"
                                        >
                                            <img
                                                class="reviews__reviewer__img"
                                                src="https://placehold.co/100x100/jpg"
                                                alt="slide-img"
                                            />
                                            <span
                                                class="reviews__reviewer__name"
                                            >
                                                Cheryl Ballons
                                            </span>
                                        </div>
                                    </div>
                                    <div
                                        class="reviews__swiper__card swiper-slide u-c-text"
                                    >
                                        <div class="reviews__text paragraph">
                                            " Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Eum
                                            aspernatur mollitia repellendus ipsa
                                            ullam tempora quam, alias minus in,
                                            dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis?
                                            Neque, totam maiores. elit. Eum
                                            aspernatur mollitia repellendus ipsa
                                            ullam tempora quam, alias minus in,
                                            dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis?
                                            Neque, totam maiores. elit."
                                        </div>
                                        <div
                                            class="reviews__reviewer u-margin-t-m"
                                        >
                                            <img
                                                class="reviews__reviewer__img"
                                                src="https://placehold.co/100x100/jpg"
                                                alt="slide-img"
                                            />
                                            <span
                                                class="reviews__reviewer__name paragraph"
                                            >
                                                Cheryl Ballons
                                            </span>
                                        </div>
                                    </div>
                                    <div
                                        class="reviews__swiper__card swiper-slide u-c-text"
                                    >
                                        <p class="reviews__text paragraph">
                                            " Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Eum
                                            aspernatur mollitia repellendus ipsa
                                            ullam tempora quam, alias minus in,
                                            dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis?
                                            Neque, totam maiores. elit. Eum
                                            aspernatur mollitia repellendus ipsa
                                            ullam tempora quam, alias minus in,
                                            dolorum, dicta quisquam veritatis
                                            veniam facere minima perferendis?
                                            Neque, totam maiores. elit."
                                        </p>
                                        <div
                                            class="reviews__reviewer u-margin-t-m"
                                        >
                                            <img
                                                class="reviews__reviewer__img"
                                                src="https://placehold.co/100x100/jpg"
                                                alt="slide-img"
                                            />
                                            <span
                                                class="reviews__reviewer__name"
                                            >
                                                Cheryl Ballons
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="s-social-media-slider">
                <div class="row">
                    <div class="infinite-slider">
                        <div class="swiper api-slider">
                            <div
                                class="swiper-wrapper"
                                id="infinite-slider"
                            ></div>
                        </div>
                    </div>
                </div>
            </section>
            @@include('partials/footer.html')
        </div>
    </body>
</html>
