<!DOCTYPE html>
<html lang="en">
	@@include('partials/head.html')
	<body>
		@@include('partials/header.html') @@include('partials/nav.html')
		<div class="wrapper">
			<header class="lashes-en-brows-banner parallax-bg">&nbsp;</header>
			<section class="s-1-lashes-en-brows">
				<div class="two-col">
					<div class="u-padding-x-s u-max-width-l u-centered-mobile">
						<h1
							class="u-margin-t-m heading-secondary--black text-block--left"
						>
							Ontdek de Schoonheidsmagie bij Cher's Beauty Sallons
						</h1>
						<hr
							class="sm-divider--start sm-divider--pink u-margin-b-m"
						/>
						<h2 class="heading-tertiary">
							Betoverende Wimpers en Wenkbrauwen
						</h2>
						<p class="paragraph">
							Ontdek onze Lashes en Brows service die draait om
							het accentueren van jouw natuurlijke schoonheid. Met
							onze expertise en hoogwaardige producten creëren we
							een stralende en zelfverzekerde uitstraling.
						</p>

						<h2 class="heading-tertiary">
							Prachtige Ogen, Betoverende Resultaten
						</h2>
						<p class="paragraph">
							Laat je verrassen door onze persoonlijke aandacht en
							getalenteerde visagisten die jouw oogopslag
							perfectioneren. Stap uit onze stoel met een
							stralende blik die de show steelt.
						</p>

						<h2 class="heading-tertiary">
							Jouw Schoonheid, Jouw Stijl, Onze Passie
						</h2>
						<p class="paragraph">
							Bij [Jouw Bedrijfsnaam] omarmen we jouw unieke
							schoonheid en streven we ernaar om elke klant een
							warme en gastvrije ervaring te bieden. Laat ons
							samenwerken om de perfecte look te creëren die jouw
							innerlijke en uiterlijke schoonheid weerspiegelt.
						</p>

						<h2 class="heading-tertiary">
							Ontdek Onze Exclusieve Aanbiedingen
						</h2>
						<p class="paragraph">
							Geniet van speciale aanbiedingen op onze Lashes en
							Brows service voor een beperkte tijd. Ontdek de
							magie van prachtige wimpers en perfect gevormde
							wenkbrauwen met onze professionele behandelingen
							tegen betaalbare prijzen. Maak vandaag nog een
							afspraak en laat je betoveren door de schoonheid die
							wij te bieden hebben.
						</p>
					</div>
					<div
						class="hover-card hover-card--margin s-1-bruiloft__img"
					>
						<div
							class="hover-card__img-zoom hover-card__img-zoom--6"
						>
							&nbsp;
						</div>
					</div>
				</div>
			</section>

			<section class="section-appointment">
				<div class="row">
					<div class="cta-banner">
						<div class="grid-col-1-of-1--narrow">
							<div class="cta-banner__socials">
								<a
									href="#0"
									class="btn btn__primary cta-banner__btn btn--style btn--black"
									>Vraag een offerte aan</a
								>
								<ul
									class="cta-banner__socials__list u-margin-t-m"
								>
									<li class="cta-banner__item--socials">
										<a href="#" class="facebook">
											<i
												class="fa-brands fa-facebook-f social-icons"
											></i>
										</a>
									</li>
									<li class="cta-banner__item--socials">
										<a href="#" class="instagram">
											<i
												class="fa-brands fa-instagram social-icons"
											></i>
										</a>
									</li>

									<li class="cta-banner__item--socials">
										<a href="#" class="whatsapp">
											<i
												class="fa-brands fa-whatsapp social-icons"
											></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		@@include('partials/footer.html')
	</body>
</html>
