<!DOCTYPE html>
<html lang="en">
	@@include('partials/head.html')
	<body>
		@@include('partials/header.html') @@include('partials/nav.html')
		<section class="parallax-bg portfolio-banner">&nbsp;</section>
		<section class="heading-portfolio u-c-text-mobile">
			<div class="three-col">
				<div>
					<h2 class="heading-secondary">
						Taking you from ordinary
						<br />
						<span
							class="heading-secondary--italic heading-color--accent"
						>
							to extraordinary!</span
						>
					</h2>
					<hr class="sm-divider sm-divider--pink u-centered-mobile" />
				</div>
				<p class="paragraph u-max-width-xs u-centered-mobile">
					Meet Cheryl Sallons, a visionary makeup artist whose passion
					for artistry and dedication to her craft have made her a
					sought-after name in the beauty industry. With a keen eye
					for detail and a flair for creativity,
					<br />
					<br />
					Cheryl brings her unique perspective to every project she
					undertakes. From fashion runways to editorial shoots, her
					versatile skills have graced the pages of top magazines and
					adorned the faces of countless clients.
				</p>

				<p class="paragraph u-max-width-xs u-centered-mobile">
					Driven by her love for enhancing natural beauty, Cheryl's
					approach to makeup is all about empowerment and
					self-expression. With a foundation built on precision and
					technique,
					<br />
					<br />
					she strives to create looks that not only captivate but also
					celebrate individuality.
				</p>
			</div>
		</section>
		<section class="s-portfolio-gallery">
			<div class="u-max-width-7xl u-centered">
				<div class="flexbin" id="gallery">
					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-01.jpg"
						class="link gallery-img"
						data-pswp-width="1440"
						data-pswp-height="960"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-01.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-02.jpg"
						class="link gallery-img"
						data-pswp-width="960"
						data-pswp-height="960"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-02.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-03.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1080"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-03.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-04.jpg"
						class="link gallery-img"
						data-pswp-width="660"
						data-pswp-height="1080"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-04.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-05.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="646"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-05.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-06.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="847"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-06.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-07.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1350"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-07.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-08.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1312"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-08.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-09.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1273"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-09.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-10.jpg"
						class="link gallery-img"
						data-pswp-width="720"
						data-pswp-height="900"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-10.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-11.jpg"
						class="link gallery-img"
						data-pswp-width="716"
						data-pswp-height="895"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-11.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-12.jpg"
						class="link gallery-img"
						data-pswp-width="885"
						data-pswp-height="1080"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-12.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-13.jpg"
						class="link gallery-img"
						data-pswp-width="1440"
						data-pswp-height="1800"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-13.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-14.jpg"
						class="link gallery-img"
						data-pswp-width="1440"
						data-pswp-height="1800"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-14.jpg"
							alt=""
							class="hover"
						/>
					</a>
					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-15.jpg"
						class="link gallery-img"
						data-pswp-width="1440"
						data-pswp-height="960"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-15.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-16.jpg"
						class="link gallery-img"
						data-pswp-width="1440"
						data-pswp-height="1800"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-16.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-17.jpg"
						class="link gallery-img"
						data-pswp-width="1440"
						data-pswp-height="1800"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-17.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-18.jpg"
						class="link gallery-img"
						data-pswp-width="1440"
						data-pswp-height="1440"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-18.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-19.jpg"
						class="link gallery-img"
						data-pswp-width="1440"
						data-pswp-height="1440"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-19.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-20.jpg"
						class="link gallery-img"
						data-pswp-width="828"
						data-pswp-height="1048"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-20.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-21.jpg"
						class="link gallery-img"
						data-pswp-width="1440"
						data-pswp-height="1440"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-21.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-22.jpg"
						class="link gallery-img"
						data-pswp-width="1920"
						data-pswp-height="2880"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-22.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-23.jpg"
						class="link gallery-img"
						data-pswp-width="1920"
						data-pswp-height="2880"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-23.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-24.jpg"
						class="link gallery-img"
						data-pswp-width="1919"
						data-pswp-height="2764"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-24.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-25.jpg"
						class="link gallery-img"
						data-pswp-width="1920"
						data-pswp-height="2880"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-25.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-26.jpg"
						class="link gallery-img"
						data-pswp-width="1920"
						data-pswp-height="2880"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-26.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-27.jpg"
						class="link gallery-img"
						data-pswp-width="1920"
						data-pswp-height="2150"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-27.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-28.jpg"
						class="link gallery-img"
						data-pswp-width="1920"
						data-pswp-height="2885"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-28.jpg"
							alt=""
							class="hover"
						/>
					</a>
					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-29.jpg"
						class="link gallery-img"
						data-pswp-width="1920"
						data-pswp-height="2885"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-29.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-30.jpg"
						class="link gallery-img"
						data-pswp-width="1576"
						data-pswp-height="2364"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-30.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-31.jpg"
						class="link gallery-img"
						data-pswp-width="1684"
						data-pswp-height="1684"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-31.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-32.jpg"
						class="link gallery-img"
						data-pswp-width="1813"
						data-pswp-height="2719"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-32.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-33.jpg"
						class="link gallery-img"
						data-pswp-width="1800"
						data-pswp-height="1800"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-33.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-34.jpg"
						class="link gallery-img"
						data-pswp-width="1004"
						data-pswp-height="1504"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-34.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-35.jpg"
						class="link gallery-img"
						data-pswp-width="1004"
						data-pswp-height="1504"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-35.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-36.jpg"
						class="link gallery-img"
						data-pswp-width="1367"
						data-pswp-height="2048"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-36.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-37.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="851"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-37.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-38.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="974"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-38.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-39.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="968"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-39.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-40.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1350"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-40.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-41.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1350"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-41.jpg"
							alt=""
							class="hover"
						/>
					</a>

					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-42.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1350"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-42.jpg"
							alt=""
							class="hover"
						/>
					</a>
					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-43.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1350"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-43.jpg"
							alt=""
							class="hover"
						/>
					</a>
					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-44.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1350"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-44.jpg"
							alt=""
							class="hover"
						/>
					</a>
					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-45.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1350"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-45.jpg"
							alt=""
							class="hover"
						/>
					</a>
					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-46.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1350"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-46.jpg"
							alt=""
							class="hover"
						/>
					</a>
					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-47.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1350"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-47.jpg"
							alt=""
							class="hover"
						/>
					</a>
					<a
						href="../../src/assets/img/portfolio/gallery/regular/gallery-image-48.jpg"
						class="link gallery-img"
						data-pswp-width="1080"
						data-pswp-height="1350"
					>
						<img
							src="../../src/assets/img/portfolio/gallery/thumbnail/gallery-image-thumbnail-48.jpg"
							alt=""
							class="hover"
						/>
					</a>
				</div>
			</div>
		</section>
		@@include('partials/footer.html')
	</body>
</html>
