<footer class="footer">
	<div class="four-col">
		<div class="footer__section">
			<h3 class="footer__header heading-tertiary">Social media</h3>
			<div class="footer__list footer__list--socials">
				<ul>
					<li class="footer__list__item animation-hover-move-up">
						<a
							href="#"
							class="text-sm footer__socials-list link link--dark-pink"
						>
							<span>Instagram</span>
							<i class="fa-brands fa-instagram"></i>
						</a>
					</li>
					<li class="footer__list__item animation-hover-move-up">
						<a
							href="#"
							class="text-sm footer__socials-list link link--dark-pink"
							><span>Facebook</span>
							<i class="fa-brands fa-facebook-f"></i>
						</a>
					</li>
					<li class="footer__list__item animation-hover-move-up">
						<a
							href="#"
							class="text-sm footer__socials-list link link--dark-pink"
							><span>LinkedIn</span>
							<i class="fa-brands fa-linkedin"></i>
						</a>
					</li>
					<li class="footer__list__item animation-hover-move-up">
						<a
							href="#"
							class="text-sm footer__socials-list link link--dark-pink"
							><span>TikTok</span>
							<i class="fa-brands fa-tiktok"></i>
						</a>
					</li>
					<li class="footer__list__item animation-hover-move-up">
						<a
							href="#"
							class="text-sm footer__socials-list link link--dark-pink"
							><span>Pinterest</span>
							<i class="fa-brands fa-pinterest"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__section">
			<h3 class="footer__header heading-tertiary">Informatie</h3>
			<ul class="footer__list">
				<li class="footer__list__item animation-hover-move-up">
					<a href="#" class="link link--dark-pink text-sm"
						>About me</a
					>
				</li>
				<li class="footer__list__item animation-hover-move-up">
					<a href="#" class="link link--dark-pink text-sm"
						>Speciale acties</a
					>
				</li>
				<li class="footer__list__item animation-hover-move-up">
					<a href="#" class="link link--dark-pink text-sm"
						>Nieuw berichten</a
					>
				</li>
			</ul>
		</div>
		<div class="footer__section">
			<h3 class="footer__header heading-tertiary">Services</h3>
			<ul class="footer__list">
				<li class="footer__list__item animation-hover-move-up">
					<a
						href="../views/bruidsmake-up.html"
						class="link link--dark-pink text-sm"
						>Bruidsmake-up</a
					>
				</li>
				<li class="footer__list__item animaiton-hover-move-up">
					<a
						href="../views/festival-en-evenementen.html"
						class="link link--dark-pink text-sm"
						>Festival</a
					>
				</li>
				<li class="footer__list__item animation-hover-move-up">
					<a
						href="../views/lashes-en-brows.html"
						class="link link--dark-pink text-sm"
						>Lashes en Brows</a
					>
				</li>
				<li class="footer__list__item animation-hover-move-up">
					<a
						href="../views/beauty-en-party.html"
						class="link link--dark-pink text-sm"
						>Beauty en Party</a
					>
				</li>
				<li class="footer__list__item animation-hover-move-up">
					<a
						href="../views/editorials.html"
						class="link link--dark-pink text-sm"
						>Editorials</a
					>
				</li>
			</ul>
		</div>
		<div class="footer__section">
			<h3 class="footer__header heading-tertiary">Contact</h3>
			<ul class="footer__list">
				<li class="footer__list__item text-sm"
					>Voorbeeld 12, 1234VW, Stad</li
				>
				<li class="footer__list__item animation-hover-move-up">
					<a href="#" class="link link--dark-pink text-sm"
						>(06)55555555</a
					>
				</li>
				<li
					class="footer__list__item animation-hover-move-up animation-hover-move"
				>
					<a href="#" class="link link--dark-pink text-sm"
						>voorbeeld@hotmail.com</a
					>
				</li>
			</ul>
		</div>
	</div>
	<div class="grid-col-1-of-1">
		<p class="footer__autograph u-c-text">
			<span class="footer__copyright">
				&copy; 2024 Cheryl Sallons | All Rights Reserved.
			</span>
		</p>
	</div>
</footer>
