<footer class="footer">
	<div class="four-col">
		<div class="footer__section">
			<h3 class="footer__header heading-tertiary">Social media</h3>
			<div class="footer__list footer__list--socials">
				<ul>
					<li class="footer__item">
						<a
							href="#"
							class="footer__socials-list footer__item__link"
						>
							<span>Instagram</span>
							<i class="fa-brands fa-instagram"></i>
						</a>
					</li>
					<li class="footer__item">
						<a
							href="#"
							class="footer__socials-list footer__item__link"
							><span>Facebook</span>
							<i class="fa-brands fa-facebook-f"></i>
						</a>
					</li>
					<li class="footer__item">
						<a
							href="#"
							class="footer__socials-list footer__item__link"
							><span>LinkedIn</span>
							<i class="fa-brands fa-linkedin"></i>
						</a>
					</li>
					<li class="footer__item">
						<a
							href="#"
							class="footer__socials-list footer__item__link"
							><span>TikTok</span>
							<i class="fa-brands fa-tiktok"></i>
						</a>
					</li>
					<li class="footer__item">
						<a
							href="#"
							class="footer__socials-list footer__item__link"
							><span>Pinterest</span>
							<i class="fa-brands fa-pinterest"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__section">
			<h3 class="footer__header heading-tertiary">Informatie</h3>
			<ul class="footer__list">
				<li class="footer__item">
					<a href="#" class="footer__item__link">About me</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__item__link">Speciale acties</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__item__link">Nieuw berichten</a>
				</li>
			</ul>
		</div>
		<div class="footer__section">
			<h3 class="footer__header heading-tertiary">Services</h3>
			<ul class="footer__list">
				<li class="footer__item">
					<a
						href="../views/bruidsmake-up.html"
						class="footer__item__link"
						>Bruidsmake-up</a
					>
				</li>
				<li class="footer__item">
					<a
						href="../views/festival-en-evenementen.html"
						class="footer__item__link"
						>Festival</a
					>
				</li>
				<li class="footer__item">
					<a
						href="../views/lashes-en-brows.html"
						class="footer__item__link"
						>Lashes en Brows</a
					>
				</li>
				<li class="footer__item">
					<a
						href="../views/beauty-en-party.html"
						class="footer__item__link"
						>Beauty en Party</a
					>
				</li>
				<li class="footer__item">
					<a
						href="../views/editorials.html"
						class="footer__item__link"
						>Editorials</a
					>
				</li>
			</ul>
		</div>
		<div class="footer__section">
			<h3 class="footer__header heading-tertiary">Contact</h3>
			<ul class="footer__list">
				<li class="">Voorbeeld 12, 1234VW, Stad</li>
				<li class="footer__item">
					<a href="#" class="footer__item__link">(06)55555555</a>
				</li>
				<li class="footer__item">
					<a href="#" class="footer__item__link"
						>voorbeeld@hotmail.com</a
					>
				</li>
			</ul>
		</div>
	</div>
	<div class="grid-col-1-of-1">
		<p class="footer__autograph u-c-text">
			&copy; 2024 Cher's Beauty Sallons | All Rights Reserved.
		</p>
	</div>
</footer>
