<header class="header-fixed">
    <div class="container-header">
        <div class="header">
            <div class="header__container header__container--top">
                <ul class="header__grid header__grid--contacts">
                    <li class="header__menu__top header__menu">
                        <span>T:</span
                        ><a href="#" class="header__menu__top--hover"
                            >(06)55555555</a
                        >
                    </li>
                    <li class="header__menu__top header__menu">
                        <span>E:</span
                        ><a href="#" class="header__menu__top--hover"
                            >voorbeeld@hotmail.com</a
                        >
                    </li>
                    <li class="header__menu__top header__menu">
                        A.voorbeeld 12, 1234VW, Stad
                    </li>
                </ul>
                <ul class="header__grid header__grid--contacts">
                    <li class="header__menu__top header__menu">
                        <a href="#" class="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="header__menu__top header__menu">
                        <a href="#" class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="header__menu__top header__menu">
                        <a href="#" class="whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__container header__container--bottom">
                <div class="header__logo">
                    <a href="../views/index.html">
                        <img
                            srcset="
                                ../../src/assets/img/_shared/logo@281w.png 281w
                                ../../src/assets/img/_shared/logo@200w.png 200w
                                ../../src/assets/img/_shared/logo@100w.png 100w
                            "
                            class="header__logo__image"
                            alt="logo"
                        />
                    </a>
                </div>
                <ul class="header__grid header__grid--menu">
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/index.html"
                            class="link upper bold-m"
                            >Home</a
                        >
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a id="diensten" href="#" class="link upper bold-m"
                            >Diensten</a
                        >
                        <span class="arrow header__menu--arrow">&#129171;</span>
                        <ul class="menu-list">
                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/bruidsmake-up.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Bruidsmake-up</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/festival-en-evenementen.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Festival en evenementen</span
                                    ></a
                                >
                            </li>

                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/lashes-en-brows.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Lashes en brows</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/beauty-en-party.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Beauty en Party</span
                                    ></a
                                >
                            </li>
                            <li class="">
                                <a
                                    id="diensten-submenu-item"
                                    href="../views/editorials.html"
                                    class="menu-list__item"
                                    ><span class="menu-list__item--text"
                                        >Editorials</span
                                    ></a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/portfolio.html"
                            class="link upper bold-m"
                            >Portfolio</a
                        >
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/tarieven.html"
                            class="link upper bold-m"
                            >Tarieven</a
                        >
                    </li>
                    <li class="header__menu__bottom header__menu">
                        <a
                            id="menu-item"
                            href="../views/contact-me.html"
                            class="link upper bold-m"
                            >Contact me</a
                        >
                    </li>
                </ul>
                <!-- mobile effect -->
                <input
                    type="checkbox"
                    class="header__checkbox"
                    id="navi-toggle"
                />
                <label for="navi-toggle" class="header__button">
                    <span class="header__icon">&nbsp;</span>
                </label>
            </div>
        </div>
    </div>
</header>
