<header class="header">
	<div class="header-wrapper" id="header-sticky">
		<div class="header__top-bar">
			<ul class="header__top-bar__links">
				<li>
					<span>T:</span
					><a href="#" class="header__top-bar__link">(06)55555555</a>
				</li>
				<li>
					<span>E:</span
					><a href="#" class="header__top-bar__link"
						>voorbeeld@hotmail.com</a
					>
				</li>
				<li> A.voorbeeld 12, 1234VW, Stad </li>
			</ul>
			<ul class="header__top-bar__socials">
				<li>
					<a href="#">
						<i
							class="fa-brands fa-facebook-f header__top-bar__socials--icons icons icons--sm"
						></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i
							class="fa-brands fa-instagram header__top-bar__socials--icons icons icons--sm"
						></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i
							class="fa-brands fa-whatsapp header__top-bar__socials--icons icons icons--sm"
						>
						</i>
					</a>
				</li>
			</ul>
		</div>
		<div class="header__main" id="header-main">
			<div class="header__logo">
				<a href="../views/index.html">
					<img
						src="../../src/assets/img/_shared/logo@263x75.png"
						srcset="
							../../src/assets/img/_shared/logo@263x75.png 263w,
							../../src/assets/img/_shared/logo@100w.png   100w
						"
						sizes="(max-width: 900px) 100px, 250px"
						alt="Logo"
						class="header__logo__img"
					/>
				</a>
			</div>
			<nav class="header__nav">
				<ul class="header__nav__links">
					<li class="header__nav__item">
						<a
							id="nav-link"
							href="../views/index.html"
							class="header__nav__link"
							>Home</a
						>
					</li>
					<li class="header__nav__item">
						<a id="diensten" href="#" class="header__nav__link"
							>Diensten</a
						>
						<div class="header__nav__arrow-icon">
							<i class="">&#129171;</i>
						</div>
						<ul class="menu-dropdown">
							<li>
								<a
									id="diensten-submenu-item"
									href="../views/bruidsmake-up.html"
									class="menu-dropdown__item"
									>Bruidsmake-up</a
								>
							</li>
							<li>
								<a
									id="diensten-submenu-item"
									href="../views/festival-en-evenementen.html"
									class="menu-dropdown__item"
									>Festival en evenementen</a
								>
							</li>

							<li>
								<a
									id="diensten-submenu-item"
									href="../views/lashes-en-brows.html"
									class="menu-dropdown__item"
									>Lashes en brows</a
								>
							</li>
							<li>
								<a
									id="diensten-submenu-item"
									href="../views/beauty-en-party.html"
									class="menu-dropdown__item"
									>Beauty en Party</a
								>
							</li>
							<li class="">
								<a
									id="diensten-submenu-item"
									href="../views/editorials.html"
									class="menu-dropdown__item"
									>Editorials</a
								>
							</li>
						</ul>
					</li>
					<li class="header__nav__item">
						<a
							id="nav-link"
							href="../views/portfolio.html"
							class="header__nav__link"
							>Portfolio</a
						>
					</li>
					<li class="header__nav__item">
						<a
							id="nav-link"
							href="../views/tarieven.html"
							class="header__nav__link"
							>Tarieven</a
						>
					</li>
					<li class="header__nav__item">
						<a
							id="nav-link"
							href="../views/contact-me.html"
							class="header__nav__link"
							>Contact me</a
						>
					</li>
				</ul>
			</nav>
		</div>
		<!-- mobile menu  -->
	</div>
</header>
