.appointment {
    display: grid;
    position: relative;
    padding: 3rem;
    &::before {
        @include layer-behind;
        background: $color-quaternary;
        background: linear-gradient(240deg, $color-quaternary 0%, $color-tertiary 90%);
    }

    // align-items: center;

    &__text {
        padding: 3rem;
        width: 70%;
        display: block;
        text-align: center;
        justify-self: center;
        align-self: center;

        &--paragraph {
            color: $color-white;
            padding: 2rem 0;
        }
    }

    &__socials {
        padding: 3rem;
        display: grid;
        text-align: center;
        align-items: end;
        justify-content: center;
        &__list {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: 2rem;
        }
    }

    &__item {
        height: 100%;
        &--socials {
            // padding: 0 4px;
            list-style: none;
        }
    }

    &__btn {
        align-self: center;
    }
}
