.appointment {
    height: 25vh;
    background-image: linear-gradient(
        to bottom right,
        ($color-primary-light 78%, $color-primary-dark 95%)
    );
    display: grid;
    // align-items: center;

    &__text {
        width: 70%;
        display: block;
        text-align: center;
        justify-self: center;
        align-self: center;

        &--paragraph {
            padding: 2rem 0;
            color: $color-black;
        }
    }

    &__socials {
        padding: 3rem;
        display: grid;
        text-align: center;
        align-items: end;
        justify-content: center;
        &__list {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: 2rem;
        }
    }

    &__item {
        height: 100%;
        &--socials {
            // padding: 0 4px;
            list-style: none;
        }
    }

    &__btn {
        align-self: center;
    }
}
