.btn {
    &,
    &:link,
    &--style {
        font-size: 1.5rem;
        padding: 2rem;
        display: inline-block;
        // border-radius: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-family: "Nunito";
        transition: all 0.3s;
        border: none;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &--pink {
        background: $color-primary;
        color: $color-white;
        &:hover {
            background: $color-white;
            color: $color-primary;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(2px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--black {
        background: $color-black;
        color: $color-white;
        &:hover {
            background: $color-primary-dark2;
            color: $color-white;
        }
    }
}
