.btn {
	&,
	&:link,
	&--style {
		display: inline-block;
		text-transform: uppercase;

		transition: 0.2s;
		width: fit-content;
		cursor: pointer;
	}

	&__primary {
		font-weight: $font-weight-normal;
		padding: 2rem 3rem;
		border-radius: 5rem;
	}

	&__secondary {
		font-weight: $font-weight-normal;
		padding: 0.9rem 3rem;
	}

	&--pink {
		background: $color-button-primary;
		color: $color-text-secondary;
		&:hover {
			background: $color-button-hover-primary;
			color: $color-text-secondary;
			box-shadow: $soft-shadow;
		}
	}

	&--black {
		background: $color-button-black;
		color: $color-text-secondary;
		&:hover {
			background: $color-button-hover-primary;
			color: $color-text-secondary;
			box-shadow: $soft-shadow;
		}
	}
}

.btn-text {
	display: inline-block;
	position: relative;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
	&__link {
		&,
		&:link,
		&:visited {
			font-size: 1.3rem;
			font-family: 'Nunito-sans';
			font-weight: 600;
			color: $color-links-primary;
		}
	}
	&::before {
		content: '';
		position: absolute;
		height: 2px;
		bottom: 0;
		left: 50%;
		width: 1px;
		background-color: $color-links-primary;
		transform: translateX(-50%);
		transition: transform 0.4s, opacity 0.3s ease-in-out;
		opacity: 0;
		transform-origin: center;
	}

	&:hover::before {
		opacity: 1;
		transform: scaleX(100);
		background-color: $color-links-primary;
	}
}
