.btn {
    &,
    &:link,
    &--style {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 400;
        font-family: "Nunito";
        transition: 0.2s;
        border: none;
    }

    &__primary {
        padding: 2rem 3rem;
    }

    &__secondary {
        padding: .7rem 3rem;
    }

    &--pink {
        background: $color-tertiary;
        color: $color-white;
        &:hover {
            // @include button-3d;
            background: $color-white;
            color: $color-tertiary;
        }
    }

    // &:active,
    // &:focus {
    //     outline: none;
    //     transform: translateY(2px);
    //     box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    // }

    &--black {
        background: $color-black2;
        color: $color-white;
        &:hover {
            box-shadow: $soft-shadow;
            background: $color-primary-light2;
            color: $color-black2;
        }
    }

    &--white {
        background: $color-white;
        color: $color-primary;
        &:hover {
            // @include button-3d;
            background: $accent-color3;
            color: $color-white;
        }
    }
}


.btn-text {
    display: inline-block;
    position: relative;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    &__link {
        &,
        &:link,
        &:visited {
            font-size: 1.3rem;
            font-family: "Nunito-sans";
            font-weight: 600;
            color: $color-secondary;
        }
    }
    &::before {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: $color-secondary;
        transform: translateX(-50%);
        transition:
            transform 0.4s,
            opacity 0.3s ease-in-out;
        opacity: 0;
        transform-origin: center;
    }

    &:hover::before {
        opacity: 1;
        transform: scaleX(100);
        background-color: $color-secondary;
    }
}
