.card-slider {
    position: absolute;
    // margin-bottom: 1rem;
    transform: translateY(-5rem);
    width: 34rem;
    height: 50rem;
    &__img {
        border-radius: 10px;
        box-shadow: $intense-shadow;
        display: block;
        &--1 {
            background-image: url(../../img/img_story_photo1.jpg);
        }
        &--2 {
            background-image: url(../../img/img_story_photo2.jpg);
        }
        &--3 {
            background-image: url(../../img/img_story_photo3.jpg);
        }
    }
}

.main-content {
    padding: 0 10rem;
}

.swiper-container {
    /* change container to overflow visible */
    overflow: visible;
    /* add enough padding to account for the shadow */
    padding: 0 2rem;
}

.my-swiper-wrapper {
    /* add the overflow to the outer wrapper */
    // overflow: hidden;
    /* add negative margin to counteract the padding */
    margin: -20px;
}
