.form-contact {
	padding: 2.4rem 2rem;
	line-height: 3.3rem;
	width: 100%;
	background-color: $color-background-muted;
	border-radius: 2rem;
	& > * {
		margin-bottom: 1rem;
		display: block;
	}
	&__policies {
		&--checkbox {
			width: fit-content;
			margin-right: 1rem;
		}
	}
	&__button {
		width: 100%;
	}
}
