.cta-banner {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	margin: 0 auto;

	&__socials-list {
		display: flex;
		gap: 1.3rem;
		justify-content: center;
	}

	&__icons {
		color: #555;

		&:hover {
			color: $color-icons-hover-secondary;
		}
	}
}
