.feature-box {
    height: 80rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    grid-auto-flow: column;
    box-shadow: $soft-shadow;

    &__block {
        height: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    &__img {
        height: 100%;
        border-radius: 2px;
        background-size: cover;
        transition: transform 1s ease;
        filter: blur(2);
        filter: brightness(0.55);
        transform: scale(1.05);

        &-1 {
            background-image: url(../../img/img_home1_small.jpg);
        }
        &-2 {
            background-image: url(../../img/img_home1_small.jpg);
        }
        &-3 {
            background-image: url(../../img/img_header2.jpg);
        }
        &-4 {
            background-image: url(../../img/img_header2.jpg);
        }
    }

    &__text {
        @include center-horizontal-vertical;
        color: $color-white;
        opacity: 0.6;
        transition: all 1s ease;
    }

    &__block:hover &__img {
        filter: blur(0);
        filter: brightness(1);
        transform: scale(1.2);
    }

    &__block:hover &__text {
        opacity: 1;
    }
}
