.heading-banner--pink,
.heading-banner--white {
    position: relative;
    padding-top: 3rem;
}

.heading-banner--pink::before,
.heading-banner--white::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 100%;
    z-index: 0;
    bottom: 0;
}

.heading-banner {
    &--pink {
        background: $color-primary-light;
        &::before {
            clip-path: polygon(15% 0%, 90% 0%, 75% 100%, 0% 100%);
        }
    }
    &--white {
        background: $color-primary-light;
        &::before {
            right: 0;
            clip-path: polygon(0 0, 85% 0, 100% 100%, 25% 100%);
        }
    }
}
