$base-path: "../../img";

%image-setting {
    background-size: cover;
    // background-repeat: no-repeat;
    backface-visibility: hidden;
}
%image-hover {
    transition: transform 0.6s ease;
    background-position: center;

    transform: scale(1.02);
    &:hover {
        transform: scale(1.08);
    }
}

.hover-card {
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    // box-shadow: $medium-shadow;

    &__img-hover {
        &--1 {
            @extend %image-setting;
            @extend %image-hover;
            background-position: top;
            height: 50rem;
            background-image: url(#{$base-path}/img_home2_small.jpg);
        }
        &--2 {
            height: 70rem;
            @extend %image-setting;
            @extend %image-hover;
            background-image: url(#{$base-path}/img-tarieven.jpg);
        }
        &--3 {
            height: 70rem;
            @extend %image-setting;
            @extend %image-hover;
            background-image: url(#{$base-path}/img-tarieven2.jpg);
        }
        &--4 {
            height: 40rem;
            @extend %image-setting;
            @extend %image-hover;
            background-image: url(#{$base-path}/img_festival-1.jpg);
        }
        &--5 {
            height: 40rem;
            @extend %image-setting;
            @extend %image-hover;
            background-image: url(#{$base-path}/img_festival-2.jpg);
        }
        &--6 {
            height: 40rem;

            @extend %image-setting;
            @extend %image-hover;
            @include background-image("/img-editorials.jpg")
        }

        &--7 {
            height: 40rem;

            @extend %image-setting;
            @extend %image-hover;
            @include background-image("/img-editorials2.jpg")
        }
    }

    &__img-zoom {
        @extend %image-setting;
        animation-name: moveInLeft, zoomAnimation;
        animation-duration: 1.5s, 5s;
        animation-iteration-count: 1, infinite;
        height: 100%;
        min-height: 70rem;

        &--1 {
            @include background-image("/bruiloftsmake-up_imgs/bruiloft-service-pic.jpg");
            background-position: center;
        }

        &--2 {
            @include background-image("/bruiloftsmake-up_imgs/bruiloft-service-pic2.jpg");
            background-position: 0 10%;
        }

        &--3 {
            @include background-image("/img_festival.jpg");
            background-position: bottom
        }

        &--4 {
            @include background-image("/img-beauty.jpg");
        }

        &--5 {
            background-position: center;
            @include background-image("/img-beauty2.jpg");
        }

        &--6 {
            background-position: center;
            @include background-image("/img_lashes.jpg");
        }
        
        &--7 {
            background-position: center;
            @include background-image("/img_editorials.jpg");
        }
    }
}
