.infinite-slider {
	mask-image: linear-gradient(
		90deg,
		transparent 1%,
		rgba(0, 0, 0, 1) 10%,
		rgba(0, 0, 0, 1) 95%,
		transparent 99%
	);
	&__slide {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	&__img {
		width: 50rem;
		height: 50rem;
		background-position: center;
		background-size: cover;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 20px;
		font-weight: bold;
		border-radius: 5px;
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
	}
}

.swiper-wrapper {
	-webkit-transition-timing-function: linear !important;
	-o-transition-timing-function: linear !important;
	transition-timing-function: linear !important;
}
