.container-price-card {
	max-width: $container-width-lg;
	margin: 0 auto;
	@include respond(tab-port) {
		width: 90%;
	}
}

.price-card-slider {
	margin-bottom: 5rem;
}

.price-card {
	background-color: $color-background-primary;
	// max-width: 20rem;
	padding: 4rem;
	border-radius: 2px;
	box-shadow: $minimal-shadow;
	position: relative;
	&__heading {
		width: 60%;
		margin: 0 auto;
		border-bottom: 1px solid $color-gray;
		position: relative;
		&::after {
			content: '';
			width: 20px;
			height: 20px;
			border-right: 1px solid $color-gray;
			border-bottom: 1px solid $color-gray;
			background: $color-background-primary;
			position: absolute;
			bottom: -11px;
			left: calc(50% - 10px);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	&__list {
		padding: 3rem 0;
		& > *:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	&__btn {
		position: absolute;
		bottom: 4rem;
		left: 50%;
		transform: translate(-50%);
	}
}

#cards-prices-beauty,
#cards-prices-bridal {
	// padding: 2rem;
	.swiper-pagination {
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			line-height: 20px;
			font-size: 12px;
			color: #000;
			opacity: 0.7;
			background: rgba(0, 0, 0, 0.2);
		}

		.swiper-pagination-bullet-active {
			color: #fff;
			background: $color-primary;
		}
	}
}
