.testimonials-container {
	display: grid;
	justify-content: center;

	@include respond(tab-port) {
		display: block;
	}
}

.testimonials {
	position: relative;
	background: $color-background-secondary;
	box-shadow: $medium-shadow;
	max-width: $container-width-sm;

	@include respond(tab-port) {
		width: 95vw;
	}

	padding: 1.5rem;
	justify-content: center;
	&::before {
		content: '';
		z-index: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: translate3d(1rem, 1rem, 0) scale(0.88);
		filter: blur(20px);
		opacity: 9;
		transition: opacity 0.98s;
		border-radius: inherit;
		background: $color-background-muted;
		opacity: 0.5;
	}

	&__swiper {
		width: 100%;
		height: 100%;
		border-radius: 3px;

		&__card {
			background: $color-background-primary;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			height: 28rem;
			padding: 15rem 0;

			@include respond(tab-port) {
				height: 40rem;
			}

			@include respond(phone) {
				height: 50rem;
			}

			&::before {
				content: '\201C';
				position: absolute;
				top: -1.75rem;
				left: 5rem;
				line-height: 1;
				font-size: 20rem;
				color: $color-gray;
				opacity: 0.5;
				font-family: sans-serif;
				z-index: 1;
			}
		}
	}
	&__text {
		padding: 0 10rem;
		@include respond(phone) {
			padding: 0 5rem;
		}
	}
	&__reviewer {
		display: flex;
		align-items: center;
		justify-content: center;
		&__name {
			margin-left: 2rem;
			color: $color-background-secondary;
			font-weight: 800;
			font-size: 1.4rem;
		}
		&__img {
			clip-path: ellipse(42% 50% at 50% 50%);
		}
	}
}

#default-slider {
	.swiper-pagination {
		margin-bottom: 2.2rem;
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			line-height: 20px;
			font-size: 12px;
			color: #000;
			opacity: 1;
			background: rgba(0, 0, 0, 0.2);
		}

		.swiper-pagination-bullet-active {
			color: #fff;
			background: $color-icons-active;
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		--swiper-navigation-size: 3rem;
		--swiper-navigation-sides-offset: 2rem;
		transition: transform 0.3s;
		color: $color-gray;
		&:hover {
			color: $color-icons-hover-primary;
		}
	}
	.swiper-button-next {
		&:hover {
			transform: translateX(-0.2rem);
		}
	}
	.swiper-button-prev {
		&:hover {
			transform: translateX(0.2rem);
		}
	}
}
