.services {
    height: 90rem;
    background-image: linear-gradient(to right bottom, $color-primary, $color-tertiary);
    display: block;
    cursor: pointer;

    &__container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: white;
        grid-auto-flow: column;
    }

    &__block {
        height: 100%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    &__img {
        height: 100%;
        border-radius: 2px;
        background-size: cover;
        transition: transform 1s ease;
        filter: blur(2);
        filter: brightness(0.55);
        transform: scale(1.05);

        &-1 {
            background-image: url(../../img/img_home1_small.jpg);
        }
        &-2 {
            background-image: url(../../img/img_home1_small.jpg);
        }
        &-3 {
            background-image: url(../../img/img_header2.jpg);
        }
        &-4 {
            background-image: url(../../img/img_header2.jpg);
        }
    }

    &__text {
        @include center-horizontal-vertical;
        color: $color-white;
        opacity: 0.6;
        transition: all 1s ease;

        &--paragraph {
            padding: 3rem 0;
        }
    }

    &__block:hover &__img {
        filter: blur(0);
        filter: brightness(1);
        transform: scale(1.2);
    }

    &__block:hover &__text {
        opacity: 1;
    }
}
