.icons {
	transition: all 0.3s;
	&:hover {
		transform: translateY(-2px);
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(2px);
	}

	&--lg {
		font-size: 2.8rem;
	}

	&--md {
		font-size: 2.4rem;
	}

	&--sm {
		font-size: 1.6rem;
	}

	&--black {
		color: #555;
		&:hover {
			color: $color-icons-hover-primary;
		}
	}
}

.fa-map-marker,
.fa-envelope {
	color: $color-icons-secondary;
	display: inline-block;
}

.icon {
	color: $color-icons-primary;
	transition: color 0.3s;
	cursor: pointer;
	&:hover {
		color: $color-icons-hover-black;
	}
}
