.fa-brands {
    filter: opacity(0.6) grayscale(100);
    transition: all 0.3s;
    // box-shadow: $minimal-shadow;
    &:hover {
        transform: translateY(-2px);
        // box-shadow: $medium-shadow;
        color: $color-secondary-dark;
        transform: scale(1.2);
        filter: opacity(0.9) grayscale(0);
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(2px);
        // box-shadow: $soft-shadow;
    }
}

.fa-map-marker,
.fa-envelope {
    color: $color-tertiary;
    display: inline-block;
}

.fa-solid {
    color: $color-white;
}