.icons {
	transition: all 0.3s;
	&:hover {
		transform: translateY(-2px);
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(2px);
	}

	&--lg {
		font-size: 2.8rem;
	}

	&--md {
		font-size: 2.4rem;
	}

	&--sm {
		font-size: 1.6rem;
	}

	&--black {
		color: #555;
		&:hover {
			color: $color-icons-hover-primary;
		}
	}
}

.icon {
	&--sm {
		height: 1.6rem;
	}

	&--md {
		height: 2rem;
	}

	&--lg {
		height: 3.2rem;
	}

	&--black {
		transition: all 0.15s;

		color: #999;
		&:hover {
			transform: translateY(-1px);

			color: $color-icons-hover-secondary;
		}

		&:active,
		&:focus {
			outline: none;
			transform: translateY(1px);
		}
	}

	&--pink {
		color: $color-icons-quaternary;
	}
}
