.story {
    height: 50vh;
    display: block;
    background-image: linear-gradient(
        to top left,
        ($color-primary-light 78%, $color-primary-dark 95%)
    );
    overflow: clip;
    overflow-clip-margin: 2rem;
    // &__video {
    //     margin-top: -10rem;
    //     object-fit: cover;
    //     background-position: center;
    //     filter: grayscale(100);
    //

    &__img {
        transform: translateY(-15rem);
    }

    &__right {
        padding: 3rem;
        color: $color-primary-dark;
        text-align: center;
        display: inline-block;
        margin: 0 auto;

        &--paragraph {
            padding: 4rem 0;
            color: #6d6d6d;
        }
    }

    &__btn {
        display: block;
        width: fit-content;
        margin: 2rem auto;
    }
}

.images {
    border-radius: 2px;
    background-size: cover;
}
