.story {
    background-image: linear-gradient(
        to top left,
        ($color-primary-light 78%, $color-primary-dark 95%)
    );
    overflow: clip;
    // overflow-clip-margin: 5rem;
    // &__video {
    //     margin-top: -10rem;s
    //     background-position: center;zz
    //     filter: grayscale(100);
    //
    &__img {
        grid-row: 1;
        transform: translateY(2rem);
        border-radius: 2px;
        height: 100%;
        background-size: cover;
        box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
    }

    &__right {
        grid-row: 1;
        padding: 4rem;
        color: $color-primary-dark;
        text-align: center;
        display: block;
        align-self: center;

        &--paragraph {
            padding: 4rem 0;
            color: #6d6d6d;
            // overflow: scroll;
            // overflow-wrap: break-word;
            hyphens: auto;
        }
    }

    &__btn {
        display: block;
        width: fit-content;
        margin: 2rem auto;
    }

    &__second-row {
        height: 10rem;
        background-color: $color-white;
    }
}
