.text-block {
    display: block;
    text-align: center;
    &--left {
        color: $color-white;
        padding: 5rem 0;
    }
    &--right {
        grid-column: 2;
        padding: 5rem 0;
        justify-self: end;
    }
}
