.time-table {
	height: 100%;
	background-color: $color-secondary;
	padding: 2rem;
	display: grid;
	grid-template-rows: auto 1fr auto;
	max-width: 40rem;

	&__socials-list {
		display: flex;
		gap: 2rem;
		justify-content: center;
	}

	&--icons {
    font-size: 1.8rem;
	}

	@include respond(tab-land) {
		margin: 0 auto;
	}
}
