.time-table {
	height: 100%;
	background-color: $color-secondary;
	padding: 4rem 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	max-width: 40rem;

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__socials-list {
		display: flex;
		gap: 2rem;
		justify-content: center;
	}

	&--icons {
		font-size: 2.8rem;
		color: $color-icons-primary;
	}

	@include respond(tab-land) {
		margin: 0 auto;
	}
}
