.time-table {
	height: 100%;
	background-color: $color-background-secondary;
	padding: 4rem 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	max-width: 40rem;
	gap: 3.5rem;

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__socials-list {
		display: flex;
		gap: 2rem;
		justify-content: center;
	}

	&--icons {
		color: $color-icons-muted;

		&:hover {
			color: $color-icons-hover-black;
		}
	}
	@include respond(tab-land) {
		margin: 0 auto;
	}
}
