.footer {
    padding-top: 8rem;

    width: 100%;
    // background-color: $color-black;
    display: block;
    text-align: center;
    background-color: $color-white;
    &__link {
        color: $color-black;
        &:hover {
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(
                to bottom,
                $color-primary,
                $color-secondary
            );
        }
    }
    &__section:not(:last-of-type) {
        border: none;
        border-right: 1px solid $color-black;
    }

    &__list {
        text-align: start;
        padding: 2rem 2rem;
        &__item {
            list-style: none;
        }
    }

    &__autograph {
        font-size: 1.2rem;
        color: $color-gray;
        padding: 4rem;
    }

    &__copyright {
        margin-right: 2rem;
    }
}
