.footer {
    width: 100%;
    // background-color: $color-black;
    display: block;
    text-align: center;

    &__link {
        text-decoration: none;
        color: $color-black;
        &:hover {
            color: $color-primary-dark2;
        }
    }
    &__section:not(:last-of-type) {
        border-right: 2px double $color-tertiary;
    }

    &__list {
        text-align: start;
        padding: 2rem 2rem;
        &__item {
            list-style: none;
        }
    }

    &__autograph {
        font-size: 1.2rem;
        color: $color-gray;
        padding: 4rem;
    }

    &__copyright {
        margin-right: 2rem;
    }
}
