.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    .grid-col-1-of-2 {
        width: 70%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 1fr 2fr;
        column-gap: $gutter-horizontal;
    }

    .grid-col-2-of-2 {
        width: 70%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 1fr 2fr;
        column-gap: $gutter-horizontal;
    }

    .grid-col-1-of-3 {
        width: 70%;
        display: grid;
        margin: 0 auto;
        column-gap: $gutter-horizontal;
        grid-template-columns: repeat(3, 1fr);
    }
    // justify-content: center;
}
