@import '../../../node_modules/flexbin/flexbin.scss';

.one-col {
	@include generate-grid(1fr);
}

.two-col {
	@include generate-grid(repeat(2, 1fr));
}

.two-col-1-2 {
	@include generate-grid(1fr 2fr);
}

.two-col-2-1 {
	@include generate-grid(2fr 1fr);
	@include respond(tab-port) {
		grid-template-columns: none;
		grid-template-rows: repeat(2, auto);
	}
}

.three-col {
	@include generate-grid(repeat(3, 1fr));
	@include respond(tab-port) {
		grid-template-columns: none;
		grid-template-rows: repeat(3, auto);
	}
}

.four-col {
	@include generate-grid(repeat(4, 1fr));
	@include respond(tab-port) {
		grid-template-columns: none;
		grid-template-rows: repeat(4, auto);
	}
}

.five-col {
	@include generate-grid(repeat(5, 1fr));
	@include respond(tab-port) {
		grid-template-columns: none;
		grid-template-rows: repeat(5, auto);
	}
}

footer .row .four-col {
	@include respond(tab-port) {
		gap: 0;
	}
}

/////////////////////////////////////////////////////////////////////////////
/// Flexbin GALLERY

.my-flexbin {
	@include flexbin(100px, 8px);
}

.my-flexbin-large {
	@include flexbin(400px, 20px);

	@media (max-width: 768px) {
		@include flexbin(200px, 10px);
	}
}
