$grid-width: 100%;
$inner-grid-width: 70%;
$gutter-vertical: 1rem;
$gutter-horizontal: 4rem;

%grid {
    max-width: $inner-grid-width;
    display: grid;
    margin: 0 auto;
    gap: $gutter-horizontal;
    @include respond(big-desktop) {
        // width > 1800?
        max-width: 50%; //1rem = 12px, 12/16 = 75%
        gap: 4.4rem;
    }
    @include respond(desktop) {
        // width > 1500?
        max-width: 75%; //1rem = 12px, 12/16 = 75%
        gap: 3.2rem;
    }
    
    @include respond(tab-land) {
        // width < 1200?
        max-width: 85%; // 1rem = 8px, 8/16 = 50p%
        gap: 2.4rem;
    }

    @include respond(tab-port) {
        // width < 900?
        max-width: 85%; // 1rem = 8px, 8/16 = 50p%
        gap: 8rem;
        // justify-items: center;
    }
    @include respond(phone) {
        // width < 1200?
        max-width: 90%; //1 rem = 9px, 9/16 = 56.25%
    }
}

%even-grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: $gutter-horizontal;
    @include respond(tab-port) {
        grid-template-columns: none;
        grid-template-rows: none;
    }
}

%four-grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: $gutter-horizontal;

    @include respond (tab-port) {
        grid-template-columns: none;       
        grid-template-rows: repeat(4, auto);
     
    }
}

%one-grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: $gutter-horizontal;

}

.row {
    max-width: $grid-width;
    margin: 0 auto;

    .grid-col-1-of-1 {
        @extend %one-grid;
        &--wide {
            @extend %one-grid;
            width: 75%;
            @include respond (tab-land) {
                width: 85%
            }
            @include respond (tab-port) {
                width: 98%
            }
        }
        &--narrow {
            @extend %one-grid;
            width: 40%;
        }
    }

    .grid-col-1-of-2 {
        @extend %grid;
        grid-template-columns: 1fr 2fr;
    }
    .grid-col-1-of-3 {
        @extend %grid;
        grid-template-columns: repeat(3, 1fr);
        @include respond(tab-port) { 
            grid-template-columns: none;
            grid-template-rows: repeat(3, auto);
        }
    }

    .grid-col-1-of-4 {
        @extend %grid;
        grid-template-columns: repeat(4, 1fr);

        @include respond(tab-port) { 
            grid-template-columns: none;
            grid-template-rows: repeat(4, auto);
        }

        &--wide {
            @extend %four-grid;
            width: 80%;
            
        @include respond(tab-land) {
            width: 95%
        }    
        }
    }

    .grid-col-2-of-2 {
        @extend %grid;
        grid-template-columns: 2fr 1fr;
        
        
        @include respond(tab-port) { 
            grid-template-columns: none;
            grid-template-rows: repeat(2, auto)
        }


        
        &--narrow { 
            @extend %even-grid;
            width: 65%;

            @include respond(big-desktop) { 
                width: 55%;
            }
            @include respond(desktop) { 
                width: 75%
            }
            @include respond(tab-land) {
                width: 80%
            }
            @include respond(tab-port) {
                width: 90%
            }
            
        }
        &--very-narrow {
            @extend %even-grid;
            width: 45%;
        }
        &--even {
            @extend %even-grid;
            width: 70%;

            .col2 {
                grid-column: 2;
            }
        }
    }
}

footer .row .grid-col-1-of-4 {
    @include respond (tab-port) {
    gap: 0;
    }
}

.col2 {
    grid-column: 2;
}
// Desktop, large screen devices
$flexbin-row-height: 500px; // height of image rows
$flexbin-space: 3px; // space between images

// Tablet, medium screen devices
$flexbin-tablet-max: 800px;
$flexbin-row-height-tablet: 300px;
$flexbin-space-tablet: 8px;

// Phone, small screen devices
$flexbin-phone-max: 200px;
$flexbin-row-height-phone: 200px;
$flexbin-space-phone: 4px;

@import "../../../node_modules/flexbin/flexbin.scss";
.my-flexbin {
    @include flexbin(100px, 8px);
}

.my-flexbin-large {
    @include flexbin(400px, 20px);

    @media (max-width: 768px) {
        @include flexbin(200px, 10px);
    }
}
