.header {
    &__swiper {
        top: 0;
        height: 100vh;
    }

    &__img {
        filter: brightness(0.9);
        background-position: 0% 10%;
        background-size: cover;

        &--1 {
            background-image: url(../../img/img_home1.jpg);
        }
        &--2 {
            background-image: url(../../img/img_header2_4k.jpg);
        }
        &--3 {
            background-image: url(../../img/img_header3.jpg);
        }
    }
    &__button {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: all 0.4s ease-in;
    }

    &:hover &__button {
        opacity: 1;
    }
}

.portfolio-header {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 0;
    background-image: url(../../img/img_header3-compressed-1980.jpg);
    &::after {
        @include layer-behind;
        @include center-horizontal-vertical;
        background-color: rgba($color-black, 0.3);
        backdrop-filter: blur(1.1);
        height: 100%;
        width: 100%;
    }
    &__text {
        color: rgba($color-white, 0.5);
        text-shadow: $minimal-shadow;
        font-size: 30rem;
        transform: perspective(500px) rotateX(-2eg);
        & {
        }
    }
}

.bruidsmake-up-banner {
    &--top {
        height: 82.5rem;
        background-image: url(../../img/Bruiloftsmake-up_imgs/bruiloft-bg.jpg);
        top: 0;
    }
    &--middle {
        filter: brightness(0.4) blur(1);
        height: 47.5rem;
        background-image: url(../../img/Bruiloftsmake-up_imgs/bruiloft-middle-bg.webp);
    }
}
