%header {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 60vh;
	top: 0;
}

%banner-height {
	height: 60rem;
}

%diensten-banner-height {
	position: relative;

	height: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-banner-slider {
	&__swiper {
		min-height: 60rem;
		height: 60rem;
		position: relative;
	}

	&__img {
		background-position: center;
		background-size: cover;
		transform: scale(1);

		&--1 {
			@include background-image('banners/home-banner-01@1800w.jpg');
		}
		&--2 {
			@include background-image('banners/editorials-banner-02@1600w.jpg');
		}
		&--3 {
			@include background-image('banners/beauty-banner@1600w.jpg');
		}
		&--4 {
			@include background-image('contact/editorials-banner@1600w.jpg');
		}
	}
}

.bruidsmake-up-banner {
	&--1 {
		@extend %diensten-banner-height;
		@include background-image('/banners/banner-bridal-01@2000w.jpg');
		background-position: 60% 50%;
	}
	&--2 {
		@extend %diensten-banner-height;
		@include background-image('/banners/banner-bridal-03@2000w.jpg');
	}
	&--bottom {
		@extend %diensten-banner-height;
		@include background-image('/banners/banner-bridal-03@2000w.jpg');
	}
}

.bruidsmake-up-banner,
.beauty-en-party-banner {
	&--2 {
		z-index: 1;
		color: $color-text-secondary;
		&::before {
			position: absolute;
			z-index: -1;
			content: '';
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.4;
		}
	}
}

.festival-banner {
	position: relative;
	@extend %diensten-banner-height;
	@include background-image('/banners/festival-banner@1600x900.jpg');
	background-position: 50% -30%;
}

.beauty-en-party-banner {
	&--1 {
		@extend %diensten-banner-height;
		@include background-image('banners/beauty-banner@1600w.jpg');
		top: 0;
	}
	&--2 {
		@extend %diensten-banner-height;
		@include background-image('banners/beauty-banner-middle@1600w.jpg');
	}
}

.lashes-en-brows-banner {
	@extend %diensten-banner-height;
	top: 0;
	@include background-image('banners/lashes-banner@1600w.jpg');
}

.editorials-banner {
	&--1 {
		@extend %diensten-banner-height;
		@include background-image('banners/editorials-banner-01@2000w.jpg');
		top: 0;
	}
	&--2 {
		@extend %diensten-banner-height;
		@include background-image('banners/editorials-banner-02@2000w.jpg');
	}
}

.portfolio-banner {
	@extend %banner-height;
	@include background-image('banners/portfolio-banner@1600w.jpg');
}

.tarieven-banner {
	@extend %banner-height;
	@include background-image('banners/tarieven-banner@1600w.jpg');
	background-position: 0%;
	position: relative;

	&__text-box {
		z-index: 10;
		color: $color-white;
		background-color: $color-black;
		opacity: 0.9;
		position: absolute;
		bottom: 0%;
		width: $container-width-xs;
		right: 0%;
		padding: 4rem;
		@include respond(phone) {
			width: 100%;
		}
	}
}

.contact-me-banner {
	@extend %banner-height;
	@include background-image('banners/contact-me-banner@1600w.jpg');
}
