.banner {
	position: relative;
	height: 50rem;
	&__bruidsmake-up {
		&--1 {
			@include banner-image('/banners/banner-bridal-01');
			background-position: 60% 50%;
		}
		&--2 {
			@include banner-image('/banners/banner-bridal-02');
		}
	}

	&__beauty-en-party {
		&--1 {
			@include banner-image('banners/beauty-banner-01');
			top: 0;
		}
		&--2 {
			@include banner-image('banners/beauty-banner-02');
		}
	}

	&__festival {
		@include banner-image('/banners/festival-banner');
		background-position: 50% -30%;
	}

	&__lashes-en-brows {
		@include banner-image('banners/lashes-banner');
	}

	&__editorials {
		@include banner-image('banners/editorials-banner');
	}

	&__portfolio {
		@include banner-image('banners/portfolio-banner');
		background-position: 35% 0%;
	}

	&__tarieven {
		@include banner-image('banners/tarieven-banner');
		background-position: 30% 20%;
	}

	&__contact-me {
		@include banner-image('banners/contact-me-banner');
	}

	&--card {
		position: relative;
		padding: 3rem;
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			inset: 0;
			background-color: #000;
			opacity: 0.3;
			border-radius: 30px;
		}
	}

	&--card-container {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color-text-secondary;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			inset: 0;
			background-color: #000;
			opacity: 0.2;
		}
	}
}

.home-banner-slider {
	&__swiper {
		min-height: 40rem;
		height: 60vh;
		position: relative;
	}

	&__img {
		background-position: center;
		background-size: cover;
		transform: scale(1);

		&--1 {
			@include banner-image('banners/home-banner-01');
		}
		&--2 {
			@include banner-image('banners/home-banner-02');
		}
		&--3 {
			@include banner-image('banners/beauty-banner-01');
		}
		&--4 {
			@include banner-image('banners/portfolio-banner');
		}
	}
}
