.nav-mobile {    
    display: block;
    width: 40%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba($color-black , .98);
    z-index: 50;
    transform: translateX(100%);
    transition: transform .4s ease-in;
    &__toggle {
        float: right;
        padding: 3rem 3rem 0 0;
        cursor: pointer;
    }

    &__menu {
        display: flex;
        width: 100%;
        height: 100%;
        padding-left: 2rem;

        a {
            color: $color-white;
        }

        &--items {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        &--item {
            
        }
    }
}

@media screen and (min-width: 900px) {
    .nav-mobile {
        display: none;
    }
}