.nav-mobile {
	display: block;
	width: $container-width-3xs;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	background-color: rgba($color-black, 0.99);
	z-index: 999;
	transform: translateX(100%);
	transition: transform 0.4s ease-in;
	&__toggle {
		position: absolute;
		top: 3.5rem;
		right: 2.4rem;
		font-size: 1.8rem;
		color: $color-white;
		cursor: pointer;
	}

	&__menu {
		width: 100%;
		height: 100%;
		padding-left: 3rem;

		a {
			color: $color-white;
			font-size: $font-size-md;
		}

		&--items {
			height: 100%;
			flex-direction: column;
			justify-content: space-around;
			margin-top: 10rem;
		}

		&--item {
			margin: 2rem 0;
			height: 20px;
		}

		&--item:nth-child(2) {
			overflow: hidden;
			transition: height ease-in 0.3s;
		}

		&--arrow {
			float: right;
			margin-right: 2rem;
			color: white;
		}
	}

	&__submenu {
		&--link {
			margin: 0.8rem 0 0.5rem 3rem;
		}
	}
}

@media screen and (min-width: 900px) {
	.nav-mobile {
		display: none;
	}
}
