// HEADINGS
.heading {
	&-primary {
		@include heading(
			$font-size-xl,
			$font-weight-bold,
			$font-size-xl * 1.15
		);
		&--italic {
			font-style: italic;
			font-weight: $font-weight-normal;
		}
	}

	&-secondary {
		@include heading(
			$font-size-2xl,
			$font-weight-bold,
			$font-size-2xl * 1.15
		);
		&--italic {
			font-style: italic;
			font-weight: $font-weight-normal;
			// margin-bottom: $margin-md;
		}
	}

	&-tertiary {
		@include heading($font-size-md, $font-weight-bold, $font-size-md * 1.3);
	}

	&-uppercase {
		text-transform: uppercase;
		@include heading($font-size-lg, $font-weight-bold, $font-size-lg * 1.3);
	}

	&-sub {
		font-family: $font-sub-headings;
		@include heading(
			$font-size-md,
			$font-weight-normal,
			$font-size-md * 1.2
		);
	}

	&-color {
		&--primary {
			color: $color-text-primary;
		}
		&--secondary {
			color: $color-text-secondary;
		}
		&--accent {
			color: $color-header-highlight;
		}
	}

	&-primary,
	&-secondary,
	&-tertiary,
	&-uppercase {
		font-family: $font-headings;
		margin-bottom: $margin-md;
	}
}

// MENU LINKS

// DIVIDERS

.sm-divider {
	width: 5rem;
	height: 0.8rem;
	border-top: 5px solid pink;
	// border: none;
	&:not(:last-child) {
		padding-bottom: $margin-md;
	}

	&--black {
		border-color: $color-border-black;
	}

	&--white {
		border-color: $color-border-white;
	}

	&--pink {
		border-color: $color-border-primary;
	}
}

// PARAGRAPHS

.paragraph {
	&:not(:last-child) {
		margin-bottom: $margin-md;
	}
}

.text-highlight {
	color: $color-text-highlight;
	text-decoration: none;
	font-weight: $font-weight-normal;
	transition: all 0.2s;
}

.text-link {
	color: #603e3a;
	font-weight: $font-weight-bold;
	text-decoration: none;
	transition: color 0.3s ease;
}

.upper {
	text-transform: uppercase;
}
